<mat-table #table class="table" [dataSource]="dataSource" [@animateStagger]="{value:'50'}" dir="rtl">
    <ng-container matColumnDef="name" sticky='true'>
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
            <p>نام</p>
        </mat-header-cell>
        <mat-cell *matCellDef="let depopsit" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{depopsit.name}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sum">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
            <p>جمع</p>
        </mat-header-cell>
        <mat-cell *matCellDef="let bond" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{bond.sum|price}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dayPrice">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
            <p>قیمت پایانی</p>
        </mat-header-cell>
        <mat-cell *matCellDef="let bond" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{bond.dayPrice|price}}
            </p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="averageInterst">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
            <p>میانگین</p>
        </mat-header-cell>
        <mat-cell *matCellDef="let bond" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{bond.averageInterst}}
            </p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="percentOfTotal">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
            <p>درصد کل</p>
        </mat-header-cell>
        <mat-cell *matCellDef="let bond" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{bond.percentOfTotal}}
            </p>
        </mat-cell>
    </ng-container>


    <ng-container *ngFor="let bank of _COD.columnSet" [matColumnDef]="bank">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
            <p>{{bank}}</p>
        </mat-header-cell>
        <mat-cell *matCellDef="let bond" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{bond[bank]|price}}
            </p>
        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>

<!-- CONTENT -->
<div class="content p-24">
    <div fxLayout=row>
        <div fxFlex="33">
            <div>نهاد</div>
            <div id="NahadPieChart"></div>
        </div>
        <div fxFlex="33">
            <div>‌بانک</div>
            <div id="BankPieChart"></div>
        </div>
        <div fxFlex="33">
            <div>نرخ</div>
            <div id="NerkhPieChart"></div>
        </div>
    </div>
    <div fxLayout=row>
        <div id="terendCODChart"></div>
    </div>
</div>

<!-- / CONTENT -->