:host::ng-deep {
    .mat-cell {
        min-width: 150px;
    }

    .mat-header-cell {
        min-width: 150px;
    }

    .table {
        overflow: scroll;
    }

    .mat-header-row {
        width: fit-content;
    }

    .mat-row {
        width: fit-content;
        overflow: initial;
    }
}

.mat-column-name {
    min-width: 300px;
    right: 0;
    position: sticky;
    top: 0;
    background-color: white;
}

#NahadPieChart,
#NerkhPieChart,
#BankPieChart {
    max-height: 45vh;
    overflow: scroll;
    direction: ltr;
}

#terendCODChart {
    height: 50vh;
    width: 100%;
    direction: ltr;
}
