<div id="table-container">
    <div style="display: flex; padding: 0 30px;align-items: center">
        <h1>دسته‌بندی‌ها</h1>
        <div style="margin-right: auto">
            <ng-content></ng-content>
        </div>
    </div>

    <mat-divider></mat-divider>

    <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}" style="padding: 40px;">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
                <mat-form-field>
                    <input matInput class="form-field" [formControl]="searchInput" placeholder="نام دسته بندی">
                </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let category" (click)="editOperator(category)">
                <p class="text-truncate font-weight-600">{{category.name}}</p>
            </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="keyword">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>کلیدواژه</mat-header-cell>
            <mat-cell *matCellDef="let category" fxHide fxShow.gt-sm>
                <p class="email text-truncate">
                    {{category.keyword}}
                </p>
            </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>حذف </mat-header-cell>
            <mat-cell *matCellDef="let category" fxHide fxShow.gt-sm>
                <button mat-raised-button color="warn" (click)="delete(category._id)">حذف</button>
            </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
</div>