<div class="page-layout">
    <app-header pageTitle="{{ title }}">
        <div>
            <button
                *ngIf="!inEdit && flows?.data?.length > 0 && flows.state === 'PRESENT'"
                (click)="onCreate()"
                color="primary"
                style="margin-left: 10px"
                mat-raised-button
            >
                ذخیره
            </button>
            <button
                *ngIf="inEdit && flows?.data?.length > 0 && flows.state === 'PRESENT'"
                (click)="onEdit()"
                color="primary"
                style="margin-left: 10px"
                mat-raised-button
            >
                بروزرسانی
            </button>
            <a [routerLink]="[back ? back : '/op-risk/management']" color="accent" mat-raised-button>
                <mat-icon>arrow_back</mat-icon>
            </a>
        </div>
    </app-header>

    <div fxLayout="column wrap" class="page-content" dir="rtl" *ngIf="show && flows?.data?.length > 0 && flows.state === 'PRESENT'" style="overflow: auto">
        <div class="form" [formGroup]="form">
            <div fxLayout="row" fxLayoutAlign="space-evenly center" *ngIf="!inAdd">
                <div fxLayout="column" fxFlex="95" fxLayoutAlign="space-evenly none">
                    <mat-horizontal-stepper linear [selectedIndex]="stepIndex" style="width: 100%">
                        <mat-step *ngFor="let step of steps">
                            <ng-template matStepLabel>
                                <div style="font-size: 12px">
                                    {{ step.action }}
                                </div>
                                <div style="font-size: 11px">
                                    {{ step.username }}
                                </div>
                                <div style="font-size: 11px">
                                    {{ step.createdAt }}
                                </div>
                            </ng-template>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>

            <div class="fuse-card" style="margin-top: 20px; padding-top: 20px">
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" style="padding: 0 20px">
                    <div fxLayout="column" fxFlex="200px" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>عنوان ریسک</mat-label>
                            <input matInput formControlName="title" required />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="200px" fxLayoutAlign="space-evenly none">
                        <mat-form-field *ngIf="inAdd" appearance="outline">
                            <mat-label>گروه دسترسی</mat-label>
                            <mat-select formControlName="flow" required>
                                <mat-option *ngFor="let flow of flows.data" [value]="flow.flowId">
                                    {{ flow.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="!inAdd">
                            <mat-label>گروه دسترسی</mat-label>
                            <input matInput formControlName="flow" [value]="form.value.flow.name" required />
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="fuse-card" style="margin: 20px 0; padding: 20px">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div style="z-index: 10" fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none" class="tree-select-container">
                        <button (click)="getTrees(trees[0].id, 0)" style="margin-left: 10px" mat-raised-button>
                            {{ trees[0].name }}
                        </button>

                        <app-tree-select *ngIf="trees[0].data" [data]="trees[0].data" formControlName="organizationCharts" class="tree-select">
                        </app-tree-select>
                    </div>

                    <div style="z-index: 10" fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none" class="tree-select-container">
                        <button (click)="getTrees(trees[1].id, 1)" style="margin-left: 10px" mat-raised-button>
                            {{ trees[1].name }}
                        </button>

                        <app-tree-select [data]="trees[1].data" formControlName="owners" class="tree-select"></app-tree-select>
                    </div>

                    <div style="z-index: 10" fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none" class="tree-select-container">
                        <button (click)="getTrees(trees[2].id, 2)" style="margin-left: 10px" mat-raised-button>
                            {{ trees[2].name }}
                        </button>

                        <app-tree-select [data]="trees[2].data" formControlName="processes" class="tree-select"></app-tree-select>
                    </div>

                    <div style="z-index: 9" fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none" class="tree-select-container">
                        <button (click)="getTrees(trees[3].id, 3)" style="margin-left: 10px" mat-raised-button>
                            {{ trees[3].name }}
                        </button>

                        <app-tree-select [data]="trees[3].data" formControlName="businessLines" class="tree-select"></app-tree-select>
                    </div>

                    <div style="z-index: 9" fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none" class="tree-select-container">
                        <button (click)="getTrees(trees[4].id, 4)" style="margin-left: 10px" mat-raised-button>
                            {{ trees[4].name }}
                        </button>

                        <app-tree-select [data]="trees[4].data" formControlName="products" class="tree-select"></app-tree-select>
                    </div>

                    <div style="z-index: 9" fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none" class="tree-select-container">
                        <button (click)="getTrees(trees[5].id, 5)" style="margin-left: 10px" mat-raised-button>
                            {{ trees[5].name }}
                        </button>

                        <app-tree-select [data]="trees[5].data" formControlName="levels" class="tree-select"></app-tree-select>
                    </div>

                    <div fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none">
                        <div class="form-container">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>نوع متوسط رخداد</mat-label>
                                <mat-select formControlName="averageIncomeType" required>
                                    <mat-option [value]="'daily'">روزانه</mat-option>
                                    <mat-option [value]="'monthly'">ماهانه</mat-option>
                                    <mat-option [value]="'annual'">سالانه</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none">
                        <div class="form-container">
                            <mat-form-field appearance="outline">
                                <mat-label>میانگین متوسط رخداد</mat-label>
                                <input matInput formControlName="averageIncome" type="number" required />
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none">
                        <mat-form-field *ngIf="showParent" appearance="outline">
                            <mat-label>رویداد مولد</mat-label>
                            <mat-select (click)="getParents()" formControlName="parents" multiple>
                                <mat-option *ngFor="let parent of parents" [value]="parent.id">
                                    {{ parent.title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="fuse-card" style="margin: 20px 0; padding: 20px">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div style="z-index: 8" fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none" class="tree-select-container">
                        <button (click)="getTrees(trees[6].id, 6)" style="margin-left: 10px" mat-raised-button>
                            {{ trees[6].name }}
                        </button>

                        <app-tree-select required [data]="trees[6].data" formControlName="drivers" class="tree-select"></app-tree-select>
                    </div>

                    <div fxLayout="column" fxFlex="66" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>شرح محرکه عملیاتی</mat-label>
                            <input matInput formControlName="driversDescription" />
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="fuse-card" style="margin: 20px 0; padding: 20px">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                    <div fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>کنترل های عملیاتی</mat-label>
                            <mat-select formControlName="control" required [disabled]="!inAdd">
                                <mat-option [value]="'available'">وجود</mat-option>
                                <mat-option [value]="'unavailable'">عدم وجود</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="fuse-card" style="margin: 20px 0; padding: 20px" *ngIf="form.value.control === 'available'">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>نوع کنترل های عملیاتی</mat-label>
                            <mat-select formControlName="controlType" required>
                                <mat-option [value]="'preEvent'">پیش رویدادی</mat-option>
                                <mat-option [value]="'postEvent'">پس رویدادی</mat-option>
                                <mat-option [value]="'editing'">اصلاحی</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>شرح کنترل عملیاتی</mat-label>
                            <input matInput formControlName="controlDescription" required *ngIf="!inAdd" />
                            <input matInput formControlName="controlDescription" required *ngIf="inAdd" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>میانگین هزینه کنترل عملیاتی</mat-label>
                            <input matInput formControlName="controlValue" type="number" required />
                        </mat-form-field>
                    </div>

                    <div style="z-index: 7" fxLayout="column" fxFlex="33" fxLayoutAlign="space-evenly none" class="tree-select-container">
                        <button (click)="getTrees(trees[7].id, 7)" style="margin-left: 10px" mat-raised-button>
                            {{ trees[7].name }}
                        </button>

                        <app-tree-select required [data]="trees[7].data" formControlName="controlClassification" class="tree-select"> </app-tree-select>
                    </div>
                </div>
            </div>

            <div class="fuse-card" style="margin: 20px 0; padding: 20px">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div style="z-index: 6; margin-bottom: 20px" fxFlex="33" fxLayout="column" fxLayoutAlign="space-evenly none" class="tree-select-container">
                        <button (click)="getTrees(trees[8].id, 8)" style="margin-left: 10px" mat-raised-button>
                            {{ trees[8].name }}
                        </button>

                        <app-tree-select [data]="trees[8].data" formControlName="recoveries" class="tree-select"></app-tree-select>
                    </div>

                    <div fxFlex="33" fxLayout="column" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>شرح پوشش عملیاتی</mat-label>
                            <input matInput formControlName="recoveriesDescription" />
                        </mat-form-field>
                    </div>

                    <div fxFlex="33" fxLayout="column" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>متوسط پوشش عملیاتی</mat-label>
                            <input matInput formControlName="recoveriesAvg" type="number" />
                        </mat-form-field>
                    </div>

                    <div style="z-index: 5; margin-bottom: 20px" fxFlex="33" fxLayout="column" fxLayoutAlign="space-evenly none" class="tree-select-container">
                        <button (click)="getTrees(trees[9].id, 9)" style="margin-left: 10px" mat-raised-button>
                            {{ trees[9].name }}
                        </button>

                        <app-tree-select [data]="trees[9].data" formControlName="directLosses" class="tree-select"></app-tree-select>
                    </div>

                    <div fxFlex="33" fxLayout="column" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>شرح زیان مستقیم</mat-label>
                            <input matInput formControlName="directLossesDescription" />
                        </mat-form-field>
                    </div>

                    <div fxFlex="33" fxLayout="column" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>متوسط زیان مستقیم</mat-label>
                            <input matInput formControlName="directLossesAvg" type="number" />
                        </mat-form-field>
                    </div>

                    <div style="z-index: 4; margin-bottom: 20px" fxFlex="33" fxLayout="column" fxLayoutAlign="space-evenly none" class="tree-select-container">
                        <button (click)="getTrees(trees[10].id, 10)" style="margin-left: 10px" mat-raised-button>
                            {{ trees[10].name }}
                        </button>

                        <app-tree-select [data]="trees[10].data" formControlName="inDirectLosses" class="tree-select"></app-tree-select>
                    </div>

                    <div fxFlex="33" fxLayout="column" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>شرح زیان غیر مستقیم</mat-label>
                            <input matInput formControlName="inDirectLossesDescription" />
                        </mat-form-field>
                    </div>

                    <div fxFlex="33" fxLayout="column" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>متوسط زیان غیر مستقیم</mat-label>
                            <input matInput formControlName="inDirectLossesAvg" type="number" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="show && (!flows || flows?.data?.length == 0) && flows.state === 'PRESENT'" class="no-flow-error">
        <h1>هیچ جریان فعالی برای شما وجود ندارد.</h1>
    </div>
</div>
