<div class='fuse-card'>
    <div dir='rtl'>
        <app-table
            (searchEvent)='search($event)'
            [columns]='column'
            [data]='data'
            [paginationObject]='pagination'
            [paginationSettings]="{ mode: 'scroll' }"
            [status]='status'
            height='55vh'
        ></app-table>
    </div>

    <div class='container' dir='rtl'>
        <div class='fund-type'>
            <mat-form-field appearance='outline' style='flex-grow: 1'>
                <input [formControl]='fundTypeName' class='form-field' matInput placeholder='نرخ صندوق' required />
            </mat-form-field>

            <div class='setting-btn-container' fxLayout='column wrap' fxLayoutAlign='center center' fxLayoutGap='5px'>
                <button (click)='edit()' *ngIf='selectedIssuer' [disabled]='fundTypeName.invalid' color='accent'
                        fxFlex='100' mat-raised-button>
                    <mat-icon>edit</mat-icon>
                    ویرایش
                </button>

                <button (click)='clear()' *ngIf='selectedIssuer' color='warn' fxFlex='100' mat-raised-button
                        style='margin-left: 10px'>
                    <mat-icon>close</mat-icon>
                    برگشت
                </button>

                <button (click)='addIssuer()' *ngIf='!selectedIssuer' [disabled]='fundTypeName.invalid' color='accent'
                        fxFlex='100' mat-raised-button>
                    <mat-icon>done</mat-icon>
                    ثبت
                </button>
            </div>
        </div>
    </div>
</div>
