<div class='inner-scroll' fxLayout='row' fxLayoutAlign='start' id='login'>
    <div fxFlex fxHide fxShow.gt-xs id='login-intro'>
        <div [@animate]="{ value: '*', params: { scale: '0.2' } }" class='logo'>
            <img alt='logo' src='../../../../assets/images/logo.png' style='padding: 10px' />
        </div>

        <div [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }" class='description'>
            شرکت مدیریت ریسک هوشمند ایرانیان از اسفند ماه 1397 فعالیت خود را در حوزه مدیریت ریسک آغاز کرد. مدیریت ریسک
            در حوزه­های مختلفی همچون سرمایه­ گذاری،
            حسابداری تطبیق، حاکمیت شرکتی مدیریت عملکرد، مدیریت و ارزیابی پروژه، هوشمندی کسب و کار و سایر حوزه­­ های مالی
            و غیر مالی و برای کلیه اشخاص حقوقی و
            غیرحقوقی اعم از داخلی و خارجی کاربرد دارد و عامل تولید و فروش سیستم ­های نرم ­افزاری مربوط به این حوزه ­ها
            است.
        </div>

        <div class='copy-right'>
            <h5>
                © 1399 تمامی حقوق متعلق به
                <a href='https://www.hooshmandrisk.ir' target='__blank__'>شرکت مدیریت ریسک هوشمند ایرانیان</a>
                می باشد.
            </h5>
        </div>
    </div>

    <div [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }" dir='rtl' fusePerfectScrollbar
         id='login-form-wrapper'>
        <div class=' w-full' id='login-form'>
            <div class='logo' fxHide.gt-xs>
                <img alt='white logo' src='../../../../assets/images/white-logo.png' />
            </div>

            <div class='title'>تغییر گذرواژه</div>

            <form (submit)='onSubmit()' [formGroup]='form' class=' w-full' name='form' novalidate>
                <mat-form-field appearance='outline'>
                    <mat-label>گذرواژه‌ی جدید</mat-label>
                    <input formControlName='newPassword' matInput type='password' />
                    <mat-icon class='secondary-text' matSuffix>vpn_key</mat-icon>
                    <mat-hint>گذرواژه</mat-hint>
                    <mat-error>گذرواژه را وارد کنید</mat-error>
                </mat-form-field>

                <mat-form-field appearance='outline'>
                    <mat-label>تکرار گذرواژه</mat-label>
                    <input formControlName='confirmNewPassword' matInput type='password' />
                    <mat-icon class='secondary-text' matSuffix>vpn_key</mat-icon>
                    <mat-error *ngIf="form.controls['confirmNewPassword'].hasError('required')">تکرار گذرواژه را وارد
                        کنید
                    </mat-error>
                    <mat-error *ngIf="form.controls['confirmNewPassword'].hasError('match')">تکرار گذرواژه با گذرواژه
                        برابر نیست
                    </mat-error>
                </mat-form-field>

                <button [disabled]='form.invalid' class='submit-button' color='primary' mat-raised-button>تغییر
                    گذرواژه
                </button>
            </form>
        </div>
        <div class='version'></div>
    </div>
</div>
