<mat-card *ngIf="stateType === 'PRESENT'" class='h-full w-full p-0'>
    <mat-card-header class='w-full bg-blue-600 m-0 py-3.5'>
        <div class='w-full flex justify-between mx-auto w-full'>
            <h2 class='font-bold text-white'>اطلاعات قرارداد:</h2>
        </div>
    </mat-card-header>

    <mat-card-content class='flex flex-col px-2'>
        <form [formGroup]='form' class='flex flex-col mt-10' dir='rtl'>
            <div class='flex justify-evenly'>
                <mat-form-field appearance='outline'>
                    <mat-label>نام قرارداد</mat-label>
                    <input formControlName='name' matInput readonly type='text' />
                </mat-form-field>

                <mat-form-field appearance='outline'>
                    <mat-label>مشتری قرارداد</mat-label>
                    <input formControlName='customer' matInput readonly type='text' />
                </mat-form-field>
            </div>

            <div class='flex justify-evenly'>
                <mat-form-field appearance='outline'>
                    <mat-label>تاریخ ساخت</mat-label>
                    <input formControlName='date' matInput readonly />
                </mat-form-field>

                <mat-form-field appearance='outline'>
                    <mat-label>آغازکننده‌ی قرارداد</mat-label>
                    <input formControlName='initializerUser' matInput readonly type='text' />
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
</mat-card>
