<app-header [pageTitle]='title' dir='rtl'>
    <button (click)='dialogRef.close(false)' color='primary' mat-mini-fab type='button'>
        <mat-icon>close</mat-icon>
    </button>
</app-header>

<form (submit)='submitForm()' [formGroup]='form' class='setting-form-container my-20' dir='rtl'>
    <div class='setting-form-row'>
        <mat-form-field appearance='outline' class='full-wid' fxFlex='25'>
            <mat-label>عنوان جریان</mat-label>
            <input formControlName='name' matInput />
        </mat-form-field>
    </div>
    <div class='setting-form-row'>
        <app-search-select
            [searchFn]='searchFunction'
            appearance='outline'
            formControlName='stepOne'
            label='افزودن ثبت‌کننده'
            outputValueForm='all'
            placeholder='جستجو کنید'
            uiPropertyName='fullName'
        >
        </app-search-select>
        <app-search-select
            [searchFn]='searchFunction'
            appearance='outline'
            formControlName='stepTwo'
            label='افزودن تایید‌کننده'
            outputValueForm='all'
            placeholder='جستجو کنید'
            uiPropertyName='fullName'
        >
        </app-search-select>
        <app-search-select
            [searchFn]='searchFunction'
            appearance='outline'
            formControlName='stepTree'
            label='افزودن تصویب‌کننده‌'
            outputValueForm='all'
            placeholder='جستجو کنید'
            uiPropertyName='fullName'
        >
        </app-search-select>
    </div>
    <div *ngIf='selectedOperators' class='mb-20 pb-20 mx-auto w-90-p' dir='rtl' fxLayout='row'
         fxLayoutAlign='space-around center'>
        <div *ngIf='selectedOperators[0].flowUsers && selectedOperators[0].flowUsers.length > 0' fxFlex='100'>
            <h3 class='mb-20'>ثبت‌کننده‌های انتخاب‌شده</h3>
            <mat-chip-list>
                <mat-chip
                    (removed)='removeOperator(selectedOperator, 1)'
                    *ngFor='let selectedOperator of selectedOperators[0].flowUsers'
                    color='accent'
                    removable
                    selected='true'
                >
                    {{
                    selectedOperator.firstName + selectedOperator.lastName
                        ? selectedOperator.firstName + ' ' + selectedOperator.lastName
                        : selectedOperator.firstName.length > 6
                            ? (selectedOperator.firstName | slice: 0:6) + '..'
                            : selectedOperator.firstName
                    }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
        <div *ngIf='selectedOperators[1].flowUsers && selectedOperators[1].flowUsers.length > 0' fxFlex='100'>
            <h3 class='mb-20'>تاییدکننده‌های انتخاب‌شده</h3>
            <mat-chip-list>
                <mat-chip
                    (removed)='removeOperator(selectedOperator, 2)'
                    *ngFor='let selectedOperator of selectedOperators[1].flowUsers'
                    color='accent'
                    removable
                    selected='true'
                >
                    {{
                    selectedOperator.firstName + selectedOperator.lastName
                        ? selectedOperator.firstName + ' ' + selectedOperator.lastName
                        : selectedOperator.firstName.length > 6
                            ? (selectedOperator.firstName | slice: 0:6) + '..'
                            : selectedOperator.firstName
                    }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
        <div *ngIf='selectedOperators[2].flowUsers && selectedOperators[2].flowUsers?.length > 0' fxFlex='100'>
            <h3 class='mb-20'>تصویب‌کننده‌های انتخاب‌شده</h3>
            <mat-chip-list>
                <mat-chip
                    (removed)='removeOperator(selectedOperator, 3)'
                    *ngFor='let selectedOperator of selectedOperators[2].flowUsers'
                    color='accent'
                    removable
                    selected='true'
                >
                    {{
                    selectedOperator.firstName + selectedOperator.lastName
                        ? selectedOperator.firstName + ' ' + selectedOperator.lastName
                        : selectedOperator.firstName.length > 6
                            ? (selectedOperator.firstName | slice: 0:6) + '..'
                            : selectedOperator.firstName
                    }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <div fxLayout='row' fxLayoutAlign='end center'>
        <button (click)='this.dialogRef.close(false)' color='warn' mat-flat-button type='button'>
            <mat-icon>close</mat-icon>
            بازگشت
        </button>
        <button class='mx-20' color='accent' mat-flat-button type='submit'>
            <mat-icon> {{ data ? 'edit' : 'done' }}</mat-icon>
            {{ data ? 'ویرایش جریان' : 'افزودن جریان' }}
        </button>
    </div>
</form>
