.setting-form-container {
    width: 100%;
    padding: 10px;

    .setting-form-row {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        mat-form-field {
            width: 40%;
        }
    }
}
