<div class="dialog-container">
    <div [title]="dialogTitle" appDialogHeader>
        <mat-icon (click)="this.dialogRef.close()" class="icon-header">close</mat-icon>
    </div>
    <form [formGroup]="form" autocomplete="off" class="form-container">
        <div class="form-row" dir="rtl">
            <mat-form-field appearance="outline">
                <mat-label>
                    عنوان
                    <span style="color: red">*</span>
                </mat-label>
                <input formControlName="title" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>
                    به
                    <span style="color: red">*</span>
                </mat-label>
                <mat-select formControlName="toUsers" placeholder="به" [multiple]="true">
                    <ngx-mat-select-search style="text-align: right"
                                           [noEntriesFoundLabel]=" 'یافت نشد'"
                                           [placeholderLabel]="'جستجو'"
                                           [formControl]="operatorMultiFilterCtrl"></ngx-mat-select-search>
                    <mat-option style="text-align: right;" *ngFor="let op of filteredOperatorsMulti | async"
                                [value]="op?.id">
                        <span class="email-info">({{op?.email}})</span>
                        {{op?.fullName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="form-row" dir="rtl">
            <mat-form-field appearance="outline">
                <mat-label>وضعیت</mat-label>
                <mat-select formControlName="isActive">
                    <mat-option [value]="m?.value"
                                *ngFor="let m of alarmService.alarmActivation">{{m?.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>حد</mat-label>
                <input formControlName="limit" type="number" matInput>
            </mat-form-field>
        </div>
        <div class="form-row" dir="rtl">
            <mat-form-field appearance="outline">
                <mat-label>اولیت</mat-label>
                <mat-select formControlName="priority">
                    <mat-option [value]="m?.value"
                                *ngFor="let m of alarmService.alarmPriority">{{m?.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>نوع</mat-label>
                <mat-select formControlName="type">
                    <mat-option [value]="m?.value" *ngFor="let m of alarmService.alarmType">{{m?.title}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="form-row" style="margin-bottom: 15px" dir="rtl">
            <mat-slide-toggle formControlName="sendEmail"> ارسال ایمیل</mat-slide-toggle>
            <mat-slide-toggle formControlName="sendSms">ارسال پیامک</mat-slide-toggle>
        </div>
        <div class="form-row-full" dir="rtl">
            <mat-form-field appearance="outline">
                <mat-label>توضیحات
                    <span style="color: red">*</span>
                </mat-label>
                <textarea formControlName="description" matInput></textarea>
            </mat-form-field>
        </div>
    </form>
    <div class="form-btn-container">
        <button *ngIf="!data?.data" [color]="'accent'"
                [disabled]="!form.valid"
                (click)="createAlarm()"
                mat-raised-button>
            افزودن
            <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="data?.data" [color]="'accent'"
                [disabled]="!form.valid"
                (click)="updateAlarm()"
                mat-raised-button>
            ویرایش
            <mat-icon>edit</mat-icon>
        </button>
        <button style="margin-left: 10px" [color]="'warn'" [mat-dialog-close]="true"
                mat-raised-button>
             برگشت
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>