<div>
    <form (submit)='submitForm()' [formGroup]='form' class='gl-chart-container'>
        <div class='contract-form-row'>
            <mat-form-field appearance='outline'>
                <mat-label> تاریخ دفتر کل ابتدا <span style='color: red'>*</span></mat-label>

                <input (click)='start3.open()' [matDatepicker]='start3' [max]='twoDayAgo' formControlName='fromDate'
                       matInput />
                <mat-datepicker-toggle [for]='start3' matSuffix></mat-datepicker-toggle>
                <mat-datepicker #start3></mat-datepicker>
                <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
            </mat-form-field>

            <mat-form-field appearance='outline'>
                <mat-label> تاریخ دفتر کل انتها <span style='color: red'>*</span></mat-label>
                <input
                    (click)='start1.open()'
                    [matDatepicker]='start1'
                    [max]='twoDayAgo'
                    [min]="form.get('fromDate').value"
                    formControlName='toDate'
                    matInput
                />
                <mat-datepicker-toggle [for]='start1' matSuffix></mat-datepicker-toggle>
                <mat-datepicker #start1></mat-datepicker>
                <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
            </mat-form-field>
            <mat-form-field appearance='outline'>
                <mat-label> سطح ۰ <span style='color: red'>*</span></mat-label>
                <mat-select formControlName='categoryLedgerCode'>
                    <mat-option *ngFor='let category of glCategories' [value]='category?.categoryLedgerCode'
                                style='text-align: right'>
                        {{ category?.categoryLedgerCode }}
                        <span style='color: #9ea1a9; font-size: 12px'>{{ category?.categoryLedgerName }}</span>
                    </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
            </mat-form-field>
        </div>
        <div class='contract-form-row'>
            <mat-form-field appearance='outline'>
                <mat-label> سطح ۱</mat-label>
                <mat-select [disabled]='!form.value.categoryLedgerCode' formControlName='groupLedgerCode'>
                    <mat-option *ngFor='let group of glGroups' [value]='group?.groupLedgerCode'
                                style='text-align: right'>
                        {{ group?.groupLedgerCode }}
                        <span style='color: #9ea1a9; font-size: 12px'>{{ group?.groupLedgerName }}</span>
                    </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
            </mat-form-field>

            <mat-form-field appearance='outline'>
                <mat-label> سطح ۲</mat-label>
                <mat-select [disabled]='!form.value.groupLedgerCode' formControlName='generalLedgerCode'>
                    <mat-option *ngFor='let general of glGeneral' [value]='general?.generalLedgerCode'
                                style='text-align: right'>
                        {{ general?.generalLedgerCode }}
                        <span style='color: #9ea1a9; font-size: 12px'>{{ general?.generalLedgerName }}</span>
                    </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
            </mat-form-field>

            <mat-form-field appearance='outline'>
                <mat-label> سطح ۳</mat-label>
                <mat-select [disabled]='!form.value.generalLedgerCode' formControlName='subsidiaryLedgerCode'>
                    <mat-option *ngFor='let subsidiary of glSubsidiary' [value]='subsidiary?.subsidiaryLedgerCode'
                                style='text-align: right'>
                        {{ subsidiary?.subsidiaryLedgerCode }}
                        <span style='color: #9ea1a9; font-size: 12px'>{{ subsidiary?.subsidiaryLedgerName }}</span>
                    </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
            </mat-form-field>
        </div>
        <div class='contract-form-row'>
            <mat-form-field appearance='outline'>
                <mat-label> سطح ۴</mat-label>
                <mat-select [disabled]='!form.value.subsidiaryLedgerCode' formControlName='detailLedgerCode'>
                    <mat-option *ngFor='let detail of glDetail' [value]='detail?.detailLedgerCode'
                                style='text-align: right'>
                        {{ detail?.detailLedgerCode }}
                        <span style='color: #9ea1a9; font-size: 12px'>{{ detail?.detailLedgerName }}</span>
                    </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
            </mat-form-field>
            <button [disabled]='form?.invalid' color='warn' mat-raised-button type='submit'>
                <mat-icon>trending_up</mat-icon>
                نمایش
            </button>
        </div>
    </form>

    <app-trend-chart *ngIf='data && data.length !== 0' [data]='data' convertJalali='true'
                     height='400px'></app-trend-chart>

    <div *ngIf='data && data.length === 0' class='no-data'>
        <div style='display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column'>
            <img alt='no data' height='140px' src='../../../../../assets/images/no-data.svg' width='140px' />
            <div style='font-size: 13px; color: #449fdb; margin-top: 7px'>موردی وجود ندارد</div>
        </div>
    </div>
</div>
