<form #myForm="ngForm" [formGroup]="guarantorInfoForm" class="contract-form-container">
    <div class="contract-form-header">ثبت ضامنین</div>
    <div class="contract-form-body" dir="rtl">
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label
                    >نام ضامن
                    <span style="color: red">*</span>
                </mat-label>
                <input formControlName="name" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label
                    >نوع ضمانت
                    <span style="color: red">*</span>
                </mat-label>
                <mat-select placeholder="نوع ضمانت" formControlName="type">
                    <mat-option style="text-align: right" *ngFor="let guarantor of guarantorTypes | keyvalue" [value]="guarantor.key">
                        {{ guarantor.value }}
                    </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label
                    >حجم ضمانت
                    <span style="color: red">*</span>
                </mat-label>
                <input type="number" formControlName="volume" matInput />
            </mat-form-field>
        </div>
        <div class="contract-form-row-2">
            <mat-form-field appearance="outline">
                <mat-label
                    >مبلغ تحت ضمانت
                    <span style="color: red">*</span>
                </mat-label>
                <input type="number" formControlName="amountUnderGuaranty" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label
                    >شماره ی سند ضمانت
                    <span style="color: red">*</span>
                </mat-label>
                <input type="number" formControlName="document" matInput />
            </mat-form-field>
            <div class="form-row-btn-container">
                <button
                    mat-raised-button
                    *ngIf="selectedGuarantorInfoIndex == null"
                    [disabled]="guarantorInfoForm.invalid"
                    (click)="add()"
                    class="save-button"
                    [color]="'accent'"
                    style="width: 150px; height: 40px"
                >
                    <mat-icon> add </mat-icon>
                    افزودن
                </button>
                <button
                    mat-raised-button
                    *ngIf="selectedGuarantorInfoIndex != null"
                    [disabled]="guarantorInfoForm.invalid"
                    (click)="edit()"
                    class="save-button"
                    [color]="'accent'"
                    style="width: 150px; height: 40px"
                >
                    <mat-icon> edit </mat-icon>
                    اصلاح
                </button>
                <button
                    mat-raised-button
                    *ngIf="selectedGuarantorInfoIndex != null"
                    (click)="clear()"
                    class="save-button"
                    style="width: 150px; height: 40px; margin-right: 10px"
                >
                    <mat-icon> close </mat-icon>
                    برگشت
                </button>
            </div>
        </div>
    </div>
    <div class="form-tab-table-container">
        <mat-table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نام ضامن</mat-header-cell>
                <mat-cell *matCellDef="let GuarantorInfo" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ GuarantorInfo?.name }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نوع ضمانت</mat-header-cell>
                <mat-cell *matCellDef="let GuarantorInfo" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ guarantorTypes[GuarantorInfo?.type] }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="volume">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>حجم ضمانت</mat-header-cell>
                <mat-cell *matCellDef="let GuarantorInfo" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ GuarantorInfo?.volume | price }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="document">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>شماره سند ضمانت</mat-header-cell>
                <mat-cell *matCellDef="let GuarantorInfo" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ GuarantorInfo?.document }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amountUnderGuaranty">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>مبلغ تحت ضمانت</mat-header-cell>
                <mat-cell *matCellDef="let GuarantorInfo" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ GuarantorInfo?.amountUnderGuaranty | price }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>عملیات</mat-header-cell>
                <mat-cell *matCellDef="let GuarantorInfo; let i = index" fxHide fxShow.gt-sm>
                    <button class="edit-button" mat-raised-button style="background-color: orange; color: white" (click)="editGuarantorInfo(GuarantorInfo, i)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button style="margin-right: 10px" mat-raised-button color="warn" (click)="delete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" matRipple [@animate]="{ value: '*', params: { y: '100%' } }"> </mat-row>
        </mat-table>
        <ng-container *ngIf="dataSource.data.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                <img width="140px" height="140px" src="./assets/images/no-data.svg" alt="no data" />
                <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
            </div>
        </ng-container>
    </div>
</form>
