<div class='alarming'>
    <button [matMenuTriggerFor]='menu' mat-icon-button>
        <mat-icon class='mat-18'>notifications</mat-icon>
    </button>

    <mat-menu #menu='matMenu'
              class='alarm-dialog'>
        <div class='box'>
            <div class='header'>
                <div class='unread-alarm-title'>
            <span>
                هشدارهای خوانده نشده
            </span>
                </div>
            </div>


            <div class='unread-alarm'>
                <div [ngStyle]="{'height': unReadAlarms.length > 0 ? '130px': '40px'}" class='unread-alarm-body'>
                    <div *ngIf='unReadAlarms.length ===0' class='unread-alarm-item' style='font-size: 12px'>
                        هیچ موردی وجود ندارد
                    </div>
                    <div *ngFor='let m of unReadAlarms' class='unread-alarm-item'>
                        {{m?.title}}
                        <span style='margin-left: 10px'>
                    <span *ngIf="m?.priority=== 'Critical'" matTooltip='اهمیت بالا' style='color: red'>*</span>
                    <span *ngIf="m?.priority=== 'Warning'" matTooltip='اهمیت متوسط' style='color: #449FDB'>*</span>
                    <span *ngIf="m?.priority=== 'Normal'" matTooltip='اهمیت کم' style='color: orange'>*</span>
                </span>
                    </div>
                </div>

            </div>


            <div class='footer'>
                <div style='display: flex;align-items:center;justify-content: center;'>
                    <button mat-icon-button
                            matTooltip='مدیریت هشدار‌ها'
                            routerLink='/alarming/list'
                            style='margin-right: 10px'>
                        <mat-icon class='mat-18'>settings</mat-icon>
                    </button>
                    <button mat-icon-button
                            matTooltip='مشاهده‌ی همه'
                            routerLink='/alarming/remindList'>
                        <mat-icon class='mat-18'>all_inbox</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </mat-menu>
</div>