<mat-card class="h-full w-full p-0">
    <mat-card-header class="w-full bg-blue-600 m-0 py-3.5">
        <div class="w-full flex justify-between items-center px-5 w-full">
            <h2 class="font-bold text-white">پیشینه‌ی قرارداد</h2>
        </div>
    </mat-card-header>

    <mat-card-content class="h-3/4 overflow-y-scroll">
        <app-table
            *ngIf="stateType === 'PRESENT'"
            [data]="tableDataContractHistoy"
            [columns]="tableColumn"
            [paginationSettings]="{ mode: 'local' }"
            [paginationObject]="pagination"
        ></app-table>
    </mat-card-content>
</mat-card>
