<div class='dialog-container'>
    <div appDialogHeader title='اضافه کردن نگاشت «{{ data.mappedNode?.titleFA }}»'>
        <mat-icon (click)='this.dialogRef.close()' class='icon-header'>close</mat-icon>
    </div>

    <div class='main-content'>
        <!-- Main Content -->
        <div *ngIf='state === stateType.PRESENT' class='min-height'>
            <h1 class='title'>
                درخت
                {{ mappedTreeName }}
            </h1>

            <mat-divider style='margin-bottom: 15px'></mat-divider>

            <mat-tree [dataSource]='dataSource' [treeControl]='treeControl' class='tree' dir='rtl'>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef='let node' [ngClass]="{ active: node.id === 'selectedChildId' }"
                               matTreeNodePadding>
                    <button *ngIf='node.expandable' mat-icon-button matTreeNodeToggle>
                        <mat-icon class='mat-icon-rtl-mirror'>
                            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                        </mat-icon>
                    </button>

                    <div *ngIf='!node.expandable'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

                    <div class='pointer' matTreeNodeToggle>
                        {{ node.titleFA }}
                    </div>

                    <mat-chip-list>
                        <ng-container *ngFor='let relation of node.mappings'>
                            <mat-chip>
                                {{ relation.childTitleFa }}
                            </mat-chip>
                        </ng-container>
                    </mat-chip-list>

                    <mat-chip-list>
                        <ng-container *ngFor='let relation of data.mappedNode.mappings'>
                            <mat-chip *ngIf='relation.mapChildId === node.id' [selected]='relation.mapChildId === node.id'
                                      color='accent'>
                                <mat-icon (click)='deleteMap(relation, node)' matChipRemove> cancel</mat-icon>

                                {{ data.mappedNode.titleFA }}
                            </mat-chip>
                        </ng-container>
                    </mat-chip-list>

                    <button (click)='addMap(node)' *ngIf='!node.mapped && node.level !== 0' mat-icon-button
                            matTooltip='اضافه کردن نگاشت'>
                        <mat-icon class='mat-icon-rtl-mirror'> add</mat-icon>
                    </button>
                </mat-tree-node>
            </mat-tree>
        </div>

        <!---------------------------------------------------------------------------------------------------------->

        <!-- Loading Quote -->
        <div *ngIf='state === stateType.LOADING' class='loader' fxLayout='row wrap' fxLayoutAlign='center center'>
            <mat-spinner diameter='70'></mat-spinner>
        </div>

        <!-- Failed Quote-->
        <div *ngIf='state === stateType.FAILED' class='loader' fxLayout='row wrap' fxLayoutAlign='center center'>
            دریافت داده ناموفق بود

            <button (click)='get()' class='againBtn' mat-button>دریافت دوباره</button>
        </div>
    </div>
</div>
