@import 'src/@fuse/scss/fuse';

:host {
    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 400px;
    }
}

.mat-dialog-container {
    padding: 0;

    .mat-toolbar {
        flex: 1 0 auto;
        min-height: initial;
    }

    .toolbar-bottom {
        height: auto;
    }
}

.toolbar-bottom.py-16 {
    justify-content: center;
}

::ng-deep {
    .mat-header-cell {
        justify-content: center;
    }
    .mat-column-fund {
        flex-grow: 2;
    }
    .mat-dialog-container {
        padding: 0 !important;
    }

    .dialog-content-wrapper {
        // width: 60vw;
        max-height: 85vh;
        display: flex;
        flex-direction: column;

        .form {
            width: 100%;

            .mat-form-field {
                width: 100%;
            }
        }
    }

    .mat-toolbar-row {
        display: flex;
        justify-content: space-between;
    }

    .compliance-form-dialog {
        .mat-toolbar {
            height: 150px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.mat-table {
    overflow: scroll;
    height: 40vh;

    .mat-column-lastName {
        flex: 0 1 120px;
    }

    .mat-column-firstName {
        flex: 0 1 100px;
    }

    .mat-column-buttons {
        flex: 0 1 100px;
    }

    .mat-row {
        position: relative;
        cursor: pointer;
        padding: 8px;

        .mat-cell {
            min-width: 0;
            justify-content: center;

            &.mat-column-detail-button {
                flex: 0 1 auto;
                padding: 0 24px 0 0;

                @include media-breakpoint('gt-md') {
                    display: none;
                }
            }
        }
    }
}
