<div class="page-layout">
    <app-header pageTitle="مدیریت کاربر">
        <form [formGroup]="organizationsForm" dir="rtl" class="tw-rtl tw-mr-auto tw-ml-5">
            <mat-form-field appearance="standard" class="tw-w-80">
                <mat-label>نهاد</mat-label>
                <mat-select formControlName="organization" multiple required>
                    <ngx-mat-select-search
                        class="tw-text-right"
                        [noEntriesFoundLabel]="'یافت نشد'"
                        [placeholderLabel]="'جستجو'"
                        [formControl]="organizationsSearchControl"
                    ></ngx-mat-select-search>
                    <mat-option class="tw-text-right" [value]="organize?.code" *ngFor="let organize of organizations">
                        {{ organize?.name }}
                    </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
        </form>
        <div dir="rtl">
            <button mat-flat-button color="primary" type="submit" (click)="createUser()">
                افزودن کاربر
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </app-header>

    <div class="page-content">
        <app-table
            *ngIf="users"
            [data]="users"
            [columns]="columns"
            [paginationSettings]="{ mode: 'backend' }"
            [paginationObject]="pagination"
            (searchEvent)="search($event)"
            (paginationEvent)="paginationControl($event)"
        ></app-table>
        <ng-container *ngIf="users?.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                <img width="140px" height="140px" src="../../../../../assets/images/no-data.svg" alt="no-data" />
                <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
            </div>
        </ng-container>
    </div>
</div>
