<div class='page-layout manual-height'>
    <app-header pageTitle="پیکربندی کاربران">
        <form [formGroup]="organizationsForm" class="rtl mr-auto ml-5" dir="rtl">
            <mat-form-field appearance="standard" class="w-80">
                <mat-label>نهاد</mat-label>
                <mat-select formControlName="organization" multiple required>
                    <mat-option>
                        <ngx-mat-select-search
                            [formControl]="organizationsSearchControl"
                            [noEntriesFoundLabel]="'یافت نشد'"
                            [placeholderLabel]="'جستجو'"
                            class="text-right"
                        ></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let organize of organizations" [value]="organize?.code" class="text-right">
                        {{ organize?.name }}
                    </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
            </mat-form-field>
        </form>
        <div dir="rtl">
            <button (click)="createUser()" color="primary" mat-flat-button type="submit">
                افزودن کاربر
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </app-header>

    <div class="fuse-card m-40 p-40 h-4/5 overflow-y-auto">
        <app-table
            class="h-full"
            (paginationEvent)="paginationControl($event)"
            (searchEvent)="search($event)"
            *ngIf="users"
            [columns]="columns"
            [data]="users"
            [paginationObject]="pagination"
            [paginationSettings]="{ mode: 'backend' }"
        ></app-table>
        <ng-container *ngIf="users?.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                <img alt="no-data" height="140px" src="../../../../../assets/images/no-data.svg" width="140px" />
                <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
            </div>
        </ng-container>
    </div>
</div>
