<div class="page-layout" dir="rtl">
    <app-header pageTitle="اندازه گیری ریسک">
        <div dir="rtl" fxLayout="row wrap" fxLayoutAlign="center center">
        </div>
    </app-header>

    <div fxLayout="column" dir="rtl">

        <div [formGroup]="formGroup" class="form" style="margin: 30px 0;">
            <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100">

                <div fxLayout="column" fxFlex="25" fxLayoutAlign="space-evenly none">
                    <mat-form-field appearance="outline">
                        <mat-label>میز / سبد</mat-label>
                        <mat-select formControlName="owner">
                            <mat-option value="T">تمدن</mat-option>
                            <mat-option value="M">بازارگردانی</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxFlex="25" fxLayoutAlign="space-evenly none">
                    <mat-form-field appearance="outline">
                        <mat-label>سطح اطمینان به درصد</mat-label>
                        <input type="number" value="99" formControlName="confidenceInterval" matInput>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxFlex="25" fxLayoutAlign="space-evenly none">
                    <mat-form-field appearance="outline">
                        <mat-label>تاریخ</mat-label>
                        <input matInput
                               class="full-wid"
                               (click)="date.open()"
                               formControlName="date"
                               [matDatepicker]="date">
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                        <mat-error>
                            وارد کردن این فیلد الزامی است.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxFlex="10" fxLayoutAlign="space-evenly none">
                    <button mat-raised-button
                            color="primary"
                            (click)="get()"
                            [disabled]="!formGroup.valid">
                        <mat-icon>search</mat-icon>
                        جستجو
                    </button>
                </div>

            </div>
        </div>

        <p style="text-align: center;" *ngIf="!loading">درحال دریافت اطالاعات</p>
        <ng-container *ngIf="show">
            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px" fxFlex="100"
                 style="width: calc(100% - 20px); padding: 0 10px; margin-top: 20px">
                <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-evenly none">
                    <app-bar-chart-js [data]="barChart"
                                      height="100"
                                      dataKey="y"
                                      labelKey="x"
                                      chartName="توضیع سود و زیان"
                    ></app-bar-chart-js>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px" fxFlex="100"
                 style="width: calc(100% - 20px); padding: 0 10px; margin-top: 20px">

                <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-evenly none">
                    <div class="fuse-card">
                        <label>
                            روند ارزش در معرض خطر
                        </label>
                        <mat-divider></mat-divider>
                        <canvas baseChart height="200"
                                [chartType]="chartType"
                                [datasets]="chartDatasets"
                                [labels]="chartLabels"
                                [colors]="chartColors"
                                [options]="chartOptions"
                                [legend]="true">
                        </canvas>
                    </div>
                </div>

                <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-evenly none">
                    <div class="fuse-card">
                        <label>
                            ارزش در معرض خطر
                        </label>
                        <app-gauge-chart [labels]="[{text: gage}]"
                                         [maxRange]="25"
                                         [minRange]="0"
                                         [handValue]="gage"
                                         [reverse]="true"
                                         style="width: 100%;">
                        </app-gauge-chart>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px" fxFlex="100"
                 style="width: calc(100% - 20px); padding: 0 10px; margin-top: 20px">
                <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-evenly none">
                    <app-table [data]="showingData" style="text-align: center"
                               [columns]="showingDataColumns">
                    </app-table>

                    <app-table [data]="showingData2" style="text-align: center"
                               [columns]="showingDataColumns2">
                    </app-table>
                </div>
            </div>


        </ng-container>
    </div>
</div>