:host ::ng-deep {
    .mat-form-field-wrapper {
        padding-bottom: 1.34375em;
        margin-bottom: -1.34375em;
    }
}

.setting-container-back {
    width: 100%;
    height: 100%;
    user-select: none;
}

.setting-panel {
    overflow-y: scroll;
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;

    mat-header-row {
        top: -12px !important;
    }
}

.add-btn {
    position: absolute;
    top: 16px;
    left: 30px;
    z-index: 99999;
}

.page-title {
    padding-right: 10px;
    padding-left: 10px;
    position: absolute;
    top: 5px;
    display: flex;
    width: 96%;
    height: 60px;
    z-index: 9999;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

    .path {
        width: 80%;
        height: 1px;
    }

    .title {
        padding: 5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70%;

        p {
            font-weight: bold;
            font-size: 18px;
        }
    }
}
