<div class='navbar-top primary-900'>
    <div class='logo flex justify-center'>
        <img alt='logo-text' class='logo-text secondary-text' src='assets/images/logo-text.png' />
    </div>

    <div class='buttons'>
        <button (click)='toggleSidebarFolded()' class='toggle-sidebar-folded' fxHide.lt-lg mat-icon-button>
            <mat-icon class='secondary-text'>menu</mat-icon>
        </button>

        <button (click)='toggleSidebarOpened()' class='toggle-sidebar-opened' fxHide.gt-md mat-icon-button>
            <mat-icon class='secondary-text'>arrow_back</mat-icon>
        </button>
    </div>
</div>

<div
    [fusePerfectScrollbarOptions]='{ suppressScrollX: true }'
    [ngClass]='fuseConfig.layout.navbar.primaryBackground'
    class='navbar-scroll-container'
    fusePerfectScrollbar
>
    <div class='navbar-content'>
        <div class='nav-container'>
            <fuse-navigation class='material2' layout='vertical'></fuse-navigation>
        </div>

        <div class='version flex items-center justify-center primary'>
            <img alt='logo-icon' class='logo-icon' src='assets/images/white-logo-non-text.png' />
            <span *ngIf='isSideBarOpen'> نسخه‌ی نرم‌افزار: {{ version }}</span>
        </div>
    </div>
</div>
