<div class="navbar-top primary-900">
    <div class="logo flex justify-center">
        <img class="logo-text secondary-text" src="assets/images/logo-text.png" alt="logo-text" />
    </div>

    <div class="buttons">
        <button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()" fxHide.lt-lg>
            <mat-icon class="secondary-text">menu</mat-icon>
        </button>

        <button mat-icon-button class="toggle-sidebar-opened" (click)="toggleSidebarOpened()" fxHide.gt-md>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>
    </div>
</div>

<div
    class="navbar-scroll-container"
    [ngClass]="fuseConfig.layout.navbar.primaryBackground"
    fusePerfectScrollbar
    [fusePerfectScrollbarOptions]="{ suppressScrollX: true }"
>
    <div class="navbar-content">
        <div class="nav-container">
            <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
        </div>

        <div class="version flex items-center justify-center primary">
            <img class="logo-icon" src="assets/images/white-logo-non-text.png" alt="logo-icon" />
            <span *ngIf="isSideBarOpen"> نسخه‌ی نرم‌افزار: {{ version }}</span>
        </div>
    </div>
</div>
