.fuse-card {
    margin: 20px;
    padding: 10px;
}

mat-form-field {
    padding: 10px;
    text-align: right;

    * {
        text-align: right;
    }
}

.actions {
    display: flex;
    padding: 10px;

    .actions-box {
        margin-right: auto;
        display: inline-flex;

        button {
            margin-right: 10px;
        }
    }

    .add-btn {
        width: 100px;
    }
}
