.fuse-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    label {
        text-align: center;
        margin: 10px 0;
    }
}

table {
    padding: 0 !important;
    thead {
        background-color: #b5b5b5 !important;
    }
}
