<div *ngIf="stateType === 'INIT' || stateType === 'LOADING'" class="flex h-full w-full justify-center items-center">
    <mat-spinner></mat-spinner>
</div>

<div class="page-layout">
    <app-header *ngIf="stateType === 'PRESENT'" [pageTitle]="'الگوی جریان: ' + flowDetails.name" class="wp-100">
        <div>
            <button class="mx-5" color="warn" mat-stroked-button routerLink="/contract/flow">
                <mat-icon class="mat-18">keyboard_return</mat-icon>
                بازگشت
            </button>

            <button (click)="saveBPMN()" class="mx-5" mat-stroked-button>
                <mat-icon class="mat-18">add</mat-icon>
                افزودن BPMN به جریان
            </button>
        </div>
    </app-header>

    <div class="fuse-card m-40 p-40 calc-height">
        <div class="content with-diagram flex h-full" dir="ltr" id="container">
            <div #ref class="flex-1 h-full" id="js-canvas"></div>
        </div>
    </div>
</div>
