<div *ngIf="stateType === 'INIT' || stateType === 'LOADING'" class="flex h-full w-full justify-center items-center">
    <mat-spinner></mat-spinner>
</div>

<div class="page-layout">
    <app-header *ngIf="stateType === 'PRESENT'" [pageTitle]="'الگوی جریان: ' + flowDetails.name" class="wp-100">
        <div>
            <button mat-stroked-button color="warn" routerLink="/contract/flow" class="mx-5">
                <mat-icon class="mat-18">keyboard_return</mat-icon>
                بازگشت
            </button>

            <button mat-stroked-button (click)="saveBPMN()" class="mx-5">
                <mat-icon class="mat-18">add</mat-icon>
                افزودن BPMN به جریان
            </button>
        </div>
    </app-header>

    <div class="fuse-card h-3/4 m-40 p-40">
        <div class="content with-diagram flex h-full" id="container" dir="ltr">
            <div class="flex-1 h-full" #ref id="js-canvas"></div>
        </div>
    </div>
</div>
