@import 'src/@fuse/scss/fuse';

:host {
    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 400px;
    }
}

.mat-dialog-container {
    padding: 0;

    .mat-toolbar {
        flex: 1 0 auto;
        min-height: initial;
    }

    .toolbar-bottom {
        height: auto;
    }
}

.toolbar-bottom.py-16 {
    justify-content: center;
}

.save-button {
    width: 100%;
    height: 50px;
}

::ng-deep {
    .mat-dialog-container {
        padding: 0 !important;
    }

    .dialog-content-wrapper {
        width: 400px;
        max-height: 85vh;
        display: flex;
        flex-direction: column;

        .form {
            width: 100%;

            .mat-form-field {
                width: 100%;
            }
        }
    }

    .mat-toolbar-row {
        display: flex;
        justify-content: space-between;
    }

    .customer-form-dialog {
        .mat-toolbar {
            height: 150px;
            display: flex;
            justify-content: space-between;
        }
    }
}
