<div class="fuse-card border--red">
    <div dir="rtl">
        <app-table
            [data]="data"
            [columns]="column"
            [paginationSettings]="{ mode: 'scroll' }"
            [paginationObj]="pagination"
            (searchCall)="search($event)"
            (paginationChange)="paginationControl($event)"
            height='55vh'
        ></app-table>
    </div>

    <div class="container" dir="rtl">
<!--        <div class="issuer">-->
<!--            <mat-form-field appearance="outline" style="flex-grow: 1">-->
<!--                <input matInput class="form-field" [formControl]="issuerName" placeholder="مجوز سازمان" required />-->
<!--            </mat-form-field>-->

<!--            <div fxLayout="column wrap" fxLayoutGap="5px" fxLayoutAlign="center center" class="setting-btn-container">-->
<!--                <button *ngIf="!slectedIssuer" [disabled]="issuerName.invalid" (click)="addIssuer()" color="accent" mat-raised-button>-->
<!--                    <mat-icon>done</mat-icon>-->
<!--                    ثبت-->
<!--                </button>-->

<!--                <button *ngIf="slectedIssuer" [disabled]="issuerName.invalid" (click)="edit()" color="accent" mat-raised-button>-->
<!--                    <mat-icon>edit</mat-icon>-->
<!--                    ویرایش-->
<!--                </button>-->

<!--                <button *ngIf="slectedIssuer" (click)="clear()" style="margin-left: 10px" color="warn" mat-raised-button>-->
<!--                    <mat-icon>close</mat-icon>-->
<!--                    انصراف-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
