<div class="theme-options-panel" dir="rtl">
    <div class="header">
        <span class="title">تنظیمات تم</span>
    </div>

    <form [formGroup]="form">
        <div class="group">
            <h2>رنگ تم</h2>

            <mat-radio-group formControlName="colorTheme" class="flex flex-col">
                <mat-radio-button class="mb-12" value="theme-default">روشن (پیشفرض)</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-yellow-light">زرد (روشن)</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-blue-gray-dark">آبی خاکستری (تیره)</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-pink-dark">صورتی (تیره)</mat-radio-button>
            </mat-radio-group>
        </div>
    </form>
</div>
