<div class='theme-options-panel' dir='rtl'>

    <div class='header'>

        <span class='title'>تنظیمات تم</span>

        <!--        <button mat-icon-button class="close-button" (click)="toggleSidebarOpen('themeOptionsPanel')">-->
        <!--            <mat-icon>close</mat-icon>-->
        <!--        </button>-->

    </div>

    <form [formGroup]='form'>

        <!-- COLOR THEME -->
        <div class='group'>

            <h2>رنگ تم</h2>

            <mat-radio-group formControlName='colorTheme' fxLayout='column' fxLayoutAlign='start start'>
                <mat-radio-button class='mb-12' value='theme-default'>روشن (پیشفرض)</mat-radio-button>
                <mat-radio-button class='mb-12' value='theme-yellow-light'>زرد (روشن)</mat-radio-button>
                <mat-radio-button class='mb-12' value='theme-blue-gray-dark'>آبی خاکستری (تیره)</mat-radio-button>
                <mat-radio-button class='mb-12' value='theme-pink-dark'>صورتی (تیره)</mat-radio-button>
            </mat-radio-group>

        </div>

        <!--        &lt;!&ndash; LAYOUT STYLES &ndash;&gt;-->
        <!--        <div class="group" formGroupName="layout">-->

        <!--            <h2>طرح بندی</h2>-->

        <!--            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="style">-->

        <!--                <mat-radio-button class="mb-12" value="vertical-layout-1">-->
        <!--                    طرح بندی عمودی ۱-->
        <!--                </mat-radio-button>-->

        <!--                &lt;!&ndash;                <mat-radio-button class="mb-12" value="vertical-layout-2">&ndash;&gt;-->
        <!--                &lt;!&ndash;                    طرح بندی  عمودی ۲&ndash;&gt;-->
        <!--                &lt;!&ndash;                </mat-radio-button>&ndash;&gt;-->

        <!--                &lt;!&ndash;                <mat-radio-button class="mb-12" value="vertical-layout-3">&ndash;&gt;-->
        <!--                &lt;!&ndash;                    طرح بندی  عمودی ۳&ndash;&gt;-->
        <!--                &lt;!&ndash;                </mat-radio-button>&ndash;&gt;-->

        <!--                &lt;!&ndash;                <mat-radio-button class="mb-12" value="horizontal-layout-1">&ndash;&gt;-->
        <!--                &lt;!&ndash;                    طرح بندی  افقی ۱&ndash;&gt;-->
        <!--                &lt;!&ndash;                </mat-radio-button>&ndash;&gt;-->

        <!--            </mat-radio-group>-->

        <!--            &lt;!&ndash; DIFFERENT FORMS BASED ON LAYOUT STYLES &ndash;&gt;-->
        <!--            <ng-container [ngSwitch]="fuseConfig.layout.style">-->

        <!--                &lt;!&ndash; VERTICAL LAYOUT #1 &ndash;&gt;-->
        <!--                <ng-container *ngSwitchCase="'vertical-layout-1'">-->

        <!--                    &lt;!&ndash; LAYOUT WIDTH &ndash;&gt;-->
        <!--                    <div class="group mt-32">-->

        <!--                        <h2>سایز صفحه</h2>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">-->
        <!--                            <mat-radio-button class="mb-12" value="fullwidth">تمام صفحه</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="boxed">جعبه‌ای</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; NAVBAR &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="navbar">-->

        <!--                        <h2>منو‌ی کنار صفحه</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            مخفی سازی-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <mat-slide-toggle class="mt-24" formControlName="folded">-->
        <!--                            کوچک شده-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">مکان:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-16" value="left">چپ</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-16" value="right">راست</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        &lt;!&ndash;                        <h3 class="mt-8">حالت:</h3>&ndash;&gt;-->
        <!--                        &lt;!&ndash;                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">&ndash;&gt;-->
        <!--                        &lt;!&ndash;                            <mat-radio-button class="mb-16" value="vertical-style-1">شکل ۱</mat-radio-button>&ndash;&gt;-->
        <!--                        &lt;!&ndash;                            <mat-radio-button class="mb-16" value="vertical-style-2">شکل ۲</mat-radio-button>&ndash;&gt;-->
        <!--                        &lt;!&ndash;                        </mat-radio-group>&ndash;&gt;-->

        <!--                        <h3 class="mt-16 mb-8">رنگ اصلی:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="primaryBackground"></fuse-material-color-picker>-->

        <!--                        <h3 class="mt-16 mb-8">رنگ فرئی:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="secondaryBackground"></fuse-material-color-picker>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; TOOLBAR &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="toolbar">-->

        <!--                        <h2>منو‌ی بالای صفحه</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            مخفی سازی-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">مکان:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-12" value="above">در بالا</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="below-static"> در زیر به صورت ایستا-->
        <!--                            </mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="below-fixed">در زیر به صورت ثابت</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">-->
        <!--                            استفاده از رنگ پس‌زمینه‌ی دلخواه-->
        <!--                        </mat-checkbox>-->

        <!--                        <h3 class="mt-24 mb-8">رنگ پس‌زمینه‌:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="background"></fuse-material-color-picker>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; FOOTER &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="footer">-->

        <!--                        <h2>پاورقی</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            مخفی سازی-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">مکان:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-12" value="above">در بالا</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="below-static">در زیر به صورت ایستا</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="below-fixed">در زیر به صورت ثابت</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">-->
        <!--                            استفاده از رنگ پس‌زمینه‌ی دلخواه-->
        <!--                        </mat-checkbox>-->

        <!--                        <h3 class="mt-24 mb-8">رنگ:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="background"></fuse-material-color-picker>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash;                    &lt;!&ndash; SIDE PANEL &ndash;&gt;&ndash;&gt;-->
        <!--                    &lt;!&ndash;                    <div class="group" formGroupName="sidepanel">&ndash;&gt;-->

        <!--                    &lt;!&ndash;                        <h2>پنل کنار</h2>&ndash;&gt;-->

        <!--                    &lt;!&ndash;                        <mat-slide-toggle formControlName="hidden">&ndash;&gt;-->
        <!--                    &lt;!&ndash;                            مخفی سازی&ndash;&gt;-->
        <!--                    &lt;!&ndash;                        </mat-slide-toggle>&ndash;&gt;-->

        <!--                    &lt;!&ndash;                        <h3 class="mt-24">مکان:</h3>&ndash;&gt;-->
        <!--                    &lt;!&ndash;                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">&ndash;&gt;-->
        <!--                    &lt;!&ndash;                            <mat-radio-button class="mb-12" value="left">راست</mat-radio-button>&ndash;&gt;-->
        <!--                    &lt;!&ndash;                            <mat-radio-button class="mb-12" value="right">چپ</mat-radio-button>&ndash;&gt;-->
        <!--                    &lt;!&ndash;                        </mat-radio-group>&ndash;&gt;-->

        <!--                    &lt;!&ndash;                    </div>&ndash;&gt;-->

        <!--                </ng-container>-->

        <!--                &lt;!&ndash; VERTICAL LAYOUT #2 &ndash;&gt;-->
        <!--                <ng-container *ngSwitchCase="'vertical-layout-2'">-->

        <!--                    &lt;!&ndash; LAYOUT WIDTH &ndash;&gt;-->
        <!--                    <div class="group mt-32">-->

        <!--                        <h2>سایز صفحه</h2>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">-->
        <!--                            <mat-radio-button class="mb-12" value="fullwidth">تمام صفحه</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="boxed">جعبه‌ای</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; NAVBAR &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="navbar">-->

        <!--                        <h2>Navbar</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            Hide-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <mat-slide-toggle class="mt-24" formControlName="folded">-->
        <!--                            Folded-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">Position:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-16" value="left">Left</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-16" value="right">Right</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <h3 class="mt-8">Variant:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">-->
        <!--                            <mat-radio-button class="mb-16" value="vertical-style-1">Style 1</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-16" value="vertical-style-2">Style 2</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <h3 class="mt-16 mb-8">Primary background:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="primaryBackground"></fuse-material-color-picker>-->

        <!--                        <h3 class="mt-16 mb-8">Secondary background:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="secondaryBackground"></fuse-material-color-picker>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; TOOLBAR &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="toolbar">-->

        <!--                        <h2>Toolbar</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            Hide-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">Position:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-12" value="above-static">Above Static</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="above-fixed">Above Fixed</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="below">Below</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">-->
        <!--                            Use custom background color-->
        <!--                        </mat-checkbox>-->

        <!--                        <h3 class="mt-24 mb-8">Background color:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="background"></fuse-material-color-picker>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; FOOTER &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="footer">-->

        <!--                        <h2>Footer</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            Hide-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">Position:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-12" value="above-static">Above Static</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="above-fixed">Above Fixed</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="below">Below</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">-->
        <!--                            Use custom background color-->
        <!--                        </mat-checkbox>-->

        <!--                        <h3 class="mt-24 mb-8">Background color:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="background"></fuse-material-color-picker>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; SIDE PANEL &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="sidepanel">-->

        <!--                        <h2>Side Panel</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            Hide-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">Position:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-12" value="left">Left</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="right">Right</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                    </div>-->

        <!--                </ng-container>-->

        <!--                &lt;!&ndash; VERTICAL LAYOUT #3 &ndash;&gt;-->
        <!--                <ng-container *ngSwitchCase="'vertical-layout-3'">-->

        <!--                    &lt;!&ndash; LAYOUT WIDTH &ndash;&gt;-->
        <!--                    <div class="group mt-32">-->

        <!--                        <h2>سایز صفحه</h2>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">-->
        <!--                            <mat-radio-button class="mb-12" value="fullwidth">تمام صفحه</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="boxed">جعبه‌ای</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; NAVBAR &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="navbar">-->

        <!--                        <h2>Navbar</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            Hide-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <mat-slide-toggle class="mt-24" formControlName="folded">-->
        <!--                            Folded-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">Position:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-16" value="left">Left</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-16" value="right">Right</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <h3 class="mt-8">Variant:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">-->
        <!--                            <mat-radio-button class="mb-16" value="vertical-style-1">Style 1</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-16" value="vertical-style-2">Style 2</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <h3 class="mt-16 mb-8">Primary background:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="primaryBackground"></fuse-material-color-picker>-->

        <!--                        <h3 class="mt-16 mb-8">Secondary background:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="secondaryBackground"></fuse-material-color-picker>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; TOOLBAR &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="toolbar">-->

        <!--                        <h2>Toolbar</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            Hide-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">Position:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-12" value="above-static">Above Static</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="above-fixed">Above Fixed</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">-->
        <!--                            Use custom background color-->
        <!--                        </mat-checkbox>-->

        <!--                        <h3 class="mt-24 mb-8">Background color:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="background"></fuse-material-color-picker>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; FOOTER &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="footer">-->

        <!--                        <h2>Footer</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            Hide-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">Position:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-12" value="above-static">Above Static</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="above-fixed">Above Fixed</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">-->
        <!--                            Use custom background color-->
        <!--                        </mat-checkbox>-->

        <!--                        <h3 class="mt-24 mb-8">Background color:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="background"></fuse-material-color-picker>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; SIDE PANEL &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="sidepanel">-->

        <!--                        <h2>Side Panel</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            Hide-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">Position:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-12" value="left">Left</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="right">Right</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                    </div>-->

        <!--                </ng-container>-->

        <!--                &lt;!&ndash; HORIZONTAL LAYOUT #1 &ndash;&gt;-->
        <!--                <ng-container *ngSwitchCase="'horizontal-layout-1'">-->

        <!--                    &lt;!&ndash; LAYOUT WIDTH &ndash;&gt;-->
        <!--                    <div class="group mt-32">-->

        <!--                        <h2>سایز صفحه</h2>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">-->
        <!--                            <mat-radio-button class="mb-12" value="fullwidth">تمام صفحه</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="boxed">جعبه‌ای</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; NAVBAR &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="navbar">-->

        <!--                        <h2>Navbar</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            Hide-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">Position:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-16" value="top">Top</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <h3 class="mt-8">Variant (Vertical):</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">-->
        <!--                            <mat-radio-button class="mb-16" value="vertical-style-1">Style 1</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-16" value="vertical-style-2">Style 2</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <h3 class="mt-16 mb-8">Primary background:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="primaryBackground">-->
        <!--                        </fuse-material-color-picker>-->

        <!--                        <h3 class="mt-16 mb-8">Secondary background (Vertical):</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="secondaryBackground">-->
        <!--                        </fuse-material-color-picker>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; TOOLBAR &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="toolbar">-->

        <!--                        <h2>Toolbar</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            Hide-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">Position:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-12" value="above">Above</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="below">Below</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">-->
        <!--                            Use custom background color-->
        <!--                        </mat-checkbox>-->

        <!--                        <h3 class="mt-24 mb-8">Background color:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="background"></fuse-material-color-picker>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; FOOTER &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="footer">-->

        <!--                        <h2>Footer</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            Hide-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">Position:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-12" value="above-fixed">Above Fixed</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="above-static">Above Static</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">-->
        <!--                            Use custom background color-->
        <!--                        </mat-checkbox>-->

        <!--                        <h3 class="mt-24 mb-8">Background color:</h3>-->
        <!--                        <fuse-material-color-picker class="mb-16"-->
        <!--                                                    formControlName="background"></fuse-material-color-picker>-->

        <!--                    </div>-->

        <!--                    &lt;!&ndash; SIDE PANEL &ndash;&gt;-->
        <!--                    <div class="group" formGroupName="sidepanel">-->

        <!--                        <h2>Side Panel</h2>-->

        <!--                        <mat-slide-toggle formControlName="hidden">-->
        <!--                            Hide-->
        <!--                        </mat-slide-toggle>-->

        <!--                        <h3 class="mt-24">Position:</h3>-->
        <!--                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">-->
        <!--                            <mat-radio-button class="mb-12" value="left">Left</mat-radio-button>-->
        <!--                            <mat-radio-button class="mb-12" value="right">Right</mat-radio-button>-->
        <!--                        </mat-radio-group>-->

        <!--                    </div>-->

        <!--                </ng-container>-->

        <!--            </ng-container>-->

        <!--        </div>-->

        <!--        &lt;!&ndash; CUSTOM SCROLLBARS &ndash;&gt;-->
        <!--        <div class="group">-->

        <!--            <h2>Custom scrollbars</h2>-->

        <!--            <mat-slide-toggle class="mb-12" formControlName="customScrollbars">-->
        <!--                Enable custom scrollbars-->
        <!--            </mat-slide-toggle>-->

        <!--        </div>-->

    </form>

</div>
