<div class="dialog-content-wrapper" dir="rtl">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-icon-button (click)="matDialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <div class="contact-name mt-8">{{ operator.firstName }} {{ operator.lastName }}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form [formGroup]="operatorForm" class="form">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>نام</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="firstName" formControlName="firstName" matInput required />
                    <mat-error *ngIf="operatorForm.get('firstName').hasError('required')"> وارد کردن این فیلد الزامی است. </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>نام خانوادگی</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="lastName" formControlName="lastName" matInput required />
                    <mat-error *ngIf="operatorForm.get('lastName').hasError('required')"> وارد کردن این فیلد الزامی است. </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>پست الکترونیک</mat-label>
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <input name="email" formControlName="email" matInput type="email" required />
                    <mat-error *ngIf="operatorForm.get('email').hasError('required')"> وارد کردن این فیلد الزامی است. </mat-error>
                </mat-form-field>
            </div>
        </form>

        <mat-slide-toggle *ngIf="!operator.userName && this.action === 'edit'" color="primary" [(ngModel)]="createUser" [checked]="createUser">
            ایجاد کاربر جدید
        </mat-slide-toggle>

        <form [formGroup]="userForm" style="margin-top: 10px" class="form" *ngIf="createUser">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>تلفن همراه</mat-label>
                    <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                    <input formControlName="mobileNumber" matInput required />

                    <mat-error *ngIf="userForm.get('mobileNumber').hasError('required')"> وارد کردن این فیلد الزامی است. </mat-error>

                    <mat-error *ngIf="userForm.get('mobileNumber').hasError('pattern')"> فرمت شماره‌ی تلفن همراه درست نمی‌باشد. </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>نام کاربری</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="userName" formControlName="userName" matInput required />

                    <mat-error *ngIf="userForm.get('userName').hasError('required')"> وارد کردن این فیلد الزامی است. </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" *ngIf="!operator.userId">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>رمزعبور</mat-label>
                    <input matInput name="password" formControlName="password" [type]="hide ? 'password' : 'text'" required />
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>

                    <mat-error *ngIf="userForm.get('password').hasError('required')"> وارد کردن این فیلد الزامی است. </mat-error>

                    <mat-error *ngIf="userForm.get('password').hasError('minlength')"> رمز عبور حداقل باید شامل ۶ حرف یا عدد باشد. </mat-error>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center center">
        <button
            mat-raised-button
            *ngIf="action !== 'edit'"
            color="primary"
            (click)="newOperator()"
            [disabled]="operatorForm.invalid || (userForm.invalid && createUser)"
        >
            ثبت اپراتور
        </button>

        <button
            mat-raised-button
            *ngIf="action === 'edit'"
            (click)="editOperator()"
            color="primary"
            [disabled]="operatorForm.invalid || (userForm.invalid && createUser)"
        >
            ثبت تغییرات
        </button>
    </div>
</div>
