<div class="dialog-content-wrapper" dir="rtl">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">ثبت حدود برای صندوق ها</span>
            <button mat-icon-button (click)="dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <div class="contact-name mt-8">{{ dialogData?.compliance?.title }}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="button">
        <button mat-raised-button color="primary" (click)="create()">
            <mat-icon>add</mat-icon>
            ایجاد
        </button>
    </div>
    <div style="width: 100%">
        <app-table
            [data]="data"
            [columns]="column"
            [paginationSettings]="{ mode: 'local' }"
        ></app-table>
        <ng-container *ngIf="data?.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                <img width="140px" height="140px" src='../../../../../assets/images/no-data.svg' alt="not found" />
                <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
            </div>
        </ng-container>
    </div>
</div>