::ng-deep {
    .mat-header-cell {
        justify-content: center;
    }

    .mat-column-fund {
        flex-grow: 2;
    }

    .mat-dialog-container {
        padding: 0 !important;
    }
}

.button {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}