<div class="page-layout" dir="rtl">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <!-- APP TITLE -->
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"> تعریف حدود صندوق‌ها </span>
            </div>
        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div class="search-wrapper mt-16 mt-sm-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center" style="display: flex">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder="جست و جو حدود صندوق" />
                </div>
            </div>
        </div>
        <!-- / SEARCH -->
    </div>
    <!-- / HEADER -->

    <div class="container" dir="rtl">
        <form [formGroup]="complianceForm" class="complianceForm fuse-card" fxLayout="row wrap" fxLayoutAlign="center center">
            <div fxLayout="row wrap" style="flex-grow: 1">
                <mat-form-field appearance="outline">
                    <input matInput class="form-field" [formControl]="complianceForm.controls['code']" placeholder="کد " required />
                </mat-form-field>

                <mat-form-field appearance="outline" style="flex-grow: 1">
                    <input matInput class="form-field" [formControl]="complianceForm.controls['title']" placeholder="عنوان" required />
                </mat-form-field>
            </div>

            <!--   Actions   -->
            <div class="actions" fxLayout="column wrap" fxLayoutGap="5px" fxLayoutAlign="center center">
                <button
                    mat-raised-button
                    *ngIf="!slectedCompliance"
                    [disabled]="complianceForm.invalid"
                    (click)="addCompliance()"
                    class="save-button"
                    style="width: 200px; height: 40px; margin-bottom: 15px"
                >
                    <mat-icon class="mat-18">add_circle</mat-icon>
                    افزودن
                </button>

                <button
                    mat-raised-button
                    *ngIf="slectedCompliance"
                    [disabled]="complianceForm.invalid"
                    (click)="edit()"
                    class="save-button"
                    color="primary"
                    style="width: 200px; height: 40px"
                >
                    <mat-icon class="mat-18">create</mat-icon>
                    اصلاح
                </button>
                <button
                    mat-raised-button
                    *ngIf="slectedCompliance"
                    (click)="clear()"
                    class="save-button"
                    color="warn"
                    style="width: 200px; height: 40px"
                >
                    <mat-icon>close</mat-icon>
                    انصراف
                </button>
            </div>
        </form>
    </div>

    <div id="table-container">
        <mat-table #table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }" id="compliances" class="fuse-card">
            <!-- lastName Column -->
            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef>کد</mat-header-cell>
                <mat-cell *matCellDef="let compliance">
                    <p class="text-truncate">{{ compliance.code }}</p>
                </mat-cell>
            </ng-container>

            <!-- firstName Column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef>نام</mat-header-cell>
                <mat-cell *matCellDef="let compliance">
                    <p class="email text-truncate">
                        {{ compliance.title }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef>اصلاح</mat-header-cell>
                <mat-cell *matCellDef="let compliance">
                    <button mat-icon-button class="edit-button" color="accent" (click)="editCompliance(compliance)">
                        <mat-icon class="mat-18">create</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="addFund">
                <mat-header-cell *matHeaderCellDef>صندوق</mat-header-cell>
                <mat-cell *matCellDef="let compliance">
                    <button mat-icon-button color="warn" class="edit-button" (click)="addComplianceFund(compliance)">+</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" matRipple [@animate]="{ value: '*', params: { y: '100%' } }"> </mat-row>
        </mat-table>
    </div>
</div>
