<div class="page-layout">

    <app-header pageTitle="صفحه‌ی ۳ تست">
        <div subtitle>
            در این صفحه کامپوننت انتخاب درختی تست می‌شود.
        </div>
        <div>
            <button mat-raised-button color="primary" routerLink="/test/list">
                بازگشت
            </button>
        </div>
    </app-header>

    <div class="page-content">
        <div class="container" [formGroup]="fg">
            <app-tree-select [data]="data" formControlName="tree1"></app-tree-select>
        </div>
    </div>
</div>