<div class="dialog-content-wrapper" dir="rtl">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">ثبت بازارگردان</span>
            <button mat-icon-button (click)="matDialogRef.close()" >
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <app-table
            [data]="data"
            [columns]="column"
            [paginationSettings]="{ mode: 'local' }"
        ></app-table>
        <ng-container *ngIf="data?.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                <img width="140px" height="140px" src='../../../../../assets/images/no-data.svg' />
                <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
            </div>
        </ng-container>

        <form [formGroup]="marketMakerForm"
              class="form"
              fxLayout="row wrap"
              fxLayoutAlign="space-between center">

            <div fxFlex="49">
                <mat-form-field appearance="outline">
                    <mat-label>بازارگردان</mat-label>
                    <mat-select formControlName="markerMakerId" [placeholder]="marketMakerForm.value.markerMakerName"
                                [multiple]="false">
                        <ngx-mat-select-search style="text-align: right" [noEntriesFoundLabel]=" 'یافت نشد'"
                                               [placeholderLabel]="'جستجو'"
                                               [formControl]="searchKey"></ngx-mat-select-search>
                        <mat-option style="text-align: right;" *ngFor="let MarketMaker of marketMakers"
                                    [value]="MarketMaker.id"
                                    (click)="marketMakerForm.controls['markerMakerName'].setValue(MarketMaker.name)">
                            {{MarketMaker?.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div fxFlex="49">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>درصد</mat-label>
                    <input type="number" formControlName="percent" matInput required>
                </mat-form-field>
            </div>

            <div fxFlex="100"
                 fxLayout="row wrap"
                 fxLayoutAlign="center center">
                <button mat-button
                        *ngIf="selectedMarketMaker==null"
                        [disabled]="marketMakerForm.invalid"
                        (click)="add()"
                        color="primary">
                    <mat-icon class="mat-18">add_circle</mat-icon>
                    افزودن
                </button>

                <button mat-button
                        *ngIf="selectedMarketMaker!=null"
                        [disabled]="marketMakerForm.invalid"
                        (click)="edit()"
                        color="primary">
                    <mat-icon class="mat-18">create</mat-icon>
                    اصلاح
                </button>

                <button mat-button
                        *ngIf="selectedMarketMaker!=null"
                        (click)="clear()"
                        color="warn">
                    <mat-icon class="mat-18">clear</mat-icon>
                    انصراف
                </button>
            </div>
        </form>

    </div>
</div>
