<div class="page-layout h-full">
    <app-header pageTitle="کارتابل قرارداد" class="wp-100">
        <button mat-stroked-button (click)="navigateToCardboard()">
            <mat-icon class="mat-18">keyboard_return</mat-icon>
            بازگشت
        </button>
    </app-header>

    <div class="fuse-card mx-40 mt-20 p-40 h-3/4 flex w-full">
        <div class="flex flex-col h-full w-2/5 ml-10">
            <app-cardboard-form class="h-1/2 mb-20"></app-cardboard-form>
            <app-cardboard-note class="h-2/5"></app-cardboard-note>
        </div>

        <div class="height-card w-1/2 mr-10">
            <app-cardboard-history></app-cardboard-history>
        </div>
    </div>
</div>
