<div class="page-layout">
    <app-header pageTitle="کارتابل قرارداد" class="wp-100">
        <button mat-stroked-button (click)="navigateToCardboard()">
            <mat-icon class="mat-18">keyboard_return</mat-icon>
            بازگشت
        </button>
    </app-header>

    <div class="fuse-card mx-40 mt-20 p-40 h-4/5 flex flex-col">
        <div class="flex h-2/5 mb-20">
            <app-cardboard-form class="flex-1 ml-6"></app-cardboard-form>
            <app-cardboard-contract-info class="flex-1 mr-6"></app-cardboard-contract-info>
        </div>

        <div class="flex h-2/5 justify-between">
            <app-cardboard-note class="flex-1 ml-6"></app-cardboard-note>
            <app-cardboard-history class="flex-1 mr-6"></app-cardboard-history>
        </div>
    </div>
</div>
