<mat-card class="h-full w-full p-0">
    <mat-card-header class="w-full bg-blue-900 m-0 py-3.5">
        <div class="w-full flex justify-between items-center px-5 w-full">
            <h2 class="font-bold text-white">یادداشت‌ها</h2>
            <button mat-icon-button color="accent" (click)="onAddNoteClick()" matTooltip="افزودن یادداشت">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </mat-card-header>

    <mat-card-content class="h-3/4 pt-5" [ngClass]="!!contractIdForDialog ? '' : 'overflow-y-scroll'">
        <div class="flex mx-5 items-center border-bottom" *ngFor="let contractNote of contractNotes">
            <mat-icon class="mx-10 cursor-default" color="accent"> event_note </mat-icon>
            <div class="flex flex-col justify-center">
                <header class="flex">
                    <h3>{{ contractNote.note }}</h3>
                </header>
                <section class="text-gray-600">
                    <span> {{ contractNote.updatedAt | convertDate }} - {{ contractNote.step.name }} - {{ contractNote.user.name }} </span>
                </section>
            </div>
        </div>
    </mat-card-content>
</mat-card>
