<div class="page-layout">
    <app-header pageTitle="الگو‌ی قراردادها">
        <button mat-raised-button (click)="newFlow()" color="primary" class="submit-button">الگوی جدید</button>
    </app-header>

    <div fxLayout="row-reverse" fxLayoutAlign="center start" dir="rtl" style="flex: 1; padding: 10px">
        <!--        <div class="fuse-card" fxFlex="40">-->
        <!--            <app-flow-category>-->
        <!--&lt;!&ndash;                <button mat-icon-button (click)="newCategory()" color="accent" class="submit-button"&ndash;&gt;-->
        <!--&lt;!&ndash;                        >&ndash;&gt;-->
        <!--&lt;!&ndash;                    <mat-icon class="mat-18">add</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;                </button>&ndash;&gt;-->
        <!--            </app-flow-category>-->
        <!--        </div>-->

        <div class="fuse-card" fxFlex="99">
            <div style="width: 100%">
                <app-table [data]="data" [columns]="column" [paginationSettings]="{ mode: 'local' }" (searchCall)="search($event)"></app-table>
            </div>
        </div>
    </div>
</div>
