<div class="page-layout">
    <app-header pageTitle="الگو‌ی قراردادها">
        <button mat-raised-button (click)="newFlow()" color="primary" class="submit-button">
            الگوی جدید
        </button>
    </app-header>

    <div fxLayout="row-reverse" fxLayoutAlign="center start" dir="rtl" style="flex: 1; padding: 10px">
        <!--        <div class="fuse-card" fxFlex="40">-->
        <!--            <app-flow-category>-->
        <!--&lt;!&ndash;                <button mat-icon-button (click)="newCategory()" color="accent" class="submit-button"&ndash;&gt;-->
        <!--&lt;!&ndash;                        >&ndash;&gt;-->
        <!--&lt;!&ndash;                    <mat-icon class="mat-18">add</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;                </button>&ndash;&gt;-->
        <!--            </app-flow-category>-->
        <!--        </div>-->

        <div class="fuse-card" fxFlex="99">

            <div id="table-container">
                <mat-table #table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>
                            <mat-form-field appearance="fill">
                                <input matInput class="form-field" [formControl]="searchInput" placeholder="نام قرارداد"/>
                            </mat-form-field>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let flow" [routerLink]="['/flow/maker', flow._id]">
                            <p class="text-truncate font-weight-600">{{ flow.name }}</p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="categoryId">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm> دسته‌بندی قرارداد</mat-header-cell>
                        <mat-cell *matCellDef="let flow" fxHide fxShow.gt-sm>
                            <p class="email text-truncate">
                                {{ flow?.category?.name }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>حذف قرارداد</mat-header-cell>
                        <mat-cell *matCellDef="let flow" fxHide fxShow.gt-sm>
                            <button mat-raised-button color="warn" (click)="delete(flow._id)">حذف</button>
                        </mat-cell>
                    </ng-container> -->

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let flow; columns: displayedColumns" matRipple [@animate]="{ value: '*', params: { y: '100%' } }"></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
</div>
