<div class="item">
    <div class="right-align">
        <div class="logo">
            <img height="30px" src="./assets/images/user.svg" style="border-radius: 50%" width="30px" alt="" />
        </div>
        <div class="header text-truncate">{{ mail?.title }}</div>

        <div *ngIf="mail.status === 'Read'" class="label">خوانده شده</div>
        <div *ngIf="mail.status !== 'Read'" class="label">خوانده نشده</div>
    </div>
    <div class="date">{{ mail?.submitDate | convertDate }}</div>
</div>
