<div class="page-layout" dir="rtl" style="overflow: auto">
    <app-header pageTitle="ریسک و زیان عملیاتی">
        <div>
            <a [routerLink]="['add']" mat-raised-button color="primary" class="mx-20"> <mat-icon>add</mat-icon> ایجاد ریسک </a>
            <a [routerLink]="['loss']" mat-raised-button color="primary" class="mx-20"> <mat-icon>add</mat-icon> ایجاد زیان </a>
        </div>
    </app-header>

    <div class="page-content">
        <div class="fuse-card mb-20">
            <div mat-dialog-title class="header mr-20 mt-20" fxLayout="row wrap" fxLayoutAlign="space-between center" dir="rtl">
                <h1>ریسک و زیان های در جریان</h1>
            </div>

            <div class="fuse-card data-show" dir="rtl">
                <app-table [data]="data" [columns]="columns"> </app-table>
            </div>
        </div>

        <div class="fuse-card">
            <div mat-dialog-title class="header mr-20 mt-20" fxLayout="row wrap" fxLayoutAlign="space-between center" dir="rtl">
                <h1>پیشینه‌ی ریسک و زیان ها</h1>
            </div>

            <div class="fuse-card data-show" dir="rtl">
                <app-table [data]="dataHistory" [columns]="columnsHistory" (searchEvent)='search($event)'> </app-table>
            </div>
        </div>
    </div>
</div>
