<div class='dialog-content-wrapper' dir='rtl'>
    <mat-toolbar class='mat-accent m-0' matDialogTitle>
        <mat-toolbar-row fxLayout='row' fxLayoutAlign='space-between center'>
            <span class='title dialog-title'>ثبت حدود برای صندوق ها</span>
            <button (click)='matDialogRef.close()' mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class='toolbar-bottom py-16' fxLayout='column' fxLayoutAlign='center center'>
            <div class='contact-name mt-8'>{{ _data.compliance?.title }}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class='p-24 pb-0 m-0' mat-dialog-content>
        <form [formGroup]='compliance' class='form' fxLayout='row wrap'
              style='align-items: center; justify-content: space-around'>
            <div>
                <mat-form-field appearance='outline'>
                    <input [formControl]='searchFund' [matAutocomplete]='auto' matInput placeholder='نام صندوق'
                           type='text' />
                    <mat-autocomplete #auto='matAutocomplete'>
                        <mat-option *ngFor='let fund of funds' [value]='{ name: fund.name, id: fund.id }'>
                            {{ fund.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance='outline' fxFlex>
                    <mat-label> حد بالا</mat-label>
                    <input formControlName='up' matInput required type='number' />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance='outline' fxFlex>
                    <mat-label>حد پایین</mat-label>
                    <input formControlName='down' matInput required type='number' />
                </mat-form-field>
            </div>

            <button
                (click)='addComplianceFund()'
                *ngIf='!slectedCompliance'
                [disabled]='compliance.invalid'
                class='save-button'
                mat-raised-button
                style='width: 200px; height: 40px'
            >
                افزودن
            </button>
            <button
                (click)='edit()'
                *ngIf='slectedCompliance'
                [disabled]='compliance.invalid'
                class='save-button'
                mat-raised-button
                style='width: 200px; height: 40px'
            >
                اصلاح
            </button>
            <button (click)='clear()' *ngIf='slectedCompliance' class='save-button' mat-raised-button
                    style='width: 200px; height: 40px'>برگشت
            </button>
        </form>

        <mat-table #table [@animateStagger]="{ value: '50' }" [dataSource]='dataSource' id='compliances'>
            <!-- lastName Column -->
            <ng-container matColumnDef='fund'>
                <mat-header-cell *matHeaderCellDef>نام صندوق</mat-header-cell>
                <mat-cell *matCellDef='let compliance'>
                    <p class='text-truncate'>{{ compliance.fundName }}</p>
                </mat-cell>
            </ng-container>

            <!-- firstName Column -->
            <ng-container matColumnDef='up'>
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>حد پایین</mat-header-cell>
                <mat-cell *matCellDef='let compliance' fxHide fxShow.gt-sm>
                    <p class='email text-truncate'>
                        {{ compliance.up }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef='down'>
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>حد بالا</mat-header-cell>
                <mat-cell *matCellDef='let compliance' fxHide fxShow.gt-sm>
                    <p class='email text-truncate'>
                        {{ compliance.down }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef='edit'>
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>اصلاح</mat-header-cell>
                <mat-cell *matCellDef='let compliance' fxHide fxShow.gt-sm>
                    <button (click)='editComplianceFund(compliance)' class='edit-button' color='warn' mat-raised-button>
                        اصلاح
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef='delete'>
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>حذف</mat-header-cell>
                <mat-cell *matCellDef='let compliance' fxHide fxShow.gt-sm>
                    <button (click)='deleteFund(compliance.id)' class='' color='warn' mat-raised-button>حذف</button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef='displayedColumns; sticky: true'></mat-header-row>
            <mat-row *matRowDef='let row; columns: displayedColumns' [@animate]="{ value: '*', params: { y: '100%' } }"
                     matRipple></mat-row>
        </mat-table>
    </div>
</div>
