<div class='fuse-card'>
    <div dir='rtl'>
        <app-table
            (paginationEvent)='paginationControl($event)'
            (searchEvent)='search($event)'
            [columns]='column'
            [data]='data'
            [paginationObject]='pagination'
            [paginationSettings]="{ mode: 'scroll' }"
            [status]='status'
            height='55vh'
        ></app-table>
    </div>

    <div class='container' dir='rtl'>
        <div class='issuer'>
            <form [formGroup]='guarantorForm'>
                <mat-form-field appearance='outline' style='flex-grow: 1'>
                    <input class='form-field' formControlName='guarantor' matInput placeholder='نام ضامن' required />
                </mat-form-field>

                <mat-form-field appearance='outline' style='flex-grow: 1; min-width: 185px'>
                    <mat-label>بورسی/غیر بورسی</mat-label>
                    <mat-select formControlName='otc' required>
                        <mat-option value='0'> بورسی</mat-option>
                        <mat-option value='1'> غیر بورسی</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance='outline' style='flex-grow: 1'>
                    <input class='form-field' formControlName='type' matInput placeholder='نوع' required />
                </mat-form-field>
            </form>

            <div class='setting-btn-container' fxLayout='column wrap' fxLayoutAlign='center center' fxLayoutGap='5px'>
                <button (click)='edit()' *ngIf='selectedGuarantor' [disabled]='guarantorForm.invalid' color='accent'
                        mat-raised-button>
                    <mat-icon>edit</mat-icon>
                    ویرایش
                </button>

                <button (click)='clear()' *ngIf='selectedGuarantor' color='warn' mat-raised-button
                        style='margin-left: 10px'>
                    <mat-icon>close</mat-icon>
                    برگشت
                </button>

                <button (click)='addIssuer()' *ngIf='!selectedGuarantor' [disabled]='guarantorForm.invalid'
                        color='accent' mat-raised-button>
                    <mat-icon>done</mat-icon>
                    ثبت
                </button>
            </div>
        </div>
    </div>
</div>
