<div class="page-layout" dir="rtl">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"> اپراتور‌ها </span>
            </div>
        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
            <div class="search-wrapper mt-16 mt-sm-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center" style="display: flex">
                    <mat-icon color="primary">search</mat-icon>
                    <label>
                        <input [formControl]="searchInput" placeholder="جستجو اپراتور" />
                    </label>
                </div>
            </div>
        </div>
        <!-- / SEARCH -->

        <button mat-raised-button color="primary" class="submit-button" (click)="newOperator()">ثبت اپراتور</button>
    </div>
    <!-- / HEADER -->

    <div id="table-container">
        <div class="setting-panel fuse-card">
            <div style="width: 100%">
                <app-table *ngIf="dataSource && dataSource.length" [data]="dataSource" [columns]="column" [paginationSettings]="{ mode: 'local' }"></app-table>
                <ng-template let-row="row" #status>
                    <button mat-icon-button *ngIf="row.status">
                        <mat-icon class="mat-18" color="primary">check_circle_outline</mat-icon>
                    </button>
                    <button *ngIf="!row.status" mat-icon-button (click)="editOperator(row)">
                        <mat-icon class="mat-18" color="warn">highlight_off</mat-icon>
                    </button>
                </ng-template>
                <ng-container *ngIf="dataSource?.length === 0">
                    <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                        <img width="140px" height="140px" src="../../../../assets/images/no-data.svg" alt="not found" />
                        <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
cc
