<div class="page-layout">
    <app-header [pageTitle]="'مدیریت ساختار و نقش‌های نهاد ' + organizationTitle" class="wp-100"> </app-header>

    <div class="page-content">
        <app-tree-header-selector
            [headerList]="headerList"
            [organizationId]="organizationId"
            (changedSection)="detectSectionChanges($event)"
        ></app-tree-header-selector>

        <app-tree-simple-selector
            *ngIf="!loading"
            [selected]="selectedTreeChartName"
            [selectedOrg]="selectedTreeChartName"
            [organizationCode]="organizationInfo.code"
        ></app-tree-simple-selector>
    </div>
</div>
