<div class="page-layout">
    <app-header pageTitle="گزارشات ریسک"> </app-header>
    <div fxLayout="column wrap" dir="rtl" style="overflow: auto">
        <div class="fuse-card">
            <mat-tab-group (selectedTabChange)="changeTab()" mat-stretch-tabs>
                <mat-tab label="ریسک">
                    <div style="padding: 10px" fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="space-between" class="chart-box" style="margin: 30px 0">
                            <app-pie-chart-js
                                [data]="diversPieChartData"
                                [chartName]="'محرکه عملیاتی'"
                                (onDatePicked)="getChildPie($event, 'OPRiskDriver')"
                                [height]="150"
                            ></app-pie-chart-js>
                            <app-pie-chart-js
                                [data]="levelPieChartData"
                                [chartName]="'طبقه ریسک'"
                                (onDatePicked)="getChildPie($event, 'OPRiskLevel')"
                                [height]="150"
                            ></app-pie-chart-js>
                            <app-pie-chart-js
                                [data]="recoveryPieChartData"
                                [chartName]="'پوشش'"
                                (onDatePicked)="getChildPie($event, 'OPRiskRecovery')"
                                [height]="150"
                            ></app-pie-chart-js>
                            <app-pie-chart-js
                                [data]="losePieChartData"
                                [chartName]="'زیان'"
                                (onDatePicked)="getChildPie($event, 'losse')"
                                [height]="150"
                            ></app-pie-chart-js>
                        </div>

                        <mat-divider></mat-divider>

                        <form [formGroup]="barChartSearchForm" fxLayout="row" fxLayoutAlign="space-evenly none" style="margin: 30px 0" fxFlex="100">
                            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly none">
                                <div fxLayout="column" fxFlex="300px" fxLayoutAlign="space-evenly none">
                                    <mat-form-field appearance="outline">
                                        <mat-label>محور افقی</mat-label>
                                        <mat-select formControlName="xAxis">
                                            <mat-option *ngFor="let x of xAxis" [value]="x.type">{{ x.titleFA }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxFlex="300px" fxLayoutAlign="space-evenly none">
                                    <mat-form-field appearance="outline">
                                        <mat-label>محور عمودی</mat-label>
                                        <mat-select formControlName="yAxis">
                                            <mat-option *ngFor="let xs of yAxis" [value]="xs.type">{{ xs.titleFA }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly none" style="margin-right: auto">
                                <div fxLayout="column" fxFlex="100px" fxLayoutAlign="space-evenly none">
                                    <button
                                        mat-flat-button
                                        color="accent"
                                        [disabled]="barChartSearchForm.invalid"
                                        (click)="getBarChart('riskBarChartData')"
                                    >
                                        <mat-icon>search</mat-icon>
                                        جستجو
                                    </button>
                                </div>
                                <div fxLayout="column" fxFlex="100px" fxLayoutAlign="space-evenly none">
                                    <button color="warn" mat-stroked-button (click)="riskBarChartData = null">
                                        <mat-icon>cancel</mat-icon>
                                        انصراف
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100" style="margin-top: 30px">
                            <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-evenly none">
                                <app-bar-chart-js [data]="riskBarChartData" [height]="100"></app-bar-chart-js>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100" style="margin-top: 30px">
                            <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-evenly none">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>گزارش‌گیری ريسك عملياتي</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul style="list-style: none">
                                            <li *ngFor="let top of tops">
                                                <mat-accordion>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>{{ top.name }}</mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <mat-chip-list>
                                                            <mat-chip *ngFor="let operator of top.items" color="accent" selected="true">
                                                                {{ operator.titleFA }}
                                                            </mat-chip>
                                                        </mat-chip-list>
                                                    </mat-expansion-panel>
                                                </mat-accordion>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="زیان">
                    <div style="padding: 10px" fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="space-between" class="chart-box" style="margin: 30px 0">
                            <app-pie-chart-js
                                [data]="diversPieChartData"
                                [chartName]="'محرکه عملیاتی'"
                                (onDatePicked)="getChildPie($event, 'OPRiskDriver')"
                                [height]="150"
                            ></app-pie-chart-js>
                            <app-pie-chart-js
                                [data]="levelPieChartData"
                                [chartName]="'طبقه ریسک'"
                                (onDatePicked)="getChildPie($event, 'OPRiskLevel')"
                                [height]="150"
                            ></app-pie-chart-js>
                            <app-pie-chart-js
                                [data]="recoveryPieChartData"
                                [chartName]="'پوشش'"
                                (onDatePicked)="getChildPie($event, 'OPRiskRecovery')"
                                [height]="150"
                            ></app-pie-chart-js>
                            <app-pie-chart-js
                                [data]="losePieChartData"
                                [chartName]="'زیان'"
                                (onDatePicked)="getChildPie($event, 'losse')"
                                [height]="150"
                            ></app-pie-chart-js>
                        </div>

                        <mat-divider></mat-divider>

                        <form [formGroup]="barChartSearchForm" fxLayout="row" fxLayoutAlign="space-evenly none" style="margin: 30px 0" fxFlex="100">
                            <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100">
                                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly none">
                                    <div fxLayout="column" fxFlex="300px" fxLayoutAlign="space-evenly none">
                                        <mat-form-field appearance="outline">
                                            <mat-label>محور افقی</mat-label>
                                            <mat-select formControlName="xAxis">
                                                <mat-option *ngFor="let x of xAxis" [value]="x.type">{{ x.titleFA }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="column" fxFlex="300px" fxLayoutAlign="space-evenly none">
                                        <mat-form-field appearance="outline">
                                            <mat-label>محور عمودی</mat-label>
                                            <mat-select formControlName="yAxis">
                                                <mat-option *ngFor="let xs of yAxis" [value]="xs.type">{{ xs.titleFA }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly none" style="margin-right: auto">
                                    <div fxLayout="column" fxFlex="100px" fxLayoutAlign="space-evenly none">
                                        <button
                                            mat-flat-button
                                            color="accent"
                                            [disabled]="barChartSearchForm.invalid"
                                            (click)="getBarChart('lossBarChartData')"
                                        >
                                            <mat-icon>search</mat-icon>
                                            جستجو
                                        </button>
                                    </div>
                                    <div fxLayout="column" fxFlex="100px" fxLayoutAlign="space-evenly none">
                                        <button color="warn" mat-stroked-button (click)="lossBarChartData = null">
                                            <mat-icon>cancel</mat-icon>
                                            انصراف
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100" style="margin-top: 30px">
                            <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-evenly none">
                                <app-bar-chart-js [data]="lossBarChartData" [height]="100"></app-bar-chart-js>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100" style="margin: 30px">
                            <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-evenly none">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>گزارش‌گیری ريسك عملياتي</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul style="list-style: none">
                                            <li *ngFor="let top of tops">
                                                <mat-accordion>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>{{ top.name }}</mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <mat-chip-list>
                                                            <mat-chip *ngFor="let operator of top.items" color="accent" selected="true">
                                                                {{ operator.titleFA }}
                                                            </mat-chip>
                                                        </mat-chip-list>
                                                    </mat-expansion-panel>
                                                </mat-accordion>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<!-- HEAT MAP-->

<!--                <div fxLayout="row wrap" fxLayoutAlign="space-evenly none" fxFlex="100" [formGroup]="heatMapSearchForm" style="margin-top: 30px;">-->

<!--                    <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100" >-->

<!--                        <div fxLayout="column" fxFlex="15" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>محدوده ۱</mat-label>-->
<!--                                <input type="text" matInput disabled value="خیلی کم" style="color: green;">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="20" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>حد پایین</mat-label>-->
<!--                                <input matInput style="color: green;" disabled value="0">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="35" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>محدوده کمی</mat-label>-->
<!--                                <input type="text" matInput disabled value="ضریب احتمالا وقوع در متوسط مبلغ زیان" style="color: green;">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="20" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>حد بالا</mat-label>-->
<!--                                <input type="number" matInput style="color: green;" formControlName="veryLowX">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->

<!--                    <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100">-->

<!--                        <div fxLayout="column" fxFlex="15" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>محدوده ۲</mat-label>-->
<!--                                <input type="text" matInput disabled value="کم" style="color: #78c901;">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="20" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>حد پایین</mat-label>-->
<!--                                <input type="number" matInput style="color: #78c901;" disabled [value]="heatMapSearchForm.value.veryLowX">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="35" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>محدوده کمی</mat-label>-->
<!--                                <input type="text" matInput disabled value="ضریب احتمالا وقوع در متوسط مبلغ زیان" style="color: #78c901;">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="20" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>حد بالا</mat-label>-->
<!--                                <input type="number" matInput style="color: #78c901;" formControlName="lowX">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                    <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100">-->

<!--                        <div fxLayout="column" fxFlex="15" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>محدوده 3</mat-label>-->
<!--                                <input type="text" matInput disabled value="متوسط" style="color: #e7d108;">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="20" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>حد پایین</mat-label>-->
<!--                                <input type="number" matInput style="color: #e7d108;" disabled [value]="heatMapSearchForm.value.lowX">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="35" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>محدوده کمی</mat-label>-->
<!--                                <input type="text" matInput disabled value="ضریب احتمالا وقوع در متوسط مبلغ زیان" style="color: #e7d108;">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="20" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>حد بالا</mat-label>-->
<!--                                <input type="number" matInput style="color: #e7d108;" formControlName="mediumX">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                    <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100">-->

<!--                        <div fxLayout="column" fxFlex="15" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>محدوده 4</mat-label>-->
<!--                                <input type="text" matInput disabled value="زیاد" style="color: darkorange;">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="20" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>حد پایین</mat-label>-->
<!--                                <input type="number" matInput style="color: darkorange;" disabled [value]="heatMapSearchForm.value.mediumX">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="35" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>محدوده کمی</mat-label>-->
<!--                                <input type="text" matInput disabled value="ضریب احتمالا وقوع در متوسط مبلغ زیان" style="color: darkorange;">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="20" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>حد بالا</mat-label>-->
<!--                                <input type="number" matInput style="color: darkorange;"  formControlName="highX">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                    <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100">-->

<!--                        <div fxLayout="column" fxFlex="15" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>محدوده 5</mat-label>-->
<!--                                <input type="text" matInput disabled value="خیلی زیاد" style="color: red;">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="20" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>حد پایین</mat-label>-->
<!--                                <input type="number" matInput style="color: red;"  disabled [value]="heatMapSearchForm.value.highX"  >-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="35" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>محدوده کمی</mat-label>-->
<!--                                <input type="text" matInput disabled value="ضریب احتمالا وقوع در متوسط مبلغ زیان" style="color: red;">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                        <div fxLayout="column" fxFlex="20" fxLayoutAlign="space-evenly none">-->
<!--                            <mat-form-field appearance="outline">-->
<!--                                <mat-label>حد بالا</mat-label>-->
<!--                                <input type="number" matInput style="color: red;" [max]="heatMapSearchForm.value.criticalX" formControlName="criticalX">-->
<!--                            </mat-form-field>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                    <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100">-->
<!--                        <div fxLayout="column" fxFlex="10" fxLayoutAlign="space-evenly none">-->
<!--                            <button color="primary" (click)="showHeatMap()" mat-button>-->
<!--                                <mat-icon>show</mat-icon>-->
<!--                                نمایش نقشه گرمایشی-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->

<!--                <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlex="100">-->
<!--                    <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-evenly none">-->
<!--&lt;!&ndash;                        <app-heat-map-custom-chart-js [data]="heatMapData"></app-heat-map-custom-chart-js>&ndash;&gt;-->
<!--&lt;!&ndash;                        <app-heat-map-chart [data]="heatMapData" height="1000px" width="1000px"></app-heat-map-chart>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
