<div class='page-layout'>
    <app-header pageTitle='گزارش‌های ریسک عملیاتی'></app-header>
    <div dir='rtl' fxLayout='column wrap' style='overflow: auto'>
        <div class='fuse-card'>
            <mat-tab-group (selectedTabChange)='changeTab()' mat-stretch-tabs>
                <mat-tab label='ریسک'>
                    <div fxLayout='column' style='padding: 10px'>
                        <div class='chart-box' fxLayout='row' fxLayoutAlign='space-between' style='margin: 30px 0'>
                            <app-pie-chart-js
                                (onDatePicked)="getChildPie($event, 'OPRiskDriver')"
                                [chartName]="'محرکه عملیاتی'"
                                [data]='diversPieChartData'
                                [height]='150'
                            ></app-pie-chart-js>
                            <app-pie-chart-js
                                (onDatePicked)="getChildPie($event, 'OPRiskLevel')"
                                [chartName]="'طبقه ریسک'"
                                [data]='levelPieChartData'
                                [height]='150'
                            ></app-pie-chart-js>
                            <app-pie-chart-js
                                (onDatePicked)="getChildPie($event, 'OPRiskRecovery')"
                                [chartName]="'پوشش'"
                                [data]='recoveryPieChartData'
                                [height]='150'
                            ></app-pie-chart-js>
                            <app-pie-chart-js
                                (onDatePicked)="getChildPie($event, 'losse')"
                                [chartName]="'زیان'"
                                [data]='losePieChartData'
                                [height]='150'
                            ></app-pie-chart-js>
                        </div>

                        <mat-divider></mat-divider>

                        <form [formGroup]='barChartSearchForm' fxFlex='100' fxLayout='row'
                              fxLayoutAlign='space-evenly none' style='margin: 30px 0'>
                            <div fxLayout='row' fxLayoutAlign='space-evenly none' fxLayoutGap='20px'>
                                <div fxFlex='300px' fxLayout='column' fxLayoutAlign='space-evenly none'>
                                    <mat-form-field appearance='outline'>
                                        <mat-label>محور افقی</mat-label>
                                        <mat-select formControlName='xAxis'>
                                            <mat-option *ngFor='let x of xAxis'
                                                        [value]='x.type'>{{ x.titleFA }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex='300px' fxLayout='column' fxLayoutAlign='space-evenly none'>
                                    <mat-form-field appearance='outline'>
                                        <mat-label>محور عمودی</mat-label>
                                        <mat-select formControlName='yAxis'>
                                            <mat-option *ngFor='let xs of yAxis'
                                                        [value]='xs.type'>{{ xs.titleFA }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div fxLayout='row' fxLayoutAlign='space-evenly none' fxLayoutGap='20px'
                                 style='margin-right: auto'>
                                <div fxFlex='100px' fxLayout='column' fxLayoutAlign='space-evenly none'>
                                    <button (click)="getBarChart('riskBarChartData')" [disabled]='barChartSearchForm.invalid' color='accent'
                                            mat-flat-button>
                                        <mat-icon>search</mat-icon>
                                        جستجو
                                    </button>
                                </div>
                                <div fxFlex='100px' fxLayout='column' fxLayoutAlign='space-evenly none'>
                                    <button (click)='riskBarChartData = null' color='warn' mat-stroked-button>
                                        <mat-icon>cancel</mat-icon>
                                        برگشت
                                    </button>
                                </div>
                            </div>
                        </form>

                        <div fxFlex='100' fxLayout='row' fxLayoutAlign='space-evenly none' style='margin-top: 30px'>
                            <div fxFlex='100' fxLayout='column' fxLayoutAlign='space-evenly none'>
                                <app-bar-chart-js [data]='riskBarChartData' [height]='100'></app-bar-chart-js>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <div fxFlex='100' fxLayout='row' fxLayoutAlign='space-evenly none' style='margin-top: 30px'>
                            <div fxFlex='100' fxLayout='column' fxLayoutAlign='space-evenly none'>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>گزارش‌گیری ريسك عملياتي</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul style='list-style: none'>
                                            <li *ngFor='let top of tops'>
                                                <mat-accordion>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>{{ top.name }}</mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <mat-chip-list>
                                                            <mat-chip *ngFor='let operator of top.items' color='accent'
                                                                      selected='true'>
                                                                {{ operator.titleFA }}
                                                            </mat-chip>
                                                        </mat-chip-list>
                                                    </mat-expansion-panel>
                                                </mat-accordion>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label='زیان'>
                    <div fxLayout='column' style='padding: 10px'>
                        <div class='chart-box' fxLayout='row' fxLayoutAlign='space-between' style='margin: 30px 0'>
                            <app-pie-chart-js
                                (onDatePicked)="getChildPie($event, 'OPRiskDriver')"
                                [chartName]="'محرکه عملیاتی'"
                                [data]='diversPieChartData'
                                [height]='150'
                            ></app-pie-chart-js>
                            <app-pie-chart-js
                                (onDatePicked)="getChildPie($event, 'OPRiskLevel')"
                                [chartName]="'طبقه ریسک'"
                                [data]='levelPieChartData'
                                [height]='150'
                            ></app-pie-chart-js>
                            <app-pie-chart-js
                                (onDatePicked)="getChildPie($event, 'OPRiskRecovery')"
                                [chartName]="'پوشش'"
                                [data]='recoveryPieChartData'
                                [height]='150'
                            ></app-pie-chart-js>
                            <app-pie-chart-js
                                (onDatePicked)="getChildPie($event, 'losse')"
                                [chartName]="'زیان'"
                                [data]='losePieChartData'
                                [height]='150'
                            ></app-pie-chart-js>
                        </div>

                        <mat-divider></mat-divider>

                        <form [formGroup]='barChartSearchForm' fxFlex='100' fxLayout='row'
                              fxLayoutAlign='space-evenly none' style='margin: 30px 0'>
                            <div fxFlex='100' fxLayout='row' fxLayoutAlign='space-evenly none'>
                                <div fxLayout='row' fxLayoutAlign='space-evenly none' fxLayoutGap='20px'>
                                    <div fxFlex='300px' fxLayout='column' fxLayoutAlign='space-evenly none'>
                                        <mat-form-field appearance='outline'>
                                            <mat-label>محور افقی</mat-label>
                                            <mat-select formControlName='xAxis'>
                                                <mat-option *ngFor='let x of xAxis'
                                                            [value]='x.type'>{{ x.titleFA }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex='300px' fxLayout='column' fxLayoutAlign='space-evenly none'>
                                        <mat-form-field appearance='outline'>
                                            <mat-label>محور عمودی</mat-label>
                                            <mat-select formControlName='yAxis'>
                                                <mat-option *ngFor='let xs of yAxis'
                                                            [value]='xs.type'>{{ xs.titleFA }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div fxLayout='row' fxLayoutAlign='space-evenly none' fxLayoutGap='20px'
                                     style='margin-right: auto'>
                                    <div fxFlex='100px' fxLayout='column' fxLayoutAlign='space-evenly none'>
                                        <button
                                            (click)="getBarChart('lossBarChartData')"
                                            [disabled]='barChartSearchForm.invalid'
                                            color='accent'
                                            mat-flat-button
                                        >
                                            <mat-icon>search</mat-icon>
                                            جستجو
                                        </button>
                                    </div>
                                    <div fxFlex='100px' fxLayout='column' fxLayoutAlign='space-evenly none'>
                                        <button (click)='lossBarChartData = null' color='warn' mat-stroked-button>
                                            <mat-icon>cancel</mat-icon>
                                            برگشت
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div fxFlex='100' fxLayout='row' fxLayoutAlign='space-evenly none' style='margin-top: 30px'>
                            <div fxFlex='100' fxLayout='column' fxLayoutAlign='space-evenly none'>
                                <app-bar-chart-js [data]='lossBarChartData' [height]='100'></app-bar-chart-js>
                            </div>
                        </div>

                        <mat-divider></mat-divider>

                        <div fxFlex='100' fxLayout='row' fxLayoutAlign='space-evenly none' style='margin: 30px'>
                            <div fxFlex='100' fxLayout='column' fxLayoutAlign='space-evenly none'>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>گزارش‌گیری ريسك عملياتي</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <ul style='list-style: none'>
                                            <li *ngFor='let top of tops'>
                                                <mat-accordion>
                                                    <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title>{{ top.name }}</mat-panel-title>
                                                        </mat-expansion-panel-header>
                                                        <mat-chip-list>
                                                            <mat-chip *ngFor='let operator of top.items' color='accent'
                                                                      selected='true'>
                                                                {{ operator.titleFA }}
                                                            </mat-chip>
                                                        </mat-chip-list>
                                                    </mat-expansion-panel>
                                                </mat-accordion>
                                            </li>
                                        </ul>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
