<div *ngIf='show' class='search-container' dir='rtl'>
    <mat-form-field [appearance]='appearance'
                    [color]='color'
                    [ngClass]="{'has-error':required&&!selected&&touchedValue}"
                    class='search-form-field'>

        <mat-label>
            {{label}}
        </mat-label>

        <button (click)='clearInput($event)'
                *ngIf='this.searchResultControl.value && !this.isDisabled && showClearButton'
                class='remove-btn'
                mat-icon-button
                matSuffix>
            <mat-icon>clear</mat-icon>
        </button>


        <mat-select [compareWith]='compareCategoryObjects'
                    [formControl]='searchResultControl'
                    [multiple]='multi===true'>

            <mat-option>

                <ngx-mat-select-search [clearSearchInput]='true'
                                       [formControl]='searchControl'
                                       [noEntriesFoundLabel]='noEntriesFoundLabel'
                                       [placeholderLabel]='placeholder'
                                       [searching]='this.data.state === stateType.LOADING'>
                </ngx-mat-select-search>

            </mat-option>


            <!--     Selected      -->
            <ng-container *ngIf='selected'>

                <!--      Label Template         -->
                <ng-template #optionLabel let-selectOption='selectOption'>
                    <ng-container *ngIf='checkIfArray(uiPropertyName)'>
                        <ng-container *ngFor='let property of uiPropertyName; let i = index'>
                            {{selectOption[property]}}
                            {{(i !== uiPropertyName.length - 1) ? ' - ' : ''}}
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf='!checkIfArray(uiPropertyName)'>
                        {{selectOption[uiPropertyName]}}
                    </ng-container>
                </ng-template>


                <!--      If Array          -->
                <ng-container *ngIf='checkIfArray(selected)'>
                    <mat-option *ngFor='let selectOption of selected' [value]='selectOption'>
                        <ng-container *ngTemplateOutlet='optionLabel; context:{selectOption:selectOption}'>
                        </ng-container>
                    </mat-option>
                </ng-container>

                <!--      If Not Array       -->
                <ng-container *ngIf='!checkIfArray(selected)'>
                    <mat-option [value]='selected'>
                        <ng-container *ngTemplateOutlet='optionLabel; context:{selectOption:selected}'>
                        </ng-container>
                    </mat-option>
                </ng-container>
            </ng-container>


            <ng-container *ngFor='let item of data.list'>
                <mat-option *ngIf='!selected || checkItemIfNotSelected(item)'
                            [value]='item'>
                    <ng-container *ngIf='checkIfArray(uiPropertyName)'>
                        <ng-container *ngFor='let property of uiPropertyName; let i = index'>
                            {{item[property]}}
                            {{(i !== uiPropertyName.length - 1) ? ' - ' : ''}}
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf='!checkIfArray(uiPropertyName)'>
                        {{item[uiPropertyName]}}
                    </ng-container>
                </mat-option>
            </ng-container>
        </mat-select>
        <div class='suffix'>
            <ng-content matSuffix select='[suffix]'></ng-content>
        </div>
        <ng-content select='[error]'></ng-content>

    </mat-form-field>
</div>
