<div class="page-layout">
    <app-header pageTitle="قراردادها" class="wp-100">
        <button mat-stroked-button (click)="openContractDialog('create')">
            <mat-icon class="mat-18">add</mat-icon>
            افزودن قرارداد
        </button>
    </app-header>

    <div class="fuse-card m-40 p-40">
        <h1 class="wp-100 text-center mb-20">فهرست قراردادها</h1>

        <form [formGroup]="form" class="flex justify-around items-center" dir="rtl">
            <mat-form-field (change)="checkIsActiveFormControl()" appearance="outline">
                <mat-label>نام قرارداد</mat-label>
                <mat-icon matSuffix class="secondary-text">business</mat-icon>
                <input name="name" formControlName="name" matInput />
            </mat-form-field>

            <mat-button-toggle-group (change)="checkIsActiveFormControl($event)" formControlName="isActive" class="flex justify-center items-center h-1/4">
                <mat-button-toggle [disabled]="true" appearance="legacy">وضعیت قرارداد</mat-button-toggle>
                <mat-button-toggle value="all" appearance="standard">همه</mat-button-toggle>
                <mat-button-toggle [value]="true">تنها فعال‌ها</mat-button-toggle>
                <mat-button-toggle [value]="false">تنها‌ غیرفعال‌ها</mat-button-toggle>
            </mat-button-toggle-group>
        </form>

        <div class="container fuse-card">
            <app-table
                [data]="contracts"
                [columns]="tableColumn"
                [paginationSettings]="{ mode: 'backend' }"
                [paginationObject]="pagination"
                (paginationEvent)="paginationControl($event)"
            ></app-table>
        </div>
    </div>
</div>
