<div class='inner-scroll' fxLayout='row' fxLayoutAlign='start' id='login'>
    <div fxFlex fxHide fxShow.gt-xs id='login-intro'>
        <div [@animate]="{ value: '*', params: { scale: '0.2' } }" class='logo'>
            <img alt='logo' src='../../../../assets/images/logo.png' style='padding: 10px' />
        </div>

        <!--        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">-->
        <!--            به هوشمند ریسک خوش آمدید-->
        <!--        </div>-->

        <div [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }" class='description'>
            شرکت مدیریت ریسک هوشمند ایرانیان از اسفند ماه 1397 فعالیت خود را در حوزه مدیریت ریسک آغاز کرد. مدیریت ریسک
            در حوزه­های مختلفی همچون سرمایه­ گذاری،
            حسابداری تطبیق، حاکمیت شرکتی مدیریت عملکرد، مدیریت و ارزیابی پروژه، هوشمندی کسب و کار و سایر حوزه­­ های مالی
            و غیر مالی و برای کلیه اشخاص حقوقی و
            غیرحقوقی اعم از داخلی و خارجی کاربرد دارد و عامل تولید و فروش سیستم ­های نرم ­افزاری مربوط به این حوزه ­ها
            است.
        </div>

        <div class='copy-right'>
            <h5>
                © 1399 تمامی حقوق متعلق به
                <a href='https://www.hooshmandrisk.ir' target='__blank__'>شرکت مدیریت ریسک هوشمند ایرانیان</a>
                می باشد.
            </h5>
        </div>
    </div>

    <div [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }" dir='rtl' fusePerfectScrollbar
         id='login-form-wrapper'>
        <div id='login-form'>
            <div class='logo' fxHide.gt-xs>
                <img alt='white logo image' src='../../../../assets/images/white-logo.png' />
            </div>

            <div class='title'>ورود به حساب کاربری</div>

            <form (submit)='login()' [formGroup]='loginForm' name='loginForm' novalidate>
                <mat-form-field appearance='outline' class='mb-2'>
                    <mat-label>نام کاربری</mat-label>
                    <label>
                        <input formControlName='username' matInput />
                    </label>
                    <mat-icon class='secondary-text' matSuffix>account_circle</mat-icon>
                    <mat-error> نام کاربری الزامی می باشد.</mat-error>
                </mat-form-field>

                <mat-form-field appearance='outline'>
                    <mat-label>کلمه عبور</mat-label>
                    <input formControlName='password' matInput type='password' />
                    <mat-icon class='secondary-text' matSuffix>vpn_key</mat-icon>
                    <mat-hint>کلمه عبور پیشفرض برابر با کد ملی کاربر می باشد.</mat-hint>
                    <mat-error> کلمه عبور الزامی می باشد.</mat-error>
                </mat-form-field>

                <button [disabled]='loginForm.invalid || loading' class='submit-button' color='primary' mat-raised-button
                        type='submit'>
                    <span *ngIf='!loading'>ورود</span>
                    <img *ngIf='loading' alt='loading' src='../../../../assets/images/loading.svg' width='30px' />
                </button>
            </form>
        </div>
    </div>
</div>
