<form #myForm="ngForm" [formGroup]="variableFeeForm" class="contract-form-container">
    <div class="contract-form-header">اطلاعات کارمزد متغییر</div>

    <div class="contract-form-body" dir="rtl">
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>حد پایین کارمزد سبد به منظور کارمزد متغیر</mat-label>
                <input type="number" formControlName="lowerBound" matInput required />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>حد بالا کارمزد سبد به منظور کارمزد متغیر</mat-label>
                <input type="number" formControlName="upperBound" matInput required />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>درصد از مازاد بازدهی</mat-label>
                <input type="number" formControlName="excessReturnPercent" matInput required />
            </mat-form-field>
        </div>

        <div class="single-row-btn-container">
            <button
                mat-raised-button
                *ngIf="selectedVariableFeeIndex == null"
                [disabled]="variableFeeForm.invalid"
                (click)="add()"
                class="save-button"
                style="width: 200px; height: 40px"
                [color]="'accent'"
            >
                <mat-icon> add </mat-icon>
                افزودن
            </button>
            <button
                mat-raised-button
                *ngIf="selectedVariableFeeIndex != null"
                [disabled]="variableFeeForm.invalid"
                (click)="edit()"
                class="save-button"
                style="width: 200px; height: 40px"
                [color]="'accent'"
            >
                <mat-icon> edit </mat-icon>
                اصلاح
            </button>
            <button
                mat-raised-button
                *ngIf="selectedVariableFeeIndex != null"
                (click)="clear()"
                class="save-button"
                style="width: 200px; height: 40px"
            >
                <mat-icon> close </mat-icon>
                انصراف
            </button>
        </div>
    </div>
    <div class="form-tab-table-container">
        <mat-table #table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
            <!-- firstName Column -->
            <ng-container matColumnDef="lowerBound">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>حد پایین کارمزد سبد</mat-header-cell>
                <mat-cell *matCellDef="let variableFee" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ variableFee?.lowerBound }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="upperBound">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>حد پایین کارمزد سبد</mat-header-cell>
                <mat-cell *matCellDef="let variableFee" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ variableFee?.upperBound }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="excessReturnPercent">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>درصد از مازاد بازدهی</mat-header-cell>
                <mat-cell *matCellDef="let variableFee" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ variableFee?.excessReturnPercent }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>عملیات</mat-header-cell>
                <mat-cell *matCellDef="let variableFee; let i = index" fxHide fxShow.gt-sm>
                    <button
                        class="edit-button"
                        mat-raised-button
                        color="warn"
                        (click)="editVariableFee(variableFee, i)"
                        style="color: white; background-color: orange"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button style="margin-right: 10px" mat-raised-button color="warn" (click)="delete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" matRipple [@animate]="{ value: '*', params: { y: '100%' } }"> </mat-row>
        </mat-table>
        <ng-container *ngIf="dataSource.data.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                <img width="140px" height="140px" src="./assets/images/no-data.svg" />
                <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
            </div>
        </ng-container>
    </div>
</form>
