.page-content {
    position: relative;
}

.tree-select-container {
    position: relative;
    margin: 10px 0;

    button {
        padding: 5px 0;
    }

    .tree-select {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
    }
}

.form-container {
    padding: 10px;

    * {
        width: 100%;
    }
}

.no-flow-error {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}

mat-horizontal-stepper {
    width: 100%;
    font-size: 11px;
}
