<div class="page-layout">
    <app-header pageTitle="{{ headerTitle }}">
        <div fxLayout="row">
            <button
                *ngIf="riskComponentState === riskComponentStateTypes.Add || riskComponentState === riskComponentStateTypes.Edit"
                (click)="riskComponentState === riskComponentStateTypes.Edit ? onEditRisk() : onCreateRisk()"
                color="primary"
                mat-flat-button
            >
                <mat-icon>{{ riskComponentState === riskComponentStateTypes.Edit ? 'edit' : 'add' }}</mat-icon>
                {{ riskComponentState === riskComponentStateTypes.Edit ? 'به‌روز‌رسانی' : 'افزودن' }}
            </button>

            <a [routerLink]="[backRouteAddress]">
                <button mat-flat-button color="accent">بازگشت <mat-icon>arrow_back</mat-icon></button>
            </a>
        </div>
    </app-header>

    <div fxLayout="column wrap" class="page-content" *ngIf="loading && flows.data.length > 0 && flows.state === 'PRESENT'" dir="rtl" style="overflow: auto">
        <form [formGroup]="form">
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="riskComponentState === riskComponentStateTypes.Show">
                <mat-horizontal-stepper linear [selectedIndex]="matStepperSelectedIndex">
                    <mat-step *ngFor="let step of operationRiskHistorySteps">
                        <ng-template matStepLabel>
                            <div>{{ step.action }}</div>
                            <div>{{ step.username }}</div>
                            <div>{{ step.createdAt }}</div>
                        </ng-template>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>

            <div class="fuse-card m-20 p-20">
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                    <div fxLayout="column" fxFlex="200px" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>عنوان ریسک</mat-label>
                            <input matInput formControlName="title" required />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="200px" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>جریان</mat-label>
                            <mat-select formControlName="flow" required>
                                <mat-option *ngFor="let flow of flows.data" [value]="flow.flowId"> {{ flow.name }} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="fuse-card m-20 p-20">
                <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="mt-20">
                    <div [style.zIndex]="trees[0].zIndex" fxLayout="column" fxFlex="40" class="tree-select-container">
                        <button (click)="getTrees(trees[0].id, 0)" mat-raised-button color="primary">{{ trees[0].name }}</button>
                        <app-tree-select *ngIf="trees[0].data" [data]="trees[0].data" formControlName="organizationCharts" class="tree-select">
                        </app-tree-select>
                    </div>

                    <div [style.zIndex]="trees[1].zIndex" fxLayout="column" fxFlex="40" class="tree-select-container">
                        <button (click)="getTrees(trees[1].id, 1)" mat-raised-button color="primary">{{ trees[1].name }}</button>
                        <app-tree-select [data]="trees[1].data" formControlName="owners" class="tree-select"></app-tree-select>
                    </div>

                    <div [style.zIndex]="trees[2].zIndex" fxLayout="column" fxFlex="40" class="tree-select-container">
                        <button (click)="getTrees(trees[2].id, 2)" mat-raised-button color="primary">{{ trees[2].name }}</button>
                        <app-tree-select [data]="trees[2].data" formControlName="processes" class="tree-select"></app-tree-select>
                    </div>

                    <div [style.zIndex]="trees[3].zIndex" fxLayout="column" fxFlex="40" class="tree-select-container">
                        <button (click)="getTrees(trees[3].id, 3)" mat-raised-button color="primary">{{ trees[3].name }}</button>
                        <app-tree-select [data]="trees[3].data" formControlName="businessLines" class="tree-select"></app-tree-select>
                    </div>

                    <div [style.zIndex]="trees[4].zIndex" fxLayout="column" fxFlex="40" class="tree-select-container">
                        <button (click)="getTrees(trees[4].id, 4)" mat-raised-button color="primary">{{ trees[4].name }}</button>
                        <app-tree-select [data]="trees[4].data" formControlName="products" class="tree-select"></app-tree-select>
                    </div>

                    <div [style.zIndex]="trees[5].zIndex" fxLayout="column" fxFlex="40" class="tree-select-container">
                        <button (click)="getTrees(trees[5].id, 5)" mat-raised-button color="primary">{{ trees[5].name }}</button>
                        <app-tree-select [maxSelect]="1" [data]="trees[5].data" formControlName="levels" class="tree-select"></app-tree-select>
                    </div>

                    <mat-divider fxLayout="column" fxFlex="100" class="my-20"></mat-divider>

                    <div fxLayout="column" fxFlex="30">
                        <div class="form-container">
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>نوع متوسط رخداد</mat-label>
                                <mat-select formControlName="averageIncomeType" required>
                                    <mat-option [value]="'daily'">روزانه</mat-option>
                                    <mat-option [value]="'monthly'">ماهانه</mat-option>
                                    <mat-option [value]="'annual'">سالانه</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="column" fxFlex="30" fxLayoutAlign="space-evenly none">
                        <div class="form-container">
                            <mat-form-field appearance="outline">
                                <mat-label>میانگین متوسط رخداد</mat-label>
                                <input matInput formControlName="averageIncome" type="number" required />
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="column" fxFlex="30" fxLayoutAlign="space-evenly none">
                        <mat-form-field *ngIf="showParent" appearance="outline">
                            <mat-label>رویداد مولد</mat-label>
                            <mat-select formControlName="parents" multiple>
                                <mat-option *ngFor="let parent of parents" [value]="parent.id"> {{ parent.title }} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="fuse-card m-20 p-20">
                <div fxLayout="column" fxLayoutAlign="space-around stretch">
                    <div [style.zIndex]="trees[6].zIndex" fxLayout="column" fxFlex="50" class="tree-select-container">
                        <button (click)="getTrees(trees[6].id, 6)" mat-raised-button color="primary">{{ trees[6].name }}</button>
                        <app-tree-select required [data]="trees[6].data" formControlName="drivers" class="tree-select"></app-tree-select>
                    </div>

                    <div fxLayout="column" fxFlex="50" fxLayoutAlign="space-evenly none" class="mt-20">
                        <mat-form-field appearance="outline">
                            <mat-label>شرح محرکه عملیاتی</mat-label>
                            <input matInput formControlName="driversDescription" />
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="fuse-card m-20 p-20">
                <div fxLayout="row wrap" fxLayoutAlign="start center">
                    <div fxLayout="column" fxFlex="30" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>کنترل های عملیاتی</mat-label>
                            <mat-select formControlName="control" required [disabled]="riskComponentState === riskComponentStateTypes.Show">
                                <mat-option [value]="'available'">وجود</mat-option>
                                <mat-option [value]="'unavailable'">عدم وجود</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row wrap" *ngIf="form.get('control').value === 'available'" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxFlex="30" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>نوع کنترل های عملیاتی</mat-label>
                            <mat-select formControlName="controlType" required>
                                <mat-option [value]="'preEvent'">پیش رویدادی</mat-option>
                                <mat-option [value]="'postEvent'">پس رویدادی</mat-option>
                                <mat-option [value]="'editing'">اصلاحی</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex="30" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>شرح کنترل عملیاتی</mat-label>
                            <input matInput formControlName="controlDescription" required />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlex="30" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>میانگین هزینه کنترل عملیاتی</mat-label>
                            <input matInput formControlName="controlValue" type="number" required />
                        </mat-form-field>
                    </div>

                    <div [style.zIndex]="trees[7].zIndex" fxLayout="column" fxFlex="30" fxLayoutAlign="space-evenly none" class="tree-select-container">
                        <button (click)="getTrees(trees[7].id, 7)" mat-raised-button color="primary">{{ trees[7].name }}</button>
                        <app-tree-select required [data]="trees[7].data" formControlName="controlClassification" class="tree-select"> </app-tree-select>
                    </div>
                </div>
            </div>

            <div class="fuse-card m-20 p-20">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div [style.zIndex]="trees[8].zIndex" fxFlex="30" fxLayout="column" fxFlexAlign="center center" class="tree-select-container">
                        <button (click)="getTrees(trees[8].id, 8)" mat-raised-button color="primary">{{ trees[8].name }}</button>
                        <app-tree-select [data]="trees[8].data" formControlName="recoveries" class="tree-select"></app-tree-select>
                    </div>

                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>شرح پوشش عملیاتی</mat-label>
                            <input matInput formControlName="recoveriesDescription" />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>متوسط پوشش عملیاتی</mat-label>
                            <input matInput formControlName="recoveriesAvg" type="number" />
                        </mat-form-field>
                    </div>

                    <div [style.zIndex]="trees[9].zIndex" fxFlex="30" fxLayout="column" class="tree-select-container">
                        <button (click)="getTrees(trees[9].id, 9)" mat-raised-button color="primary">{{ trees[9].name }}</button>
                        <app-tree-select [data]="trees[9].data" formControlName="directLosses" class="tree-select"></app-tree-select>
                    </div>

                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline" class="py-0">
                            <mat-label>شرح زیان مستقیم</mat-label>
                            <input matInput formControlName="directLossesDescription" />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>متوسط زیان مستقیم</mat-label>
                            <input matInput formControlName="directLossesAvg" type="number" />
                        </mat-form-field>
                    </div>

                    <div [style.zIndex]="trees[10].zIndex" fxFlex="30" fxLayout="column" class="tree-select-container">
                        <button (click)="getTrees(trees[10].id, 10)" mat-raised-button color="primary">{{ trees[10].name }}</button>
                        <app-tree-select [data]="trees[10].data" formControlName="inDirectLosses" class="tree-select"></app-tree-select>
                    </div>

                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>شرح زیان غیر مستقیم</mat-label>
                            <input matInput formControlName="inDirectLossesDescription" />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly none">
                        <mat-form-field appearance="outline">
                            <mat-label>متوسط زیان غیر مستقیم</mat-label>
                            <input matInput formControlName="inDirectLossesAvg" type="number" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="no-flow-error" *ngIf="loading && (!flows || flows.data.length == 0) && flows.state === 'PRESENT'">
        <h1>هیچ جریان فعالی برای شما وجود ندارد.</h1>
    </div>
</div>
