<div class='page-layout'>
    <div class='header accent p-16 p-sm-24' fxLayout='column' fxLayout.gt-xs='row' fxLayoutAlign='start'
         fxLayoutAlign.gt-xs='space-between center'>
        <div fxLayout='row' fxLayoutAlign='start center'>
            <div class='logo' fxLayout='row' fxLayoutAlign='start center'>
                <span class='logo-text h1'> ورود اطلاعات پایه </span>
            </div>
        </div>
    </div>

    <div class='container' dir='rtl' style='width: 100%; padding: 10px 20px'>
        <div
            gdAlignColumns='center start'
            gdAreas.gt-lg='a b c | d e e'
            gdAreas.lg='a b | c d | e e'
            gdAreas.lt-lg='a | b | c | d | e '
            gdColumns='repeat(auto-fit, 1fr)'
            gdGap='20px'
        >
            <div gdArea='a'>
                <issuer></issuer>
            </div>

            <div gdArea='b'>
                <issuer-goal></issuer-goal>
            </div>

            <div gdArea='c'>
                <issuer-license></issuer-license>
            </div>

            <div gdArea='d'>
                <fund-type></fund-type>
            </div>

            <div gdArea='e'>
                <guarantor></guarantor>
            </div>
        </div>
    </div>
</div>
