<div class="page-layout">
    <app-header [pageTitle]="title">
        <div>
            <button (click)="createOpLose()" [disabled]="form.invalid" color="primary" mat-raised-button style="margin-left: 10px">
                <mat-icon>arrow_forward</mat-icon>
                مرحله‌ی بعد
            </button>

            <a [routerLink]="['/op-risk/management']" color="accent" mat-raised-button>
                <mat-icon>arrow_back</mat-icon>
            </a>
        </div>
    </app-header>

    <div [@slideInOut] class="page-content" dir="rtl" fxLayout="column wrap" style="overflow: auto">
        <div [formGroup]="form" class="form fuse-card">
            <div fxLayout="row" fxLayoutAlign="space-evenly center " style="margin-top: 20px">
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly none">
                    <mat-form-field appearance="outline">
                        <mat-label>ساختار سازمانی</mat-label>
                        <mat-select formControlName="organizationStructures" multiple required>
                            <mat-select-trigger>
                                <span *ngIf="form.controls['organizationStructures'].value?.length > 0">
                                    (+{{ form.controls['organizationStructures'].value.length }} {{ 'ساختار سازمانی' }})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let ors of organizationStructures" [value]="ors.id">
                                {{ ors.titleFA }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly none">
                    <mat-form-field appearance="outline">
                        <mat-label>فرآیند</mat-label>
                        <mat-select formControlName="process" multiple required style="max-width: 100%">
                            <mat-select-trigger>
                                <span *ngIf="form.controls['process'].value?.length > 0"> (+{{ form.controls['process'].value.length }} {{ 'فرایند' }}) </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let ps of process" [value]="ps.id">{{ ps.titleFA }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly none">
                    <mat-form-field appearance="outline">
                        <mat-label>رویداد نهایی</mat-label>
                        <mat-select formControlName="lastLossEventId" required>
                            <mat-option *ngFor="let lle of lastLossEvents" [value]="lle.id">{{ lle.title }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-evenly center " style="margin-top: 20px">
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly none">
                    <mat-form-field appearance="outline">
                        <mat-label>نام پرونده</mat-label>
                        <input formControlName="profileName" matInput required type="text" />
                    </mat-form-field>
                </div>
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly none" >
                    <mat-form-field appearance="outline">
                        <mat-label>طرف مقابل زیان</mat-label>
                        <input formControlName="counterParty" matInput required type="text" />
                    </mat-form-field>
                </div>
                <div fxFlex="30" fxLayout="column" fxLayoutAlign="space-evenly none">
                    <mat-form-field appearance="outline">
                        <mat-label>جریان</mat-label>
                        <mat-select formControlName="flow" required>
                            <mat-option *ngFor="let f of flow" [value]="f.id">{{ f.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
