<div class='page-layout'>
    <app-header pageTitle='صفحه‌ی ۱ تست'>
        <div subtitle>در این صفحه ویژگی‌های جدید تست می‌شود.</div>
        <div>
            <button color='primary' mat-raised-button routerLink='/test/list'>بازگشت</button>
        </div>
    </app-header>

    <app-table (operationEvent)='operation($event)'
               (searchEvent)='search($event)'
               *ngIf='show'
               [columns]='columns'
               [data]='data'
               [paginationSettings]="{mode:'local'}">
    </app-table>

    <ng-template #mamad let-col='col' let-index='index' let-row='row'>
        <button (click)='toggleRowStatus(row)' mat-button>
            <mat-icon *ngIf='row.isInBourse'>delete</mat-icon>
            <mat-icon *ngIf='!row.isInBourse'>add</mat-icon>
        </button>
    </ng-template>
</div>
