.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.table {
    max-height: 45vh;
    overflow: scroll;
}
#stockPieChart {
    height: 50vh;
    direction: ltr;
}
