<div class='dialog-container'>
    <div [title]="'جزئیات'" appDialogHeader>
        <mat-icon (click)='this.dialogRef.close()' class='icon-header'>close</mat-icon>
    </div>
    <div class='component-detail-container'>
        <div class='component-detail-row'>
            <div class='component-detail-item'>
                <span class='title'>
                    عنوان
                </span>
                <span class='value'>
{{data?.title}}
                </span>
            </div>
            <div class='component-detail-item'>
                <span class='title'>
به
                </span>
                <span class='value'>
<span *ngFor='let o of data?.toUsers'>{{o?.userName}}&nbsp;,</span>
                </span>
            </div>
        </div>
        <div class='component-detail-row'>
            <div class='component-detail-item'>
                <span class='title'>
حد
                </span>
                <span class='value'>
{{data?.limit}}
                </span>
            </div>
            <div class='component-detail-item'>
                <span class='title'>
وضعیت
                </span>
                <span class='value'>
{{data?.isActive | active}}
                </span>
            </div>
        </div>
        <div class='component-detail-row'>
            <div class='component-detail-item'>
                <span class='title'>
اولویت
                </span>
                <span class='value'>
{{data?.priority | priority}}
                </span>
            </div>
            <div class='component-detail-item'>
                <span class='title'>
نوع
                </span>
                <span *ngIf="data?.type=== 'Qualitative'" class='value'>
کیفی
                </span>
                <span *ngIf="data?.type === 'Quantitative'" class='value'>
کمی
                </span>
            </div>
        </div>
        <div class='component-detail-row'>
            <div class='component-detail-item'>
                <span class='title'>
ارسال پیامک
                </span>
                <span *ngIf='data?.sendSms === 1' class='value'>
                    بله
                </span>
                <span *ngIf='data?.sendSms === 0' class='value'>
                    خیر
                </span>
            </div>
            <div class='component-detail-item'>
                <span class='title'>
ارسال ایمیل
                </span>
                <span *ngIf='data?.sendEmail === 1' class='value'>
                    بله
                </span>
                <span *ngIf='data?.sendEmail === 0' class='value'>
                    خیر
                </span>
            </div>
        </div>
        <div class='component-detail-row'>
            <div class='component-detail-item'>
                <span class='title'>
                    توضیحات                </span>
                <span class='value'>
{{data?.description}}
                </span>
            </div>
            <div class='component-detail-item'>
                <span class='title'>
                                    </span>
                <span class='value'>
                </span>
            </div>
        </div>

    </div>
</div>