@import './table.theme.scss';
@import '~app/layout/styles/variables';

:host ::ng-deep .table-container .mat-form-field-wrapper {
    padding-bottom: 0;
    font-size: 11px;
}

:host ::ng-deep .paginator {
    .mat-form-field-infix {
        height: 50px;
    }
}

.text-center {
    text-align: center !important;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

form {
    table {
        width: auto;
        min-width: 100%;
        max-width: unset;
        margin: 0;
        box-shadow: none;
        overflow-y: auto;
        text-align: right;
        tr,
        th,
        td {
            &:first-child {
                padding-right: 40px;
            }
            text-align: right;
        }

        &:hover {
            tr {
                opacity: 0.6;
            }

            .header {
                opacity: 1;
            }
        }

        tr {
            opacity: 1;
            transition: 200ms ease-in-out opacity;

            &:hover {
                opacity: 1;
            }
        }

        th,
        td {
            padding-left: 10px;
        }

        .clickable {
            cursor: pointer !important;
        }

        .mat-column-position {
            width: 50px;
            padding-left: 0;
        }

        mat-form-field {
            padding-left: 10px;
        }

        .profit {
            direction: ltr;

            .negative {
                color: red;
            }

            .positive {
                color: green;
            }
        }
    }
}

.cell--operation {
    display: flex;
}
