<!--<div class="table-container" #container (scroll)='scroll($event)'>-->
<div *ngIf="dataSource">
    <form [formGroup]="searchForm">
        <div #container (scroll)="scroll()" [ngStyle]="{ height: height }" class="table-container">
            <table [@animateStagger]="{ value: '50' }" [dataSource]="dataSource" class="" mat-table>
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th *matHeaderCellDef mat-header-cell>#</th>

                    <td *matCellDef="let element; let i = index" mat-cell>
                        <!--                {{(tss.pageEvent.pageSize * tss.pageEvent.currentIndex) + i + 1}}-->
                    </td>
                </ng-container>

                <!-- Value Column Generator -->
                <ng-container *ngFor="let col of columns" [matColumnDef]="col.id" [sticky]="col.sticky">
                    <th
                        *matHeaderCellDef
                        [ngClass]="{ 'text-center': col.headerAlign === 'center' }"
                        [style.minWidth]="col.minWidth"
                        [style.width]="col.width"
                        [width]="col.width"
                        mat-header-cell
                    >
                        <ng-container *ngIf="col && col.type === 'index'"> رده</ng-container>

                        <!-- Normal Col Header -->
                        <ng-container *ngIf="col && col.type != 'operation'">
                            {{ col.name }}
                        </ng-container>

                        <!-- Operation Col Header -->
                        <ng-container *ngIf="col && col.type === 'operation'">
                            <div dir="rtl">
                                <button (click)="openSearchBar()" *ngIf="col.showSearchButtons !== false" mat-icon-button>
                                    <mat-icon class="mat-18 material-icons-outlined" fontSet="material-icons-outlined"> search </mat-icon>
                                </button>

                                <button *ngIf="col.showExportButtons !== false" [matMenuTriggerFor]="saveMenu" mat-icon-button matTooltip="ذخیره‌ی جدول">
                                    <mat-icon class="mat-18 material-icons-outlined" fontSet="material-icons-outlined"> save </mat-icon>
                                </button>
                                <mat-menu #saveMenu="matMenu">
                                    <app-table-save-xls [columns]="columns" [data]="data"></app-table-save-xls>
                                    <app-table-save-csv [columns]="columns" [data]="data"></app-table-save-csv>
                                    <app-table-save-pdf [columns]="columns" [data]="data"></app-table-save-pdf>
                                </mat-menu>

                                <!--   Header Operations   -->
                                <ng-container *ngFor="let op of col.headerOperations">
                                    <button (click)="doOperationHeader(op)" *ngIf="!op?.raised" [color]="op.color" [matTooltip]="op.name" mat-icon-button>
                                        <mat-icon class="mat-18 material-icons-outlined" fontSet="material-icons-outlined">{{ op.icon }}</mat-icon>
                                    </button>
                                    <button
                                        (click)="doOperationHeader(op)"
                                        *ngIf="op?.raised === true"
                                        [color]="op.color"
                                        [matTooltip]="op.name"
                                        mat-raised-button
                                    >
                                        <mat-icon class="mat-18 material-icons-outlined" fontSet="material-icons-outlined">{{ op.icon }}</mat-icon>
                                    </button>
                                </ng-container>
                            </div>
                        </ng-container>
                    </th>

                    <td
                        (click)="onClick(el)"
                        *matCellDef="let el; let i = index"
                        [ngClass]="{ 'text-center': col.dataAlign === 'center', clickable: doubleClickAble }"
                        [style.minWidth]="col.minWidth"
                        [style.width]="col.width"
                        [width]="col.width"
                        mat-cell
                    >
                        <!-- Index -->
                        <div *ngIf="col.type === 'index'">
                            {{ setIndexAccordingToPagination(i) }}
                        </div>

                        <!-- Price -->
                        <div *ngIf="col.type == 'price'">
                            {{ (col.convert ? col.convert(el[col.id]) : el[col.id]) | price }}
                        </div>

                        <!-- Number -->
                        <div *ngIf="col.type == 'number'">
                            {{ (col.convert ? col.convert(el[col.id]) : el[col.id]) | number: '.0-4' }}
                        </div>

                        <!-- Profit -->
                        <div *ngIf="col.type == 'profit'" class="profit">
                            <div *ngIf="col.convert ? col.convert(el[col.id]) : el[col.id] < 0" class="negative" fxLayout="row wrap" fxLayoutAlign="end center">
                                {{ (col.convert ? col.convert(el[col.id]) : el[col.id]) | number: '.0-4' }}
                                <mat-icon class="mat-18 material-icons-outlined" fontSet="material-icons-outlined"> arrow_drop_down </mat-icon>
                            </div>

                            <div *ngIf="col.convert ? col.convert(el[col.id]) : el[col.id] > 0" class="positive" fxLayout="row wrap" fxLayoutAlign="end center">
                                {{ (col.convert ? col.convert(el[col.id]) : el[col.id]) | number: '.0-4' }}
                                <mat-icon class="mat-18 material-icons-outlined" fontSet="material-icons-outlined"> arrow_drop_up </mat-icon>
                            </div>
                        </div>

                        <!-- String -->
                        <div *ngIf="col.type == 'string'">
                            {{ col.convert ? col.convert(el[col.id]) : el[col.id] }}
                        </div>

                        <!-- Date -->
                        <div *ngIf="col.type == 'date'">
                            {{ col.convert ? col.convert(el[col.id]) : (el[col.id] | convertDate) }}
                        </div>

                        <!-- Custom -->
                        <div *ngIf="col.type == 'custom' && isTemplateRef(col.cellTemplate)">
                            <ng-template [ngTemplateOutletContext]="{ row: el, col: col, index: 1 }" [ngTemplateOutlet]="col.cellTemplate"></ng-template>
                        </div>

                        <!-- Operations -->
                        <div *ngIf="col.type == 'operation'">
                            <div class="cell--operation">
                                <ng-container *ngFor="let op of el.tableOperation" [ngSwitch]="op.icon">
                                    <button
                                        (click)="doOperation(el, op)"
                                        *ngSwitchDefault
                                        [color]="checkColorsType(op.color, el)"
                                        [matTooltip]="op.name"
                                        mat-icon-button
                                    >
                                        <mat-icon class="mat-18 material-icons-outlined" fontSet="material-icons-outlined">{{ op.icon }}</mat-icon>
                                    </button>
                                    <button
                                        (click)="doOperation(el, op)"
                                        *ngSwitchCase="'condition'"
                                        [color]="checkColorsType(op.color, el)"
                                        [matTooltip]="op.name"
                                        mat-icon-button
                                    >
                                        <mat-icon class="mat-18 material-icons-outlined" fontSet="material-icons-outlined">{{ op?.content(el) }}</mat-icon>
                                    </button>
                                    <div *ngSwitchCase="'template'">
                                        <ng-template [ngTemplateOutletContext]="{ row: el, col: col, index: 1 }" [ngTemplateOutlet]="op?.content"></ng-template>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Search Column Generator -->
                <ng-container *ngFor="let col of columns" [matColumnDef]="col.id + '_search'">
                    <th *matHeaderCellDef [style.minWidth]="col.width" [width]="col.width" mat-header-cell>
                        <div *ngIf="col.search" dir="rtl">
                            <!-- text -->
                            <mat-form-field *ngIf="col.search.type == 'text'" appearance="outline" style="width: 100%">
                                <input [formControlName]="col.id" matInput />
                            </mat-form-field>

                            <!-- Select -->
                            <mat-form-field *ngIf="col.search.type == 'select'" appearance="outline" style="width: 100%">
                                <mat-select [formControlName]="col.id">
                                    <mat-option [value]=""> همه</mat-option>

                                    <mat-option *ngFor="let op of col.search.options" [value]="op.value">
                                        {{ op.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!-- Date -->
                            <mat-form-field *ngIf="col.search.type == 'date'" appearance="outline" style="width: 100%">
                                <mat-label>فیلتر تاریخ</mat-label>
                                <input [formControlName]="col.id" [matDatepicker]="picker" matInput />
                                <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <!-- DateRange -->
                            <ng-container *ngIf="col.search.type == 'date_range'" [formGroupName]="col.id">
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-label>از تاریخ</mat-label>
                                    <input [matDatepicker]="endPicker" formControlName="fromDate" matInput />
                                    <mat-datepicker-toggle [for]="endPicker" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #endPicker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-label>تا تاریخ</mat-label>
                                    <input [matDatepicker]="startPicker" formControlName="toDate" matInput />
                                    <mat-datepicker-toggle [for]="startPicker" matSuffix></mat-datepicker-toggle>
                                    <mat-datepicker #startPicker></mat-datepicker>
                                </mat-form-field>
                            </ng-container>
                        </div>
                    </th>
                </ng-container>

                <!--    Header Row    -->
                <tr *matHeaderRowDef="displayedColumns; sticky: true" class="header" mat-header-row></tr>

                <!--    Search Row    -->
                <ng-container *ngIf="hasSearch">
                    <tr *matHeaderRowDef="searchColumns; sticky: true" [ngClass]="{ 'd-none': !showSearchBar }" class="header" mat-header-row></tr>
                </ng-container>

                <!--    Data Row    -->
                <tr
                    (click)="selectRow(i)"
                    *matRowDef="let row; columns: displayedColumns; let i = index"
                    [@animate]="{ value: '*', params: { y: '100%' } }"
                    [ngClass]="{ 'table-selected': row.tableSelect, 'grey-800': isDarkMode }"
                    class="odd: bg-gray-100"
                    id="important"
                    mat-row
                ></tr>
            </table>
        </div>
        <mat-paginator
            #localPaginator
            [pageSizeOptions]="paginationSettings?.pageSizeOptions ? paginationSettings.pageSizeOptions : [5, 10, 25, 100]"
            [pageSize]="paginationSettings.pageSize ? paginationSettings.pageSize : 5"
            [style.display]="paginationSettings?.mode === 'local' ? '' : 'none'"
            class="paginator"
            dir="rtl"
            showFirstLastButtons
        >
        </mat-paginator>

        <mat-paginator
            (page)="paginationControl($event)"
            [length]="paginationObject?.total"
            [pageIndex]="paginationObject?.skip"
            [pageSizeOptions]="paginationSettings?.pageSizeOptions ? paginationSettings.pageSizeOptions : [5, 10, 25, 100]"
            [pageSize]="paginationObject?.limit"
            [style.display]="paginationSettings?.mode === 'backend' ? '' : 'none'"
            class="paginator"
            dir="rtl"
        >
        </mat-paginator>
    </form>
</div>
