<div class="fuse-card">
    <div dir="rtl">
        <app-table
            [data]="data"
            [columns]="column"
            [paginationSettings]="{ mode: 'scroll' }"
            [paginationObject]='pagination'
            (searchEvent)='search($event)'
            (paginationEvent)='paginationControl($event)'
            [status]="status"
            height='55vh'
        ></app-table>
    </div>

    <div class="container" dir="rtl">
        <div class="issuer">
            <mat-form-field appearance="outline" style="flex-grow: 1">
                <input matInput class="form-field" [formControl]="issuerName" placeholder="نام ناشر" required />
            </mat-form-field>

            <div fxLayout="column wrap" fxLayoutGap="5px" fxLayoutAlign="center center" class="setting-btn-container">
                <button *ngIf="selectedIssuer" [disabled]="issuerName.invalid" (click)="edit()" color="accent" mat-raised-button>
                    <mat-icon>edit</mat-icon>
                    ویرایش
                </button>

                <button *ngIf="selectedIssuer" (click)="clear()" style="margin-left: 10px" color="warn" mat-raised-button>
                    <mat-icon>close</mat-icon>
                    انصراف
                </button>

                <button *ngIf="!selectedIssuer" [disabled]="issuerName.invalid" (click)="addIssuer()" color="accent" mat-raised-button>
                    <mat-icon>done</mat-icon>
                    ثبت
                </button>
            </div>
        </div>
    </div>
</div>
