<div class="flow-wizard-history-container">
    <div class="hbox">
        <div class="section1 fuse-card">
            <h2>سابقه تغییرات قرارداد</h2>

            <mat-divider></mat-divider>

            <div class="container">
                <div class="section" *ngFor="let history of flowHistory">
                    <div class="bolet">
                        <div class="circle accent"></div>
                        <div class="line accent"></div>
                    </div>
                    <div class="detail">
                        <h3 style="margin-bottom: 10px">{{ history?.toState }}</h3>
                        <h3 style="font-size: 12px; margin: 0 0 15px">{{ history?.date | convertDate }} توسط {{ history?.username }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="section2 fuse-card" dir="rtl">
            <div class="section2-form">
                <div class="header">
                    <h2>یادداشت‌ها</h2>
                    <button mat-icon-button (click)="openAddCommentDialog()">
                        <mat-icon class="mat-18">add</mat-icon>
                    </button>
                </div>

                <mat-divider></mat-divider>
            </div>

            <mat-divider></mat-divider>

            <div class="note-container">
                <div class="note-element" *ngFor="let p of flowNoteData">
                    <img src="assets/images/avatar.jpg" height="100px" width="100px" alt="avatar" />
                    <div class="detail">
                        <h2>
                            <b> {{ p?.username }} </b>
                        </h2>
                        <h4>{{ p?.text }}</h4>
                    </div>
                    <h4>{{ p.date | convertDate }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
