<div class=" container  bg-gray-200  mx-auto">
    <div class=" w-6/12  mx-auto">
        <img class=" float-left  mr-5 " src="https://tailwindcss.com/img/placeholder-purple.svg" alt="" />
        <p class=" text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consequatur dicta doloremque eum facere itaque minus. Adipisci eveniet facere
            harum in neque pariatur qui repellat sit. Enim, exercitationem, soluta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut
            consequatur dicta doloremque eum facere itaque minus. Adipisci eveniet facere harum in neque pariatur qui repellat sit. Enim, exercitationem,
            soluta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consequatur dicta doloremque eum facere itaque minus. Adipisci eveniet
            facere harum in neque pariatur qui repellat sit. Enim, exercitationem, soluta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut
            consequatur dicta doloremque eum facere itaque minus. Adipisci eveniet facere harum in neque pariatur qui repellat sit. Enim, exercitationem,
            soluta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consequatur dicta doloremque eum facere itaque minus. Adipisci eveniet
            facere harum in neque pariatur qui repellat sit. Enim, exercitationem, soluta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut
            consequatur dicta doloremque eum facere itaque minus. Adipisci eveniet facere harum in neque pariatur qui repellat sit. Enim, exercitationem,
            soluta?
        </p>
    </div>
    <div class=" w-full">
        <div class=" flex  flex-col  content-center  w-6/12  mx-auto  p-10  my-6">
            <h1>Normal</h1>
            <div class=" flex  flex-row  uppercase  justify-between  content-center  gap-8">
                <div
                    class=" text-center  flex-1  shadow  bg-blue-400  text-white  transform  transition-shadow  transition-transform  bg-white  p-20  rounded-md  shadow  shadow-blue hover: shadow-blue-lg hover: -translate-y-2"
                >
                    blue
                </div>
                <div
                    class=" text-center  flex-1  shadow  bg-green-400  text-white  transform  transition-shadow  transition-transform  bg-white  p-20  rounded-md  shadow  shadow-green hover: shadow-green-lg hover: -translate-y-2"
                >
                    green
                </div>
                <div
                    class=" text-center  flex-1  shadow  bg-yellow-400  text-white  transform  transition-shadow  transition-transform  bg-white  p-20  rounded-md  shadow  shadow-yellow hover: shadow-yellow-lg hover: -translate-y-2"
                >
                    yellow
                </div>
                <div
                    class=" text-center  flex-1  shadow  bg-pink-400  text-white  transform  transition-shadow  transition-transform  bg-white  p-20  rounded-md  shadow  shadow-pink hover: shadow-pink-lg hover: -translate-y-2"
                >
                    pink
                </div>
            </div>
        </div>
        <div class=" flex  flex-col  content-center  w-6/12  mx-auto  p-10  my-10  bg-white  rounded-lg">
            <h1>Pastel</h1>
            <div class=" flex  flex-row  uppercase  justify-between  content-center  gap-8">
                <div
                    class=" text-center  flex-1  shadow  bg-blue-200  text-gray-700  transform  transition-shadow  transition-transform  bg-white  p-20  rounded-md  shadow  shadow-blue hover: shadow-blue-lg hover: -translate-y-2"
                >
                    blue
                </div>
                <div
                    class=" text-center  flex-1  shadow  bg-green-200  text-gray-700  transform  transition-shadow  transition-transform  bg-white  p-20  rounded-md  shadow  shadow-green hover: shadow-green-lg hover: -translate-y-2"
                >
                    green
                </div>
                <div
                    class=" text-center  flex-1  shadow  bg-yellow-200  text-gray-700  transform  transition-shadow  transition-transform  bg-white  p-20  rounded-md  shadow  shadow-yellow hover: shadow-yellow-lg hover: -translate-y-2"
                >
                    yellow
                </div>
                <div
                    class=" text-center  flex-1  shadow  bg-pink-200  text-gray-700  transform  transition-shadow  transition-transform  bg-white  p-20  rounded-md  shadow  shadow-pink hover: shadow-pink-lg hover: -translate-y-2"
                >
                    pink
                </div>
            </div>
        </div>
        <div class=" flex  flex-col  content-center  w-6/12  mx-auto  p-10  my-6  bg-gray-800  rounded-lg">
            <h1 class=" text-white">Dark</h1>
            <div class=" flex  flex-row  uppercase  justify-between  content-center  gap-8">
                <div
                    class=" text-center  flex-1  shadow  bg-blue-300  text-gray-900  transform  transition-shadow  transition-transform  bg-white  p-20  rounded-md  shadow hover: shadow-blue hover: -translate-y-2"
                >
                    blue
                </div>
                <div
                    class=" text-center  flex-1  shadow  bg-green-300  text-gray-900  transform  transition-shadow  transition-transform  bg-white  p-20  rounded-md  shadow hover: shadow-green hover: -translate-y-2"
                >
                    green
                </div>
                <div
                    class=" text-center  flex-1  shadow  bg-yellow-300  text-gray-900  transform  transition-shadow  transition-transform  bg-white  p-20  rounded-md  shadow hover: shadow-yellow hover: -translate-y-2"
                >
                    yellow
                </div>
                <div
                    class=" text-center  flex-1  shadow  bg-pink-300  text-gray-900  transform  transition-shadow  transition-transform  bg-white  p-20  rounded-md  shadow hover: shadow-pink hover: -translate-y-2"
                >
                    pink
                </div>
            </div>
        </div>
    </div>
</div>
