<div class="tw-container tw-bg-gray-200 tw-mx-auto">
    <div class="tw-w-6/12 tw-mx-auto">
        <img class="tw-float-left tw-mr-5 " src="https://tailwindcss.com/img/placeholder-purple.svg" alt="" />
        <p class="tw-text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consequatur dicta doloremque eum facere itaque minus. Adipisci eveniet facere
            harum in neque pariatur qui repellat sit. Enim, exercitationem, soluta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut
            consequatur dicta doloremque eum facere itaque minus. Adipisci eveniet facere harum in neque pariatur qui repellat sit. Enim, exercitationem,
            soluta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consequatur dicta doloremque eum facere itaque minus. Adipisci eveniet
            facere harum in neque pariatur qui repellat sit. Enim, exercitationem, soluta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut
            consequatur dicta doloremque eum facere itaque minus. Adipisci eveniet facere harum in neque pariatur qui repellat sit. Enim, exercitationem,
            soluta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut consequatur dicta doloremque eum facere itaque minus. Adipisci eveniet
            facere harum in neque pariatur qui repellat sit. Enim, exercitationem, soluta? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut
            consequatur dicta doloremque eum facere itaque minus. Adipisci eveniet facere harum in neque pariatur qui repellat sit. Enim, exercitationem,
            soluta?
        </p>
    </div>
    <div class="tw-w-full">
        <div class="tw-flex tw-flex-col tw-content-center tw-w-6/12 tw-mx-auto tw-p-10 tw-my-6">
            <h1>Normal</h1>
            <div class="tw-flex tw-flex-row tw-uppercase tw-justify-between tw-content-center tw-gap-8">
                <div
                    class="tw-text-center tw-flex-1 tw-shadow tw-bg-blue-400 tw-text-white tw-transform tw-transition-shadow tw-transition-transform tw-bg-white tw-p-20 tw-rounded-md tw-shadow tw-shadow-blue hover:tw-shadow-blue-lg hover:tw--translate-y-2"
                >
                    blue
                </div>
                <div
                    class="tw-text-center tw-flex-1 tw-shadow tw-bg-green-400 tw-text-white tw-transform tw-transition-shadow tw-transition-transform tw-bg-white tw-p-20 tw-rounded-md tw-shadow tw-shadow-green hover:tw-shadow-green-lg hover:tw--translate-y-2"
                >
                    green
                </div>
                <div
                    class="tw-text-center tw-flex-1 tw-shadow tw-bg-yellow-400 tw-text-white tw-transform tw-transition-shadow tw-transition-transform tw-bg-white tw-p-20 tw-rounded-md tw-shadow tw-shadow-yellow hover:tw-shadow-yellow-lg hover:tw--translate-y-2"
                >
                    yellow
                </div>
                <div
                    class="tw-text-center tw-flex-1 tw-shadow tw-bg-pink-400 tw-text-white tw-transform tw-transition-shadow tw-transition-transform tw-bg-white tw-p-20 tw-rounded-md tw-shadow tw-shadow-pink hover:tw-shadow-pink-lg hover:tw--translate-y-2"
                >
                    pink
                </div>
            </div>
        </div>
        <div class="tw-flex tw-flex-col tw-content-center tw-w-6/12 tw-mx-auto tw-p-10 tw-my-10 tw-bg-white tw-rounded-lg">
            <h1>Pastel</h1>
            <div class="tw-flex tw-flex-row tw-uppercase tw-justify-between tw-content-center tw-gap-8">
                <div
                    class="tw-text-center tw-flex-1 tw-shadow tw-bg-blue-200 tw-text-gray-700 tw-transform tw-transition-shadow tw-transition-transform tw-bg-white tw-p-20 tw-rounded-md tw-shadow tw-shadow-blue hover:tw-shadow-blue-lg hover:tw--translate-y-2"
                >
                    blue
                </div>
                <div
                    class="tw-text-center tw-flex-1 tw-shadow tw-bg-green-200 tw-text-gray-700 tw-transform tw-transition-shadow tw-transition-transform tw-bg-white tw-p-20 tw-rounded-md tw-shadow tw-shadow-green hover:tw-shadow-green-lg hover:tw--translate-y-2"
                >
                    green
                </div>
                <div
                    class="tw-text-center tw-flex-1 tw-shadow tw-bg-yellow-200 tw-text-gray-700 tw-transform tw-transition-shadow tw-transition-transform tw-bg-white tw-p-20 tw-rounded-md tw-shadow tw-shadow-yellow hover:tw-shadow-yellow-lg hover:tw--translate-y-2"
                >
                    yellow
                </div>
                <div
                    class="tw-text-center tw-flex-1 tw-shadow tw-bg-pink-200 tw-text-gray-700 tw-transform tw-transition-shadow tw-transition-transform tw-bg-white tw-p-20 tw-rounded-md tw-shadow tw-shadow-pink hover:tw-shadow-pink-lg hover:tw--translate-y-2"
                >
                    pink
                </div>
            </div>
        </div>
        <div class="tw-flex tw-flex-col tw-content-center tw-w-6/12 tw-mx-auto tw-p-10 tw-my-6 tw-bg-gray-800 tw-rounded-lg">
            <h1 class="tw-text-white">Dark</h1>
            <div class="tw-flex tw-flex-row tw-uppercase tw-justify-between tw-content-center tw-gap-8">
                <div
                    class="tw-text-center tw-flex-1 tw-shadow tw-bg-blue-300 tw-text-gray-900 tw-transform tw-transition-shadow tw-transition-transform tw-bg-white tw-p-20 tw-rounded-md tw-shadow hover:tw-shadow-blue hover:tw--translate-y-2"
                >
                    blue
                </div>
                <div
                    class="tw-text-center tw-flex-1 tw-shadow tw-bg-green-300 tw-text-gray-900 tw-transform tw-transition-shadow tw-transition-transform tw-bg-white tw-p-20 tw-rounded-md tw-shadow hover:tw-shadow-green hover:tw--translate-y-2"
                >
                    green
                </div>
                <div
                    class="tw-text-center tw-flex-1 tw-shadow tw-bg-yellow-300 tw-text-gray-900 tw-transform tw-transition-shadow tw-transition-transform tw-bg-white tw-p-20 tw-rounded-md tw-shadow hover:tw-shadow-yellow hover:tw--translate-y-2"
                >
                    yellow
                </div>
                <div
                    class="tw-text-center tw-flex-1 tw-shadow tw-bg-pink-300 tw-text-gray-900 tw-transform tw-transition-shadow tw-transition-transform tw-bg-white tw-p-20 tw-rounded-md tw-shadow hover:tw-shadow-pink hover:tw--translate-y-2"
                >
                    pink
                </div>
            </div>
        </div>
    </div>
</div>
