<form #myForm="ngForm" [formGroup]="investoryForm" class="contract-form-container">
    <div class="contract-form-header">اطلاعات دارایی قرارداد نزد سرمایه گذار و تغییرات آن</div>
    <div class="contract-form-body" dir="rtl">
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>تاریخ تنظیم</mat-label>
                <input (click)="start1.open()" matInput formControlName="date" [matDatepicker]="start1" />
                <mat-datepicker-toggle matSuffix [for]="start1"></mat-datepicker-toggle>
                <mat-datepicker #start1></mat-datepicker>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label
                    >نوع دارایی
                    <span style="color: red">*</span>
                </mat-label>
                <mat-select formControlName="assetType">
                    <mat-option style="text-align: right" *ngFor="let s of formsModelService.assetTypes" [value]="s?.id">
                        {{ s.name }}
                    </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label
                    >نوع اوراق
                    <span style="color: red">*</span>
                </mat-label>
                <mat-select formControlName="securityType">
                    <mat-option style="text-align: right" *ngFor="let s of formsModelService?.securityType" [value]="s?.id">
                        {{ s?.name }}
                    </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
        </div>
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label
                    >نماد اوراق
                    <span style="color: red">*</span>
                </mat-label>
                <input formControlName="securitySymbol" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>
                    نام اوراق
                    <span style="color: red">*</span>
                </mat-label>
                <input formControlName="securityName" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>
                    تعداد اوراق
                    <span style="color: red">*</span>
                </mat-label>
                <input type="number" formControlName="securityCounts" matInput />
            </mat-form-field>
        </div>
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>
                    قیمت هر ورق i در تاریخ تحویل به سبد گردان
                    <span style="color: red">*</span>
                </mat-label>
                <input type="number" formControlName="price" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>
                    نوع تغییر i
                    <span style="color: red">*</span>
                </mat-label>
                <mat-select formControlName="changeType">
                    <mat-option style="text-align: right" *ngFor="let guarantor of []"> </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
            <div class="form-row-btn-container">
                <button
                    mat-raised-button
                    *ngIf="selectedInvestoryIndex == null"
                    [disabled]="investoryForm.invalid"
                    (click)="add()"
                    class="save-button"
                    [color]="'accent'"
                    style="width: 150px; height: 40px"
                >
                    <mat-icon> add </mat-icon>
                    افزودن
                </button>
                <button
                    mat-raised-button
                    *ngIf="selectedInvestoryIndex != null"
                    [disabled]="investoryForm.invalid"
                    (click)="edit()"
                    class="save-button"
                    [color]="'accent'"
                    style="width: 150px; height: 40px"
                >
                    <mat-icon> edit </mat-icon>
                    اصلاح
                </button>
                <button
                    mat-raised-button
                    *ngIf="selectedInvestoryIndex != null"
                    (click)="clear()"
                    class="save-button"
                    style="width: 150px; height: 40px; margin-right: 10px"
                >
                    <mat-icon> close </mat-icon>
                    برگشت
                </button>
            </div>
        </div>
    </div>
    <div class="form-tab-table-container">
        <mat-table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>تاریخ</mat-header-cell>
                <mat-cell *matCellDef="let inverstor" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ inverstor?.date | date }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="assetType">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نوع دارایی</mat-header-cell>
                <mat-cell *matCellDef="let inverstor" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ inverstor?.assetType }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="securityType">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نوع اوراق</mat-header-cell>
                <mat-cell *matCellDef="let inverstor" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ inverstor?.securityType }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="securitySymbol">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نماد اوراق</mat-header-cell>
                <mat-cell *matCellDef="let inverstor" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ inverstor?.securitySymbol }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="securityName">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نام اوراق</mat-header-cell>
                <mat-cell *matCellDef="let inverstor" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ inverstor?.securityName }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="securityCounts">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>تعداد اوراق</mat-header-cell>
                <mat-cell *matCellDef="let inverstor" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ inverstor?.securityCounts }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>قیمت هر ورق i</mat-header-cell>
                <mat-cell *matCellDef="let inverstor" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ inverstor?.price | price }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="changeType">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نوع تغییر i</mat-header-cell>
                <mat-cell *matCellDef="let inverstor" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ inverstor?.changeType }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>عملیات</mat-header-cell>
                <mat-cell *matCellDef="let inverstor; let i = index" fxHide fxShow.gt-sm>
                    <button class="edit-button" mat-raised-button style="background-color: orange; color: white" (click)="editInvestory(inverstor, i)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button style="margin-right: 10px" mat-raised-button color="warn" (click)="delete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" matRipple [@animate]="{ value: '*', params: { y: '100%' } }"> </mat-row>
        </mat-table>
        <ng-container *ngIf="dataSource.data.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                <img width="140px" height="140px" src="./assets/images/no-data.svg" alt="no data" />
                <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
            </div>
        </ng-container>
    </div>
</form>
