<div *ngIf="data" class="fuse-card">
    <label>
        {{chartName}}
    </label>
    <mat-divider></mat-divider>
    <canvas baseChart height="{{height}}"
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
</div>

<div *ngIf="data && data.length == 0" class="fuse-card">
    <p style="text-align: center">داده ای موجود نیست</p>
</div>