<div *ngIf='data' class='fuse-card'>
    <label>
        {{chartName}}
    </label>
    <mat-divider></mat-divider>
    <canvas (chartClick)='chartClicked($event)' (chartHover)='chartHovered($event)'
            [chartType]='chartType'
            [colors]='chartColors'
            [datasets]='chartDatasets'
            [labels]='chartLabels'
            [legend]='true'
            [options]='chartOptions'
            baseChart
            height='{{height}}'>
    </canvas>
</div>

<div *ngIf='data && data.length == 0' class='fuse-card'>
    <p style='text-align: center'>داده ای موجود نیست</p>
</div>