<div class="form-mat-tab-group-container">
    <mat-tab-group>
        <mat-tab label="اطلاعات قرارداد">
            <app-contract-base-info-form (newData)="onSubFormSubmit($event)"
                                         [data]="baseObj?.contractBaseInfo">
            </app-contract-base-info-form>
            <form [formGroup]="form">
                <div class="contract-form-container">
                    <div class="contract-form-header">
                        اطلاعات عمومی
                    </div>
                    <div class="contract-form-body" dir="rtl">
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>نام اوراق</mat-label>
                                <input matInput formControlName="securityName">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>نماد اوراق</mat-label>
                                <input matInput formControlName="symbol">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>مرجع مجوز انتشار</mat-label>
                                <mat-select formControlName="issuePermission">
                                    <mat-option style="text-align: right"
                                                *ngFor="let s of formsModelService.issuePermissionType" [value]="s.id">
                                        {{s.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>نوع اوراق</mat-label>
                                <mat-select formControlName="securityType">
                                    <mat-option style="text-align: right"
                                                *ngFor="let s of formsModelService.securityType"
                                                [value]="s.id">
                                        {{s.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>حجم اوراق</mat-label>
                                <input type="number" matInput formControlName="securityVolume">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد اوراق</mat-label>
                                <input type="number" matInput formControlName="securityCounts">
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>قیمت اسمی اوراق</mat-label>
                                <input type="number" matInput formControlName="securityParValue">
                            </mat-form-field>
                            <mat-form-field class="full-wid" appearance="outline">
                                <mat-label>تاریخ شروع عرضه عمومی</mat-label>
                                <input (click)="start123.open()" matInput formControlName="ipoDateStart"
                                       [matDatepicker]="start123">
                                <mat-datepicker-toggle matSuffix [for]="start123"></mat-datepicker-toggle>
                                <mat-datepicker #start123></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-wid" appearance="outline">
                                <mat-label>تاریخ اتمام عرضه عمومی</mat-label>
                                <input (click)="start154.open()" matInput formControlName="ipoDateEnd"
                                       [matDatepicker]="start154">
                                <mat-datepicker-toggle matSuffix [for]="start154"></mat-datepicker-toggle>
                                <mat-datepicker #start154></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تاریخ سررسید</mat-label>
                                <input (click)="start3.open()" matInput formControlName="maturityDate"
                                       [matDatepicker]="start3">
                                <mat-datepicker-toggle matSuffix [for]="start3"></mat-datepicker-toggle>
                                <mat-datepicker #start3></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>طول عمر اوراق (ماه)</mat-label>
                                <input type="number" formControlName="securityLifecycleFreq" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ اسمی</mat-label>
                                <input type="number" formControlName="nominalRate" matInput>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر پرداخت سود</mat-label>
                                <mat-select formControlName="profitPaymentFreq">
                                    <mat-option style="text-align: right" *ngFor="let s of formsModelService.freqTypes"
                                                [value]="s.id">
                                        {{s.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد اعضای سندیکا</mat-label>
                                <input type="number" formControlName="syndicateMembersCount" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ اختیار فروش سلف</mat-label>
                                <input type="number" formControlName="salafPutOptionRate" matInput>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ اختیار خرید سلف</mat-label>
                                <input type="number" formControlName="salafCallOptionRate" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ بازارگردانی سلف</mat-label>
                                <input type="number" formControlName="salafMarketMakingRate" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>درصد فروش به کسر</mat-label>
                                <input type="number" formControlName="percentageSalesDeductions" matInput>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>محل معامله</mat-label>
                                <mat-select formControlName="tradingMarket">
                                    <mat-option style="text-align: right" [value]="s?.id"
                                                *ngFor="let s of formsModelService.tradingMarketTypes">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>بانک عامل</mat-label>
                                <mat-select formControlName="executiveBank">
                                    <mat-option style="text-align: right" *ngFor="let s of banks">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>کارگزار معامله گر</mat-label>
                                <mat-select formControlName="brockerDealer">
                                    <mat-option [value]="s?.code" style="text-align: right" *ngFor="let s of brokers">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>درصد وثایق در اختیار جهت خسارت های احتمالی</mat-label>
                                <input type="number" formControlName="defaultsPossibleDamagesPercent" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>مبلغ وثایق در اختیار جهت خسارت های احتمالی</mat-label>
                                <input type="number" formControlName="defaultsPossibleDamagesAmount" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="contract-form-container">
                    <div class="contract-form-header">
                        اطلاعات بازارگردانی
                    </div>
                    <div class="contract-form-body" dir="rtl">
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>نوع بازارگردانی</mat-label>
                                <mat-select formControlName="marketmakingType">
                                    <mat-option style="text-align: right"
                                                *ngFor="let s of formsModelService.marketmakingTypes" [value]="s?.id">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>درصد تعهد روزانه قراردادی</mat-label>
                                <input type="number" matInput formControlName="dailyMinimumCommittedPercent">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد تعهد روزانه قراردادی</mat-label>
                                <input type="number" formControlName="dailyMinimumCommittedCount" matInput>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>درصد تعهد روزانه بورسی</mat-label>
                                <input type="number" formControlName="dailyExchangeMinimumCommittedPercent" matInput>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>تعداد تعهد روزانه بورسی</mat-label>
                                <input type="number" formControlName="dailyExchangeMinimumCommittedCount" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>مجموع تعهدات روزانه اعضای سندیکا</mat-label>
                                <input type="number" formControlName="dailySyndicateCommittedSumAmount" matInput>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تاریخ اولین کارمزد</mat-label>
                                <input (click)="start1343.open()" matInput formControlName="firstDateMarketMakingFees"
                                       [matDatepicker]="start1343">
                                <mat-datepicker-toggle matSuffix [for]="start1343"></mat-datepicker-toggle>
                                <mat-datepicker #start1343></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>تواتر کارمزدها</mat-label>
                                <mat-select formControlName="marketMakingFeesFreq">
                                    <mat-option style="text-align: right" *ngFor="let s of formsModelService.freqTypes"
                                                [value]="s?.id">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد کارمزدها</mat-label>
                                <input type="number" formControlName="marketMakingFeesCounts" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="contract-form-container">
                    <div class="contract-form-header">
                        اطلاعات تعهد پذیره نویسی
                    </div>
                    <div class="contract-form-body" dir="rtl">
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>درصد تعهدات پذیره نویسی تمدن در سندیکا</mat-label>
                                <input matInput type="number" formControlName="tamadonSyndicateCommittedPercent">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>درصد اوراق به فروش نرسیده در عرضه عمومی</mat-label>
                                <input matInput type="number" formControlName="unpurchasedSecuritiesInIpoPercent">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>درصد خرید اوراق به فروش نرسیده در روز عرضه</mat-label>
                                <input matInput type="number" formControlName="percentagePurchasedUnpurchasedBondsIpo">
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد خرید اوراق به فروش نرسیده در روز عرضه</mat-label>
                                <input matInput type="number" formControlName="NumberPurchasedUnpurchasedBondsIpo">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>قیمت خرید هر ورقه به فروش نرسیده در روز عرضه</mat-label>
                                <input matInput type="number" formControlName="unitPricePurchasedUnpurchasedBondsIpo">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر جریمه متهعد پذیره نویس در صورت عدم ایفای تعهدات</mat-label>
                                <input matInput type="number" formControlName="underWritingConsiderationFreq">
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ جریمه متهعد پذیره نویس در صورت عدم ایفای تعهدات</mat-label>
                                <input matInput type="number" formControlName="underWritingConsiderationRate">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>مبلغ کارمزد تعهد پذیره نویسی تمدن</mat-label>
                                <input matInput type="number" formControlName="underWritingFee">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ کارمزد تعهد پذیره نویسی تمدن</mat-label>
                                <input matInput type="number" formControlName="marketMakingFeesReceivingInfo">
                            </mat-form-field>
                        </div>

                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>حداکثر درصد تعداد خرید اوراق عرضه شده در دوره عرضه اولیه</mat-label>
                                <input matInput type="number" formControlName="maximumPurchasedBondsIssuedDuringIpo">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>حداقل قیمت خرید (ریال)</mat-label>
                                <input matInput type="number" formControlName="minimumPurchasePrice">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>حداکثر قیمت خرید (ریال)</mat-label>
                                <input matInput type="number" formControlName="maximumPurchasePrice">
                            </mat-form-field>
                        </div>
                        <!-- <mat-form-field appearance="outline" fxFlex="30">
                            <mat-label> درصد وثایق در اختیار جهت خسارت های احتمالی</mat-label>
                            <input matInput type="number" formControlName="defaultsPossibleDamagesPercent">
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="30">
                            <mat-label> مبلغ وثایق در اختیار جهت خسارت های احتمالی</mat-label>
                            <input matInput type="number" formControlName="defaultsPossibleDamagesAmount">
                        </mat-form-field> -->

                    </div>
                </div>
                <div class="contract-form-container">
                    <div class="contract-form-header">
                        اطلاعات تنخواه
                    </div>
                    <div class="contract-form-body" dir="rtl">
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>مبلغ تنخواه بازارگردانی تمدن</mat-label>
                                <input type="number" formControlName="tamadonPettyCashAmount" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ تنخواه بازارگردانی تمدن</mat-label>
                                <input type="number" formControlName="tamadonPettyCashPercent" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تاریخ دریافت اولین تنخواه بازارگردانی</mat-label>
                                <input (click)="start123456.open()" matInput
                                       formControlName="receiptFirstMarketMakingDate"
                                       [matDatepicker]="start123456">
                                <mat-datepicker-toggle matSuffix [for]="start123456"></mat-datepicker-toggle>
                                <mat-datepicker #start123456></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر دریافت تنخواه</mat-label>
                                <mat-select formControlName="pettyCashFreq">
                                    <mat-option style="text-align: right" *ngFor="let s of formsModelService.freqTypes"
                                                [value]="s.id">
                                        {{s.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد تنخواه ها</mat-label>
                                <input type="number" formControlName="pettyCashCounts" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>شماره حساب واریز تنخواه</mat-label>
                                <input formControlName="pettyCashRecievingBankAccount" matInput>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>نام بانک واریز تنخواه</mat-label>
                                <mat-select formControlName="pettyCashRecievingBankName">
                                    <mat-option style="text-align: right" *ngFor="let s of banks" [value]="s?.id">
                                        {{s?.name}}
                                        <span style="font-size: 12px;color: #9ea1a9">{{s.bankName}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>نام شعبه واریز تنخواه</mat-label>
                                <mat-select formControlName="pettyCashRecievingBranchName">
                                    <mat-option style="text-align: right" *ngFor="let s of bankBranches"
                                                [value]="s?.branchCode">
                                        {{s?.branchName}}
                                        <span style="font-size: 12px;color: #9ea1a9">{{s.bankName}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="contract-form-container">
                    <div class="contract-form-header">
                        اطلاعات عودت تنخواه
                    </div>
                    <div class="contract-form-body" dir="rtl">
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تاریخ عودت تنخواه بازارگردانی</mat-label>
                                <input (click)="start13466.open()" matInput formControlName="pettyCashPayingBackDate"
                                       [matDatepicker]="start13466">
                                <mat-datepicker-toggle matSuffix [for]="start13466"></mat-datepicker-toggle>
                                <mat-datepicker #start13466></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر عودت تنخواه</mat-label>
                                <mat-select formControlName="pettyCashPayingBackFreq">
                                    <mat-option style="text-align: right" *ngFor="let s of formsModelService.freqTypes"
                                                [value]="s.id">
                                        {{s.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد دوره های عودت تنخواه</mat-label>
                                <input type="number" formControlName="pettyCashPayingBachCounts" matInput>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <div class="contract-form-container">
                    <div class="contract-form-header">
                        وجه التزام ها و جرائم
                    </div>
                    <div class="contract-form-body" dir="rtl">
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر محاسبه وجه التزام جریمه دیرکرد کارمزد</mat-label>
                                <mat-select formControlName="marketMakingFeesConsiderationFreq">
                                    <mat-option style="text-align: right" *ngFor="let s of formsModelService.freqTypes"
                                                [value]="s.id">
                                        {{s.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ وجه التزام پرداخت کارمزد (سالیانه)</mat-label>
                                <input type="number" formControlName="marketMakingFeesConsiderationRate" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>دوره تنفس تاخیر پرداخت کارمزد (روز)</mat-label>
                                <input type="number" formControlName="marketMakingDelinquencyGracePeriod" matInput>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر محاسبه وجه التزام دیرکرد دریافت تنخواه</mat-label>
                                <mat-select formControlName="pettyCashDelinquencyConsiderationFreq">
                                    <mat-option style="text-align: right" *ngFor="let s of formsModelService.freqTypes"
                                                [value]="s.id">
                                        {{s.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ وجه التزام جریمه دیرکرد دریافت تنخواه (سال)</mat-label>
                                <input type="number" formControlName="pettyCashDelinquencyConsiderationRate" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>دوره تنفس در صورت دیرکرد دریافت تنخواه (روز)</mat-label>
                                <input type="number" formControlName="pettyCashDelinquencyGracePeriod" matInput>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر محاسبه وجه التزام جریمه دیرکرد عودت تنخواه</mat-label>
                                <mat-select formControlName="pettyCashPayingBackDelinquencyConsiderationFreq">
                                    <mat-option style="text-align: right" *ngFor="let s of formsModelService.freqTypes"
                                                [value]="s.id">
                                        {{s.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ سالانه وجه التزام جریمه دیرکرد عودت تنخواه</mat-label>
                                <input type="number" formControlName="pettyCashPayingBackDelinquencyConsiderationRate"
                                       matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>دوره تنفس دیرکرد عودت تنخواه (روز)</mat-label>
                                <input type="number" formControlName="pettyCashPayingBackDelinquencyGracePeriod"
                                       matInput>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر جریمه متعهد پذیره نویس در صورت عدم ایفای تعهدات</mat-label>
                                <mat-select formControlName="pettyCashDelinquencyConsiderationFreq">
                                    <mat-option style="text-align: right" *ngFor="let s of formsModelService.freqTypes"
                                                [value]="s.id">
                                        {{s.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ جریمه متعهد پذیره نویس در صورت عدم ایفای تعهدات</mat-label>
                                <input type="number" formControlName="pettyCashDelinquencyConsiderationRate" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="اعضای سندیکا">
            <app-syndicate-members-names (newData)="onSubFormSubmit($event)"
                                         [data]="baseObj?.syndicateMembersNames"></app-syndicate-members-names>
        </mat-tab>
        <mat-tab label=" وثایق">
            <app-collateral-info (newData)="onSubFormSubmit($event)"
                                 [data]="baseObj?.collateralInfo"></app-collateral-info>
        </mat-tab>
        <mat-tab label=" صورتحساب">
            <app-invoice-info (newData)="onSubFormSubmit($event)" [data]="baseObj?.invoiceInfo"></app-invoice-info>
        </mat-tab>
        <mat-tab label=" ضامنین">
            <app-guarantor-info (newData)="onSubFormSubmit($event)"
                                [data]="baseObj?.guarantorInfo"></app-guarantor-info>
        </mat-tab>
        <mat-tab label="نرخ کارمزد بازارگردانی">
            <app-market-making-fees-receiving-info (newData)="onSubFormSubmit($event)"
                                                   [data]="baseObj?.marketMakingFeesReceivingInfo"></app-market-making-fees-receiving-info>
        </mat-tab>
        <mat-tab label="کارمزد و تنخواه بازارگردانی">
            <app-fee-and-petty-info (newData)="onSubFormSubmit($event)"
                                    [data]="baseObj?.feeAndPetty"></app-fee-and-petty-info>
        </mat-tab>
    </mat-tab-group>
    <button (click)="createFormApi()" [color]="'primary'" mat-raised-button
            class="save-form-button">
        <mat-icon>save</mat-icon>
        ذخیره
        فرم
    </button>
</div>