<div class="page-layout">
    <app-header pageTitle="پیشخوان مدیریت سبد">
        <form [formGroup]="form" dir="rtl" fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-form-field appearance="outline">
                <mat-label>تاریخ</mat-label>
                <input matInput class="full-wid" (click)="date.open()" formControlName="date" [matDatepicker]="date" [max]="today" />
                <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
        </form>
    </app-header>

    <div class="page-content" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <app-trade-dashboard-table fxFlex="100" [date]="form.value.date"> </app-trade-dashboard-table>
        <app-trade-dashboard-trend-chart fxFlex="60" height="500px" [date]="form.value.date"> </app-trade-dashboard-trend-chart>
        <app-trade-dashboard-pie-chart fxFlex="40" height="500px" [date]="form.value.date"> </app-trade-dashboard-pie-chart>
        <app-daily-investment-report fxFlex="100" [date]="form.value.date"> </app-daily-investment-report>
    </div>
</div>
