<form #myForm="ngForm" [formGroup]="securityInfoForm" class="contract-form-container">
    <div class="contract-form-header">اطلاعات کارمزد نگهداری</div>
    <div class="contract-form-body" dir="rtl">
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>
                    حد پایین کارمزد سبد به منظور کارمزد متغیر - دامنه i
                    <span style="color: red">*</span>
                </mat-label>
                <input type="number" formControlName="periodTimeLowerBound" matInput />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    حد بالا کارمزد سبد به منظور کارمزد متغیر - دامنه i
                    <span style="color: red">*</span>
                </mat-label>
                <input type="number" formControlName="periodTimeUpperBound" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>
                    نرخ ترجیهی کارمزد نگهداری - دامنه i
                    <span style="color: red">*</span>
                </mat-label>
                <input type="number" formControlName="feesPlusRate" matInput />
            </mat-form-field>
        </div>
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>
                    مبلغ ترجیهی کارمزد نگهداری - دامنه i
                    <span style="color: red">*</span>
                </mat-label>
                <input type="number" formControlName="feesPlusAmount" matInput />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>
                    توضیحات کارمزد نگهداری - دامنه i
                    <span style="color: red">*</span>
                </mat-label>
                <textarea formControlName="feesDescription" matInput></textarea>
            </mat-form-field>
            <div class="form-row-btn-container">
                <button
                    mat-raised-button
                    *ngIf="selectedSecurityInfoIndex == null"
                    [disabled]="securityInfoForm.invalid"
                    (click)="add()"
                    class="save-button"
                    [color]="'accent'"
                    style="width: 150px; height: 40px"
                >
                    <mat-icon> add </mat-icon>
                    افزودن
                </button>
                <button
                    mat-raised-button
                    *ngIf="selectedSecurityInfoIndex != null"
                    [disabled]="securityInfoForm.invalid"
                    (click)="edit()"
                    class="save-button"
                    [color]="'accent'"
                    style="width: 150px; height: 40px"
                >
                    <mat-icon> edit </mat-icon>
                    اصلاح
                </button>
                <button
                    mat-raised-button
                    *ngIf="selectedSecurityInfoIndex != null"
                    (click)="clear()"
                    class="save-button"
                    style="width: 150px; height: 40px; margin-right: 10px"
                >
                    <mat-icon> close </mat-icon>
                    برگشت
                </button>
            </div>
        </div>
    </div>
    <div class="form-tab-table-container">
        <mat-table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
            <ng-container matColumnDef="periodTimeLowerBound">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>حد پایین کارمزد</mat-header-cell>
                <mat-cell *matCellDef="let securityInfo" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ securityInfo?.periodTimeLowerBound }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="periodTimeUpperBound">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>حد بالا کارمزد</mat-header-cell>
                <mat-cell *matCellDef="let securityInfo" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ securityInfo?.periodTimeUpperBound }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="feesPlusRate">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نرخ ترجیهی کارمزد</mat-header-cell>
                <mat-cell *matCellDef="let securityInfo" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ securityInfo?.feesPlusRate }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="feesPlusAmount">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>مبلغ ترجیهی کارمزد</mat-header-cell>
                <mat-cell *matCellDef="let securityInfo" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ securityInfo?.feesPlusAmount }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="feesDescription">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>توضیحات کارمزد</mat-header-cell>
                <mat-cell *matCellDef="let securityInfo" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ securityInfo?.feesDescription }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>عملیات</mat-header-cell>
                <mat-cell *matCellDef="let securityInfo; let i = index" fxHide fxShow.gt-sm>
                    <button class="edit-button" mat-raised-button style="background-color: orange; color: white" (click)="editSecurityInfo(securityInfo, i)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button style="margin-right: 10px" mat-raised-button color="warn" (click)="delete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" matRipple [@animate]="{ value: '*', params: { y: '100%' } }"> </mat-row>
        </mat-table>
        <ng-container *ngIf="dataSource.data.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                <img width="140px" height="140px" src="./assets/images/no-data.svg" alt="no data" />
                <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
            </div>
        </ng-container>
    </div>
</form>
