<!--<div class="wrapper">-->
<!--    <div class="mail-nav">-->
<!--        <button mat-raised-button color="accent" (click)="openSendMailDialog()">-->
<!--            ارسال ایمیل جدید-->
<!--            <mat-icon>email</mat-icon>-->
<!--        </button>-->
<!--    </div>-->
<!--    <mat-tab-group dir="rtl">-->
<!--        <mat-tab>-->
<!--            <ng-template mat-tab-label>-->
<!--                <mat-icon style="margin-left: 5px">all_inbox</mat-icon>-->
<!--                پیام های دریافتی-->
<!--                ({{inputCount}})-->
<!--            </ng-template>-->
<!--            <app-inbox (messageToDelete)="deleteMessage($event)" [itemOfInbox]="inboxes"-->
<!--                       (numberOfMessages)="setNumberOfInboxMessage($event)"></app-inbox>-->
<!--        </mat-tab>-->
<!--        <mat-tab>-->
<!--            <ng-template mat-tab-label>-->
<!--                <mat-icon style="margin-left: 5px">send</mat-icon>-->
<!--                پیام های ارسال شده-->
<!--                ({{outputCount}})-->
<!--            </ng-template>-->
<!--            <app-outbox (messageToDelete)="deleteMessage($event)" [itemOfInbox]="outboxes"-->
<!--                        (numberOfMessages)="setNumberOfOutBoxMessage($event)"></app-outbox>-->
<!--        </mat-tab>-->
<!--    </mat-tab-group>-->
<!--</div>-->
<div class='page-layout carded left-sidebar inner-scroll' id='mail'>
    <!-- TOP BACKGROUND -->
    <div class='top-bg accent' style="background-image: url('../../../assets/images/background.png')"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDEBAR -->
    <fuse-sidebar class='sidebar' lockedOpen='gt-md' name='mail-main-sidebar' position='left'>
        <div class='header accent p-24 pb-4' fxLayout='column' fxLayoutAlign='space-between start'>
            <div class='email-header'>
                <div style='margin-left: 7px'>
                    <mat-icon>mail</mat-icon>
                </div>
                <div class='email-header-text'>مدیریت ایمیل</div>
            </div>
            <div class='mail-name'>
                {{ userInfo?.email }}
            </div>
        </div>
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div [@animate]="{ value: '*', params: { y: '50px' } }" class='content' fusePerfectScrollbar>
            <div class='px-24 pt-32 pb-12'>
                <button (click)='openSendMailDialog()' class='mat-accent compose-dialog-button w-100-p'
                        mat-raised-button>ایمیل جدید
                </button>
            </div>

            <div class='nav material2'>
                <div class='nav-subheader'>پوشه ها</div>
                <div class='nav-item'>
                    <a (click)='showInbox()' [routerLinkActive]="['active', 'accent']" class='nav-link' matRipple>
                        <mat-icon class='nav-link-icon'>inbox</mat-icon>
                        <span>
                            دریافتی
                            <span style='font-size: 12px; color: #4285f4'>({{ inputCount }})</span>
                        </span>
                    </a>
                    <a (click)='showOutbox()' [routerLinkActive]="['active', 'accent']" class='nav-link' matRipple>
                        <mat-icon class='nav-link-icon'>send</mat-icon>
                        <span
                        >ارسالی
                            <span style='font-size: 12px; color: #4285f4'> ({{ outputCount }})</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class='center' style='margin-left: 40px'>
        <!-- CONTENT HEADER -->
        <div class='header' fxLayout='row' fxLayoutAlign='start center'>
            <div class='search-wrapper' fxFlex fxLayout='row' fxLayoutAlign='start center'>
                <button (click)="toggleSidebar('mail-main-sidebar')" class='sidebar-toggle' fxHide.gt-md
                        mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>

                <div class='search' fxLayout='row' fxLayoutAlign='start center' style='width: 100%'>
                    <!--                    <mat-icon class="secondary-text">search</mat-icon>-->
                    <input
                        [formControl]='searchInput'
                        fxFlex
                        placeholder='جستجو'
                        style='padding: 20px 10px; width: 100%; flex: 1 1 0%; box-sizing: border-box; border-radius: 56px'
                    />
                </div>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class='content-card'>
            <div class='content-card'>
                <!-- CONTENT TOOLBAR -->
                <div class='toolbar px-24 py-8' style='margin-bottom: 15px'>
                    <div
                        style='display: flex; align-items: center; justify-content: flex-start; padding-top: 15px; font-size: 17px'>
                        {{ activePageTitle }}
                    </div>
                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT -->
                <div class='content' fxLayout='row'>
                    <!--                    MAIL LIST-->
                    <div fusePerfectScrollbar fxFlex>
                        <div *ngIf='currentList?.length === 0' fxFlexFill fxLayout='column'
                             fxLayoutAlign='center center'>
                            <span class='no-messages-text hint-text'>پیامی وجود ندارد</span>
                        </div>

                        <div class='mail-list'>
                            <app-mail-list-item (click)='showMail(mail?.msgId)' *ngFor='let mail of currentList'
                                                [mail]='mail' class='item-hover'>
                            </app-mail-list-item>
                        </div>
                    </div>
                    <div fusePerfectScrollbar fxFlex>
                        <app-mailcard
                            (deleteMsg)='deleteMessage($event)'
                            (updateInbox)='updateMail($event)'
                            [inbox]='currentMail'
                            [mailType]='currentMailTypeId'
                        ></app-mailcard>
                    </div>
                    <!--                                    <mail-details fusePerfectScrollbar fxFlex></mail-details>-->
                </div>
                <!-- / CONTENT -->
            </div>
            <!-- / CONTENT CARD -->
        </div>
        <!-- / CENTER -->
    </div>
</div>
