<div class="form-mat-tab-group-container">
    <mat-tab-group>
        <mat-tab label="اطلاعات قرارداد">
            <app-contract-base-info-form (newData)="onSubFormSubmit($event)"
                                         [data]="baseObj?.contractBaseInfo"></app-contract-base-info-form>
            <form [formGroup]="form">
                <div class="contract-form-container">
                    <div class="contract-form-header">
                        اطلاعات عمومی
                    </div>
                    <div class="contract-form-body" dir="rtl">
                        <div class="contract-form-row">

                            <mat-form-field appearance="outline">
                                <mat-label>نوع اوراق
                                    <span style="color: red">*</span>
                                </mat-label>
                                <mat-select formControlName="securityType">
                                    <mat-option [value]="s.key" *ngFor="let s of securityTypes| keyvalue">
                                        {{s.value}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>مبلغ تأمین مالی</mat-label>
                                <input type="number" matInput formControlName="financingAmount">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>نرخ کارمزد تأمین مالی</mat-label>
                                <input type="number" matInput formControlName="financingFeesRate">
                            </mat-form-field>


                        </div>

                        <div class="contract-form-row">

                            <mat-form-field appearance="outline">
                                <mat-label>مبلغ کارمزد تأمین مالی</mat-label>
                                <input type="number" matInput formControlName="financingFeesAmount">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>نرخ کارمزد بازاریابی و فروش</mat-label>
                                <input type="number" matInput formControlName="marketingAndSellFeesRate">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>تاریخ دریافت کارمزد تأمین مالی</mat-label>
                                <input (click)="start3.open()" matInput formControlName="financingFeesReceivingDate"
                                       [matDatepicker]="start3">
                                <mat-datepicker-toggle matSuffix [for]="start3"></mat-datepicker-toggle>
                                <mat-datepicker #start3></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>


                        </div>
                        <div class="contract-form-row">

                            <mat-form-field appearance="outline">
                                <mat-label>دلیل خاتمه اتمام قرارداد
                                    <span style="color: red">*</span>
                                </mat-label>
                                <mat-select formControlName="contractEndingReason">
                                    <mat-option style="text-align: right"
                                                *ngFor="let c of contractEndingReasons| keyvalue"
                                                [value]="c?.key">
                                        {{c?.value}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>


                            <mat-form-field appearance="outline">
                                <mat-label>شرح دلیل خاتمه قرارداد
                                    <span style="color: red">*</span>
                                </mat-label>
                                <textarea formControlName="contractEndingReasonExplanation" matInput></textarea>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>تواتر محاسبه وجه التزام جریمه دیرکرد کارمزد</mat-label>
                                <mat-select formControlName="feeCashDelinquencyConsiderationFreq">
                                    <mat-option style="text-align: right" *ngFor="let s of formsModelService.freqTypes"
                                                [value]="s?.id">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>

                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ سالانه وجه التزام جریمه دیرکرد کارمزد</mat-label>
                                <input type="number" matInput formControlName="feeCashDelinquencyConsiderationRate">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>دوره تنفس در صورت دیرکرد کارمزد (روز)</mat-label>
                                <input type="number" matInput formControlName="feeCashDelinquencyGracePeriod">
                            </mat-form-field>

                        </div>

                    </div>
                </div>
            </form>
        </mat-tab>
        <mat-tab label=" صورتحساب">
            <app-invoice-info (newData)="onSubFormSubmit($event)" [data]="baseObj?.invoiceInfo"></app-invoice-info>
        </mat-tab>
        <mat-tab label="اطلاعات مشتریان معرفی شده">
            <app-introduced-customer-info (newData)="onSubFormSubmit($event)"
                                          [data]="baseObj?.introducedCustomerInfo"></app-introduced-customer-info>
        </mat-tab>
        <mat-tab label="اطلاعات پرداختی های قرارداد">
            <app-contract-payments-info (newData)="onSubFormSubmit($event)"
                                        [data]="baseObj?.contractPaymentsInfo"></app-contract-payments-info>
        </mat-tab>
    </mat-tab-group>
    <button (click)="createFormApi()" [color]="'primary'" mat-raised-button
            class="save-form-button">
        <mat-icon>save</mat-icon>
        ذخیره
        فرم
    </button>
</div>