<script src='bource-instrument-detail.component.ts'></script>
<div class="page-layout">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1"> ورود اطلاعات ابزار‌ها </span>
            </div>
        </div>
    </div>

    <div wrap dir="rtl" style="flex: 1; width: 100%">
        <div class="container fuse-card" dir="rtl">
            <form fxLayout="row wrap" fxLayoutAlign="space-between center" class="title">
                <mat-form-field fxFlex.lt-md="100" style="min-width: 600px; padding: 15px" appearance="outline">
                    <mat-select [formControl]="selectedBond" placeholder="اوراق" [multiple]="false">
                        <ngx-mat-select-search
                            [clearSearchInput]="false"
                            style="text-align: right"
                            [noEntriesFoundLabel]="'یافت نشد'"
                            [placeholderLabel]="'جستجو'"
                            [formControl]="bondSearchkeyword"
                        ></ngx-mat-select-search>
                        <mat-option style="text-align: right" *ngFor="let bond of bonds" [value]="bond">
                            <div style="display: flex; justify-content: space-between; align-items: center">
                                <span [ngClass]="{ 'deleted-bond': bond.status == 'deleted' }">
                                    {{ bond?.name }}
                                </span>

                                <mat-chip class="chips" color="warn" selected *ngIf="bond.status == 'deleted'"> قدیمی حذف شده</mat-chip>
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div fxFlex="30" fxFlex.lt-md="50">
                    <h3>تاریخ شروع پذیره نویسی</h3>
                    <h4 *ngIf="startDate">{{ startDate | convertDate }}</h4>
                    <h4 *ngIf="!startDate">ثبت نشده</h4>
                </div>

                <div fxFlex="30" fxFlex.lt-md="50">
                    <h3>تاریخ پایان پذیره نویسی</h3>
                    <h4 *ngIf="endDate">{{ endDate | convertDate }}</h4>
                    <h4 *ngIf="!endDate">ثبت نشده</h4>
                </div>

                <button
                    mat-raised-button
                    *ngIf="formLoaded"
                    class="save-changes-btn"
                    style="margin-right: auto; margin-left: auto"
                    color="accent"
                    (click)="save()"
                >
                    ثبت تغییرات
                </button>
            </form>
        </div>

        <div class="container fuse-card" dir="rtl" *ngIf="formLoaded" [@expandCollapse] style="margin-top: 0px">
            <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
                <form [formGroup]="bigForm" class="form" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div fxFlex="30" fxFlex.lt-md="80">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>نام</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="name" formControlName="name" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('issuerId')">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>ناشر</mat-label>
                            <mat-select formControlName="issuerId" [placeholder]="bondDetail.issuerName" [multiple]="false" appearance="outline">
                                <ngx-mat-select-search
                                    [clearSearchInput]="false"
                                    style="text-align: right"
                                    [noEntriesFoundLabel]="'یافت نشد'"
                                    [placeholderLabel]="'جستجو'"
                                    [formControl]="issuerSearchkeyword"
                                >
                                </ngx-mat-select-search>
                                <mat-option
                                    style="text-align: right"
                                    *ngFor="let issuer of issuers"
                                    [value]="issuer.id"
                                    (click)="bondDetail.issuerName = issuer.name"
                                >
                                    {{ issuer?.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('issueDate')">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>تاریخ انتشار</mat-label>
                            <input (click)="start1.open()" matInput formControlName="issueDate" [matDatepicker]="start1" />
                            <mat-datepicker-toggle matSuffix [for]="start1"></mat-datepicker-toggle>
                            <mat-datepicker #start1></mat-datepicker>
                            <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('maturityDate')">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>تاریخ سررسید</mat-label>
                            <input (click)="start2.open()" matInput formControlName="maturityDate" [matDatepicker]="start2" />
                            <mat-datepicker-toggle matSuffix [for]="start2"></mat-datepicker-toggle>
                            <mat-datepicker #start2></mat-datepicker>
                            <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('cancellationDate')">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>تاریخ لغو پذیرش</mat-label>
                            <input (click)="start21.open()" matInput formControlName="cancellationDate" [matDatepicker]="start21" />
                            <mat-datepicker-toggle matSuffix [for]="start21"></mat-datepicker-toggle>
                            <mat-datepicker #start21></mat-datepicker>
                            <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('paymentDay')">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>روز پرداخت سود</mat-label>
                            <mat-select formControlName="paymentDay">
                                <mat-option
                                    style="text-align: right"
                                    *ngFor="
                                        let m of [
                                            0,
                                            1,
                                            2,
                                            3,
                                            4,
                                            5,
                                            6,
                                            7,
                                            8,
                                            9,
                                            10,
                                            11,
                                            12,
                                            13,
                                            14,
                                            15,
                                            16,
                                            17,
                                            18,
                                            19,
                                            20,
                                            21,
                                            22,
                                            23,
                                            24,
                                            25,
                                            26,
                                            27,
                                            28,
                                            29,
                                            30,
                                            31
                                        ]
                                    "
                                    [value]="m.toString()"
                                >
                                    {{ m == 0 ? 'ندارد' : m }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('value')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>ارزش انتشار</mat-label>
                            <input matInput matInputCommified formControlName="value" type="text" />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80">
                        <mat-form-field appearance="outline">
                            <mat-label>
                                شناسه‌ی نماد
                                <span style="color: red">*</span>
                            </mat-label>
                            <input type="text" formControlName="ticker" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80">
                        <mat-form-field appearance="outline">
                            <mat-label>وضعیت</mat-label>
                            <mat-select formControlName="status">
                                <mat-option value="active">فعال</mat-option>
                                <mat-option value="inactive">غیرفعال</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('volume')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>حجم انتشار</mat-label>
                            <input name="volume" formControlName="volume" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('basePrice')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>قیمت پایه</mat-label>
                            <input name="basePrice" formControlName="basePrice" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('par')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>قیمت اسمی</mat-label>
                            <input name="par" formControlName="par" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('exerciseRate')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>قیمت اعمال</mat-label>
                            <input name="exerciseRate" formControlName="exerciseRate" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('bankId')">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>بانک</mat-label>
                            <mat-select formControlName="bankId" [placeholder]="bondDetail?.bankName" [multiple]="false" appearance="outline">
                                <ngx-mat-select-search
                                    [clearSearchInput]="false"
                                    style="text-align: right"
                                    [noEntriesFoundLabel]="'یافت نشد'"
                                    [placeholderLabel]="'جستجو'"
                                    [formControl]="bankSearchkeyword"
                                ></ngx-mat-select-search>
                                <mat-option style="text-align: right" *ngFor="let bank of banks" [value]="bank.id">
                                    {{ bank?.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('callRate')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>نرخ اختیار خرید</mat-label>
                            <input name="callRate" formControlName="callRate" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('contractSize')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>اندازه قرارداد</mat-label>
                            <input name="contractSize" formControlName="contractSize" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('currency')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>نوع ارز</mat-label>
                            <input name="currency" formControlName="currency" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('etfType')">
                        <mat-form-field class="full-wid" appearance="outline" style="width: 100%">
                            <mat-label>نوع ETF</mat-label>
                            <mat-select formControlName="etfTypeId" [placeholder]="bondDetail.etfTypeName" [multiple]="false" appearance="outline">
                                <ngx-mat-select-search
                                    [clearSearchInput]="false"
                                    style="text-align: right"
                                    [noEntriesFoundLabel]="'یافت نشد'"
                                    [placeholderLabel]="'جستجو'"
                                    [formControl]="ETF_TypeSearchkeyword"
                                >
                                </ngx-mat-select-search>
                                <mat-option style="text-align: right" *ngFor="let etfType of etfTypes" [value]="etfType.id">
                                    {{ etfType?.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('issuelicenseId')">
                        <mat-form-field class="full-wid" appearance="outline">
                            <mat-label>مجوز انتشار</mat-label>
                            <mat-select
                                formControlName="issuelicenseId"
                                [placeholder]="bondDetail.issuelicenseName"
                                [multiple]="false"
                                appearance="outline"
                            >
                                <ngx-mat-select-search
                                    [clearSearchInput]="false"
                                    style="text-align: right"
                                    [noEntriesFoundLabel]="'یافت نشد'"
                                    [placeholderLabel]="'جستجو'"
                                    [formControl]="issueLicenseSearchkeyword"
                                >
                                </ngx-mat-select-search>
                                <mat-option style="text-align: right" *ngFor="let issueLicense of issueLicenses" [value]="issueLicense.id">
                                    {{ issueLicense?.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!--                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('issuerGoalId')">-->
                    <!--                        <mat-form-field class="full-wid" appearance="outline">-->
                    <!--                            <mat-label>هدف انتشار</mat-label>-->
                    <!--                            <mat-select formControlName="issuerGoalId" [placeholder]="bondDetail.issuerGoalName"-->
                    <!--                                        [multiple]="false" appearance="outline">-->
                    <!--                                <ngx-mat-select-search [clearSearchInput]="false" style="text-align: right"-->
                    <!--                                                       [noEntriesFoundLabel]=" 'یافت نشد'" [placeholderLabel]="'جستجو'"-->
                    <!--                                                       [formControl]="issueGoalSearchKeyword">-->
                    <!--                                </ngx-mat-select-search>-->
                    <!--                                <mat-option style="text-align: right;" *ngFor="let issueGoal of issueGoals"-->
                    <!--                                            [value]="issueGoal.id">-->
                    <!--                                    {{issueGoal?.name}}-->
                    <!--                                </mat-option>-->
                    <!--                            </mat-select>-->
                    <!--                        </mat-form-field>-->
                    <!--                    </div>-->

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('issuerGoalId')">
                        <app-search-select
                            [searchFn]="searchIssueGoal"
                            formControlName="issuerGoalId"
                            valuePropertyName="id"
                            uiPropertyName="name"
                            placeholder="جستجو‌ی هدف"
                            label="هدف انتشار"
                        >
                        </app-search-select>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('margin')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>وجه تضمین</mat-label>
                            <input name="margin" formControlName="margin" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('marketMakingRate')">
                        <mat-form-field appearance="outline" fxFlex appearance="outline">
                            <mat-label>نرخ بازارگردانی</mat-label>
                            <input name="exerciseRate" formControlName="marketMakingRate" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('nationalId')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>شناسه ی ملی</mat-label>
                            <input name="nationalId" formControlName="nationalId" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('paymentPeriod')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>تواتر پرداخت سود</mat-label>
                            <input name="paymentPeriod" formControlName="paymentPeriod" matInput type="number" />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('putRate')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>نرخ اختیار فروش</mat-label>
                            <input name="putRate" formControlName="putRate" matInput />
                        </mat-form-field>
                    </div>
                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('rate')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>نرخ</mat-label>
                            <input name="rate" formControlName="rate" matInput />
                        </mat-form-field>
                    </div>
                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('sponsor')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>بانی</mat-label>
                            <input name="sponsor" formControlName="sponsor" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('underlyingAsset')">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>دارایی پایه</mat-label>
                            <input name="underlyingAsset" formControlName="underlyingAsset" matInput />
                        </mat-form-field>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('callable')">
                        <mat-checkbox formControlName="callable"> قابل بازخرید</mat-checkbox>
                    </div>
                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('convertible')" style="align-self: center">
                        <mat-checkbox formControlName="convertible"> قابل تبدیل</mat-checkbox>
                    </div>

                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('embeded')" style="align-self: center">
                        <mat-checkbox formControlName="embeded"> تبعی</mat-checkbox>
                    </div>

                    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="10px" class="actions">
                        <button mat-raised-button *ngIf="bigForm.value.hasOwnProperty('collaterals')" color="primary" (click)="openCollaterals()">
                            تغییر وثیقه
                        </button>

                        <button mat-raised-button *ngIf="bigForm.value.hasOwnProperty('marketMakers')" color="primary" (click)="openMarketMaker()">
                            تغییر بازارگردان
                        </button>

                        <button mat-raised-button *ngIf="bigForm.value.hasOwnProperty('underwriters')" color="primary" (click)="openUnderWriter()">
                            تغییر پذیره نویس
                        </button>

                        <button mat-raised-button *ngIf="bigForm.value.hasOwnProperty('guarantors')" color="primary" (click)="openGuarantors()">
                            تغییر ضامن
                        </button>

                        <button mat-raised-button color="primary" (click)="openDates()">تاریخ شروع و پایان پذیره نویسی</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
