<script src='bource-instrument-detail.component.ts'></script>
<div class='page-layout'>
    <!-- HEADER -->
    <div class='header accent p-16 p-sm-24' fxLayout='column' fxLayout.gt-xs='row' fxLayoutAlign='start'
         fxLayoutAlign.gt-xs='space-between center'>
        <div fxLayout='row' fxLayoutAlign='start center'>
            <div class='logo' fxLayout='row' fxLayoutAlign='start center'>
                <span class='logo-text h1'> ورود اطلاعات ابزار‌ها </span>
            </div>
        </div>
    </div>

    <div dir='rtl' style='flex: 1; width: 100%' wrap>
        <div class='container fuse-card' dir='rtl'>
            <form class='title' fxLayout='row wrap' fxLayoutAlign='space-between center'>
                <mat-form-field appearance='outline' fxFlex.lt-md='100' style='min-width: 600px; padding: 15px'>
                    <mat-select [formControl]='selectedBond' [multiple]='false' placeholder='ابزارها'>
                        <ngx-mat-select-search
                            [clearSearchInput]='false'
                            [formControl]='bondSearchkeyword'
                            [noEntriesFoundLabel]="'یافت نشد'"
                            [placeholderLabel]="'جستجو'"
                            style='text-align: right'
                        ></ngx-mat-select-search>
                        <mat-option *ngFor='let bond of bonds' [value]='bond' style='text-align: right'>
                            <div style='display: flex; justify-content: space-between; align-items: center'>
                                <span [ngClass]="{ 'deleted-bond': bond.status == 'deleted' }">
                                    {{ bond?.name }}
                                </span>

                                <mat-chip *ngIf="bond.status == 'deleted'" class='chips' color='warn' selected> قدیمی
                                    حذف شده
                                </mat-chip>
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div fxFlex='30' fxFlex.lt-md='50'>
                    <h3>تاریخ شروع پذیره نویسی</h3>
                    <h4 *ngIf='startDate'>{{ startDate | convertDate }}</h4>
                    <h4 *ngIf='!startDate'>ثبت نشده</h4>
                </div>

                <div fxFlex='30' fxFlex.lt-md='50'>
                    <h3>تاریخ پایان پذیره نویسی</h3>
                    <h4 *ngIf='endDate'>{{ endDate | convertDate }}</h4>
                    <h4 *ngIf='!endDate'>ثبت نشده</h4>
                </div>

                <button
                    (click)='save()'
                    *ngIf='formLoaded'
                    class='save-changes-btn'
                    color='accent'
                    mat-raised-button
                    style='margin-right: auto; margin-left: auto'
                >
                    ثبت تغییرات
                </button>
            </form>
        </div>

        <div *ngIf='formLoaded' [@expandCollapse] class='container fuse-card' dir='rtl' style='margin-top: 0px'>
            <div class='p-24 pb-0 m-0' fusePerfectScrollbar mat-dialog-content>
                <form [formGroup]='bigForm' class='form' fxLayout='row wrap' fxLayoutAlign='center center'
                      fxLayoutGap='10px'>
                    <div fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>نام</mat-label>
                            <mat-icon class='secondary-text' matSuffix>account_circle</mat-icon>
                            <input formControlName='name' matInput name='name' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('issuerId')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' class='full-wid'>
                            <mat-label>ناشر</mat-label>
                            <mat-select [multiple]='false' [placeholder]='bondDetail.issuerName'
                                        appearance='outline' formControlName='issuerId'>
                                <ngx-mat-select-search
                                    [clearSearchInput]='false'
                                    [formControl]='issuerSearchkeyword'
                                    [noEntriesFoundLabel]="'یافت نشد'"
                                    [placeholderLabel]="'جستجو'"
                                    style='text-align: right'
                                >
                                </ngx-mat-select-search>
                                <mat-option
                                    (click)='bondDetail.issuerName = issuer.name'
                                    *ngFor='let issuer of issuers'
                                    [value]='issuer.id'
                                    style='text-align: right'
                                >
                                    {{ issuer?.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('issueDate')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' class='full-wid'>
                            <mat-label>تاریخ انتشار</mat-label>
                            <input (click)='start1.open()' [matDatepicker]='start1' formControlName='issueDate'
                                   matInput />
                            <mat-datepicker-toggle [for]='start1' matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #start1></mat-datepicker>
                            <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('maturityDate')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' class='full-wid'>
                            <mat-label>تاریخ سررسید</mat-label>
                            <input (click)='start2.open()' [matDatepicker]='start2' formControlName='maturityDate'
                                   matInput />
                            <mat-datepicker-toggle [for]='start2' matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #start2></mat-datepicker>
                            <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('cancellationDate')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' class='full-wid'>
                            <mat-label>تاریخ لغو پذیرش</mat-label>
                            <input (click)='start21.open()' [matDatepicker]='start21' formControlName='cancellationDate'
                                   matInput />
                            <mat-datepicker-toggle [for]='start21' matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #start21></mat-datepicker>
                            <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('paymentDay')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' class='full-wid'>
                            <mat-label>روز پرداخت سود</mat-label>
                            <mat-select formControlName='paymentDay'>
                                <mat-option
                                    *ngFor='
                                        let m of [
                                            0,
                                            1,
                                            2,
                                            3,
                                            4,
                                            5,
                                            6,
                                            7,
                                            8,
                                            9,
                                            10,
                                            11,
                                            12,
                                            13,
                                            14,
                                            15,
                                            16,
                                            17,
                                            18,
                                            19,
                                            20,
                                            21,
                                            22,
                                            23,
                                            24,
                                            25,
                                            26,
                                            27,
                                            28,
                                            29,
                                            30,
                                            31
                                        ]
                                    '
                                    [value]='m.toString()'
                                    style='text-align: right'
                                >
                                    {{ m == 0 ? 'ندارد' : m }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('value')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>ارزش انتشار</mat-label>
                            <input formControlName='value' matInput matInputCommified type='text' />
                        </mat-form-field>
                    </div>

                    <div fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline'>
                            <mat-label>
                                شناسه‌ی نماد
                                <span style='color: red'>*</span>
                            </mat-label>
                            <input formControlName='ticker' matInput type='text' />
                        </mat-form-field>
                    </div>

                    <div fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline'>
                            <mat-label>وضعیت</mat-label>
                            <mat-select formControlName='status'>
                                <mat-option value='active'>فعال</mat-option>
                                <mat-option value='inactive'>غیرفعال</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="bigForm.value.hasOwnProperty('volume')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>حجم انتشار</mat-label>
                            <input formControlName='volume' matInput name='volume' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('basePrice')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>قیمت پایه</mat-label>
                            <input formControlName='basePrice' matInput name='basePrice' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('par')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>قیمت اسمی</mat-label>
                            <input formControlName='par' matInput name='par' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('exerciseRate')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>قیمت اعمال</mat-label>
                            <input formControlName='exerciseRate' matInput name='exerciseRate' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('bankId')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' class='full-wid'>
                            <mat-label>بانک</mat-label>
                            <mat-select [multiple]='false' [placeholder]='bondDetail?.bankName' appearance='outline'
                                        formControlName='bankId'>
                                <ngx-mat-select-search
                                    [clearSearchInput]='false'
                                    [formControl]='bankSearchkeyword'
                                    [noEntriesFoundLabel]="'یافت نشد'"
                                    [placeholderLabel]="'جستجو'"
                                    style='text-align: right'
                                ></ngx-mat-select-search>
                                <mat-option *ngFor='let bank of banks' [value]='bank.id' style='text-align: right'>
                                    {{ bank?.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('callRate')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>نرخ اختیار خرید</mat-label>
                            <input formControlName='callRate' matInput name='callRate' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('contractSize')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>اندازه قرارداد</mat-label>
                            <input formControlName='contractSize' matInput name='contractSize' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('currency')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>نوع ارز</mat-label>
                            <input formControlName='currency' matInput name='currency' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('etfType')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' class='full-wid' style='width: 100%'>
                            <mat-label>نوع ETF</mat-label>
                            <mat-select [multiple]='false' [placeholder]='bondDetail.etfTypeName'
                                        appearance='outline' formControlName='etfTypeId'>
                                <ngx-mat-select-search
                                    [clearSearchInput]='false'
                                    [formControl]='ETF_TypeSearchkeyword'
                                    [noEntriesFoundLabel]="'یافت نشد'"
                                    [placeholderLabel]="'جستجو'"
                                    style='text-align: right'
                                >
                                </ngx-mat-select-search>
                                <mat-option *ngFor='let etfType of etfTypes' [value]='etfType.id'
                                            style='text-align: right'>
                                    {{ etfType?.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('issuelicenseId')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' class='full-wid'>
                            <mat-label>مجوز انتشار</mat-label>
                            <mat-select
                                [multiple]='false'
                                [placeholder]='bondDetail.issuelicenseName'
                                appearance='outline'
                                formControlName='issuelicenseId'
                            >
                                <ngx-mat-select-search
                                    [clearSearchInput]='false'
                                    [formControl]='issueLicenseSearchkeyword'
                                    [noEntriesFoundLabel]="'یافت نشد'"
                                    [placeholderLabel]="'جستجو'"
                                    style='text-align: right'
                                >
                                </ngx-mat-select-search>
                                <mat-option *ngFor='let issueLicense of issueLicenses' [value]='issueLicense.id'
                                            style='text-align: right'>
                                    {{ issueLicense?.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!--                    <div fxFlex="30" fxFlex.lt-md="80" *ngIf="bigForm.value.hasOwnProperty('issuerGoalId')">-->
                    <!--                        <mat-form-field class="full-wid" appearance="outline">-->
                    <!--                            <mat-label>هدف انتشار</mat-label>-->
                    <!--                            <mat-select formControlName="issuerGoalId" [placeholder]="bondDetail.issuerGoalName"-->
                    <!--                                        [multiple]="false" appearance="outline">-->
                    <!--                                <ngx-mat-select-search [clearSearchInput]="false" style="text-align: right"-->
                    <!--                                                       [noEntriesFoundLabel]=" 'یافت نشد'" [placeholderLabel]="'جستجو'"-->
                    <!--                                                       [formControl]="issueGoalSearchKeyword">-->
                    <!--                                </ngx-mat-select-search>-->
                    <!--                                <mat-option style="text-align: right;" *ngFor="let issueGoal of issueGoals"-->
                    <!--                                            [value]="issueGoal.id">-->
                    <!--                                    {{issueGoal?.name}}-->
                    <!--                                </mat-option>-->
                    <!--                            </mat-select>-->
                    <!--                        </mat-form-field>-->
                    <!--                    </div>-->

                    <div *ngIf="bigForm.value.hasOwnProperty('issuerGoalId')" fxFlex='30' fxFlex.lt-md='80'>
                        <app-search-select
                            [searchFn]='searchIssueGoal'
                            formControlName='issuerGoalId'
                            label='هدف انتشار'
                            placeholder='جستجو‌ی هدف'
                            uiPropertyName='name'
                            valuePropertyName='id'
                        >
                        </app-search-select>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('margin')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>وجه تضمین</mat-label>
                            <input formControlName='margin' matInput name='margin' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('marketMakingRate')" fxFlex='30' fxFlex.lt-md='80'
                         fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' appearance='outline' fxFlex>
                            <mat-label>نرخ بازارگردانی</mat-label>
                            <input formControlName='marketMakingRate' matInput name='exerciseRate' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('nationalId')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>شناسه ی ملی</mat-label>
                            <input formControlName='nationalId' matInput name='nationalId' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('paymentPeriod')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>تواتر پرداخت سود</mat-label>
                            <input formControlName='paymentPeriod' matInput name='paymentPeriod' type='number' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('putRate')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>نرخ اختیار فروش</mat-label>
                            <input formControlName='putRate' matInput name='putRate' />
                        </mat-form-field>
                    </div>
                    <div *ngIf="bigForm.value.hasOwnProperty('rate')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>نرخ</mat-label>
                            <input formControlName='rate' matInput name='rate' />
                        </mat-form-field>
                    </div>
                    <div *ngIf="bigForm.value.hasOwnProperty('sponsor')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>بانی</mat-label>
                            <input formControlName='sponsor' matInput name='sponsor' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('underlyingAsset')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-form-field appearance='outline' fxFlex>
                            <mat-label>دارایی پایه</mat-label>
                            <input formControlName='underlyingAsset' matInput name='underlyingAsset' />
                        </mat-form-field>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('callable')" fxFlex='30' fxFlex.lt-md='80'>
                        <mat-checkbox formControlName='callable'> قابل بازخرید</mat-checkbox>
                    </div>
                    <div *ngIf="bigForm.value.hasOwnProperty('convertible')" fxFlex='30' fxFlex.lt-md='80'
                         style='align-self: center'>
                        <mat-checkbox formControlName='convertible'> قابل تبدیل</mat-checkbox>
                    </div>

                    <div *ngIf="bigForm.value.hasOwnProperty('embeded')" fxFlex='30' fxFlex.lt-md='80'
                         style='align-self: center'>
                        <mat-checkbox formControlName='embeded'> تبعی</mat-checkbox>
                    </div>

                    <div class='actions' fxFlex='100' fxLayout='row wrap' fxLayoutAlign='space-around center'
                         fxLayoutGap='10px'>
                        <button (click)='openCollaterals()' *ngIf="bigForm.value.hasOwnProperty('collaterals')" color='primary'
                                mat-raised-button>
                            تغییر وثیقه
                        </button>

                        <button (click)='openMarketMaker()' *ngIf="bigForm.value.hasOwnProperty('marketMakers')" color='primary'
                                mat-raised-button>
                            تغییر بازارگردان
                        </button>

                        <button (click)='openUnderWriter()' *ngIf="bigForm.value.hasOwnProperty('underwriters')" color='primary'
                                mat-raised-button>
                            تغییر پذیره نویس
                        </button>

                        <button (click)='openGuarantors()' *ngIf="bigForm.value.hasOwnProperty('guarantors')" color='primary'
                                mat-raised-button>
                            تغییر ضامن
                        </button>

                        <button (click)='openDates()' color='primary' mat-raised-button>تاریخ شروع و پایان پذیره نویسی
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
