.h-100-p {
    height: 100%;
}

.gl-back-container {
    width: 100%;
    height: 100%;
    user-select: none;
}

.page-content {
    height: calc(100vh - 165px - 40px);
}

.gl-tree-container {
    position: relative;
    padding: 0 10px 10px;
    width: 100%;
    height: 100%;

    .tree-parent {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .table-header {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            border-bottom: 1px solid gray;
            margin-top: 10px;

            .header-item {
                text-align: center;
                padding: 12px;
            }
        }

        .table-body {
            width: 100%;
            display: flex;
            height: calc(100% - 40px);
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            overflow-y: scroll;

            .table-row {
                text-align: center;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                .copy {
                    cursor: pointer;

                    &:hover {
                        opacity: 0.5;
                    }

                    &:active {
                        opacity: 0.2;
                    }
                }

                .table-item {
                    height: 50px;
                    border-bottom: 1px solid rgba(60, 66, 82, 0.39);
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    direction: ltr;
                    opacity: 1;
                    transition: all ease 300ms;

                    mat-icon {
                        transition: all ease 300ms;
                    }
                }
            }
        }
    }
}
