<div class='dialog-content-wrapper' dir='rtl'>
    <mat-toolbar class='mat-accent m-0' matDialogTitle>
        <mat-toolbar-row fxLayout='row' fxLayoutAlign='space-between center'>
            <span class='title dialog-title'>افزودن وثیقه</span>
            <button (click)='matDialogRef.close()' mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class='p-24 pb-0 m-0' fusePerfectScrollbar mat-dialog-content>
        <app-table [columns]='column' [data]='data' [paginationSettings]="{ mode: 'local' }"></app-table>
        <ng-container *ngIf='data?.length === 0'>
            <div
                style='display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column'>
                <img alt='no data' height='140px' src='../../../../../assets/images/no-data.svg' width='140px' />
                <div style='font-size: 13px; color: #449fdb; margin-top: 7px'>موردی وجود ندارد</div>
            </div>
        </ng-container>

        <form [formGroup]='collateralForm' class='form' fxLayout='row wrap' fxLayoutAlign='space-between center'>
            <div fxFlex='49'>
                <mat-form-field appearance='outline' fxFlex>
                    <mat-label>نام</mat-label>
                    <input formControlName='name' matInput required />
                </mat-form-field>
            </div>

            <div fxFlex='49'>
                <mat-form-field appearance='outline'>
                    <mat-select formControlName='collateralTypeId' placeholder='نوع وثیقه'>
                        <mat-option *ngFor='let c of collateralTypes' [value]='c?.id' style='text-align: right'>
                            {{ c?.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error> وارد کردن این فیلد الزامی است.</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex='49'>
                <mat-form-field appearance='outline' fxFlex>
                    <mat-label>ارزش</mat-label>
                    <input formControlName='amount' matInput required type='number' />
                </mat-form-field>
            </div>

            <div fxFlex='49' fxLayout='row wrap' fxLayoutAlign='center center'>
                <button (click)='addCollate()' *ngIf='selectedCollateral == null' [disabled]='collateralForm.invalid'
                        color='primary' mat-button>
                    <mat-icon class='mat-18'>add_circle</mat-icon>
                    افزودن
                </button>

                <button (click)='edit()' *ngIf='selectedCollateral != null' [disabled]='collateralForm.invalid'
                        color='primary' mat-button>
                    <mat-icon class='mat-18'>create</mat-icon>
                    اصلاح
                </button>

                <button (click)='clear()' *ngIf='selectedCollateral != null' color='warn' mat-button>
                    <mat-icon class='mat-18'>clear</mat-icon>
                    برگشت
                </button>
            </div>
        </form>
    </div>
</div>
