<div class="dialog-content-wrapper" dir="rtl" [ngClass]="{ 'red-border': redBorder && fg.value.operators.length == 0 }">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title"> تنظیمات مرحله‌ی نهایی </span>

            <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">


                <button mat-icon-button (click)="send()">
                    <mat-icon class="mat-18"> save</mat-icon>
                </button>

                <button mat-icon-button (click)="closeThisDialog()">
                    <mat-icon> close</mat-icon>
                </button>
            </div>


        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form class="container" [formGroup]="fg" dir="rtl">
            <div fxLayout="row" fxLayoutAlign="space-between start" cdkDropListGroup style="width: 100%; height: 100%">

                <app-search-select [searchFn]="searchOperators"
                                   formControlName="operators"
                                   [list]="operatorList"
                                   valuePropertyName="id"
                                   label="دسترسی"
                                   [uiPropertyName]="['firstName' , 'lastName']"
                                   [multi]="true"
                                   style="width: 312px;padding-top: 25px!important;">
                </app-search-select>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center"></div>
</div>
