<div class="page-layout">

    <!-- HEADER -->
    <app-header pageTitle="لیست بازارهای بورسی">

        <button mat-raised-button
                (click)="add()"
                color="primary">
            <mat-icon>add</mat-icon>
            ایجاد
        </button>

    </app-header>

    <div class="page-content">
        <div class="setting-container-back" dir="rtl">
            <div class="setting-panel fuse-card">
                <div style="width: 100%;">
                    <mat-table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نام</mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <p class="email text-truncate">
                                    {{element?.name}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="code">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>کد</mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <p class="email text-truncate">
                                    {{element?.code}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="operation">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>عملیات</mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <button (click)="edit(element)" style="margin-left: 10px" mat-button color="accent">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button (click)="delete(element)" mat-button color="warn">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row style="top: -12px!important;"
                                        *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple
                                 [@animate]="{value:'*',params:{y:'100%'}}">
                        </mat-row>
                    </mat-table>
                    <!--            <app-paginator [data]="bourseMarket.pageEvent" (page)="pageHandler($event)"-->
                    <!--                           [pageSizeOptions]="[5, 10, 13]"></app-paginator>-->
                    <ng-container *ngIf="dataSource.data.length===0">
                        <div
                            style="display: flex;align-items: center;justify-content: center;padding: 30px;flex-direction: column">
                            <img width="140px" height="140px" src="./assets/images/no-data.svg">
                            <div style="font-size: 13px;color: #449FDB;margin-top: 7px">
                                موردی وجود ندارد
                            </div>
                        </div>
                    </ng-container>
                    <!--            <div class="add-btn">-->
                    <!--                <button (click)="add()" mat-raised-button color="primary">-->
                    <!--                    <mat-icon>add</mat-icon>-->
                    <!--                    ایجاد-->
                    <!--                </button>-->
                    <!--            </div>-->
                </div>
            </div>
        </div>
    </div>
</div>