<div class="page-layout">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    هشدار‌ها
                </span>
            </div>
        </div>
        <!-- / APP TITLE -->

    </div>


    <div class="alarm-container">
        <div class="fuse-card" dir="rtl">
            <div class="grid-container">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>وضعیت</th>
                        <td mat-cell *matCellDef="let element">
                        <span appBadge [type]="element?.status">
                        {{element.status| readStatus}}
                        </span>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> عنوان</th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="priority">
                        <th mat-header-cell *matHeaderCellDef> اولویت</th>
                        <td mat-cell *matCellDef="let element">
                        <span appBadge [type]="element.priority">
                            {{element.priority | priority}}
                        </span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="remindDate">
                        <th mat-header-cell *matHeaderCellDef> تاریخ یادآوری</th>
                        <td mat-cell *matCellDef="let element"> {{element?.reminderDate | convertDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="operation">
                        <th class="operation-header" mat-header-cell *matHeaderCellDef>
                            عملیات
                        </th>
                        <td mat-cell *matCellDef="let element" class="operation-body">
                            <button (click)="createReminder(element)"
                                    mat-raised-button
                                    [color]="'warn'">
                                <mat-icon>notifications_active</mat-icon>
                                یادآوری
                            </button>
                            <button (click)="openAlarm(element)"
                                    mat-raised-button
                                    color="accent">
                                <mat-icon>visibility</mat-icon>
                                جزئیات
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>
