.date-show {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    padding: 5px 30px;

    span {
        padding: 10px;
        color: white;
        background-color: #4b7fee;
        border-radius: 8px;
    }
}
