<div class="contract-form-container">
    <div class="contract-form-header">
        اطلاعات پایه قرارداد
    </div>
    <form [formGroup]="form" class="contract-form-body" dir="rtl">
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>نوع قرارداد</mat-label>
                <input formControlName="type" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>شماره قرارداد</mat-label>
                <input formControlName="contractNumber" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>طرف قرارداد</mat-label>
                <input formControlName="conterpartyName" matInput>
            </mat-form-field>
        </div>
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>کد دفتر کل طرف قرارداد</mat-label>
                <input formControlName="counterpartyGICode" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>نام قرارداد</mat-label>
                <input formControlName="contractName" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>تاریخ تنظیم</mat-label>
                <input (click)="start1.open()" matInput formControlName="settingDate"
                       [matDatepicker]="start1">
                <mat-datepicker-toggle matSuffix [for]="start1"></mat-datepicker-toggle>
                <mat-datepicker #start1></mat-datepicker>
                <mat-error>
                    وارد کردن این فیلد الزامی است.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>تاریخ امضا</mat-label>
                <input (click)="start2.open()" matInput formControlName="signatureDate"
                       [matDatepicker]="start2">
                <mat-datepicker-toggle matSuffix [for]="start2"></mat-datepicker-toggle>
                <mat-datepicker #start2></mat-datepicker>
                <mat-error>
                    وارد کردن این فیلد الزامی است.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>تاریخ شروع</mat-label>
                <input (click)="start3.open()" matInput formControlName="beginningDate"
                       [matDatepicker]="start3"
                >
                <mat-datepicker-toggle matSuffix [for]="start3"></mat-datepicker-toggle>
                <mat-datepicker #start3></mat-datepicker>
                <mat-error>
                    وارد کردن این فیلد الزامی است.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>تاریخ اتمام</mat-label>
                <input (click)="start4.open()" matInput formControlName="endingDate"
                       [matDatepicker]="start4"
                >
                <mat-datepicker-toggle matSuffix [for]="start4"></mat-datepicker-toggle>
                <mat-datepicker #start4></mat-datepicker>
                <mat-error>
                    وارد کردن این فیلد الزامی است.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>مدت (ماه)</mat-label>
                <input formControlName="periodMonth" type="number" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>نرخ مالیات بر ارزش افزوده</mat-label>
                <input formControlName="valueAddedTaxRate" type="number" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>نرخ مالیات تکلیفی</mat-label>
                <input formControlName="mandatoryTaxRate" type="number" matInput>
            </mat-form-field>
        </div>
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>شماره حساب واریز کارمزدها</mat-label>
                <input formControlName="feesPaymentsBankAccounts" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>بانک واریز کارمزدها</mat-label>
                <mat-select
                    formControlName="bankFeesPaymentAccounts">
                    <mat-option style="text-align: right" [value]="s?.id"
                                *ngFor="let s of banks">
                        {{s?.name}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    وارد کردن این فیلد الزامی است.
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>شعبه واریز کارمزدها</mat-label>
                <mat-select
                    formControlName="branchPayment">
                    <mat-option style="text-align: right" [value]="s?.id"
                                *ngFor="let s of bankBranches">
                        {{s?.branchName}}
                        <span style="font-size: 12px;color: #9ea1a9">{{s.bankName}}</span>
                    </mat-option>
                </mat-select>
                <mat-error>
                    وارد کردن این فیلد الزامی است.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>الحاقیه/متمم</mat-label>
                <input formControlName="annex" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>شماره قرارداد اصلی</mat-label>
                <input formControlName="originalContractNumber" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>شماره الحاقیه/متمم</mat-label>
                <input formControlName="annexNumber" matInput>
            </mat-form-field>
        </div>
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>شرح دلیل الحاقیه/متمم</mat-label>
                <textarea formControlName="annexReason" matInput></textarea>
            </mat-form-field>
        </div>
    </form>
</div>