<mat-card class="h-full w-full p-0" *ngIf="stateType === 'PRESENT'">
    <mat-card-header class="w-full bg-blue-900 m-0 py-3.5">
        <div class="w-full flex justify-between items-center px-5 w-full">
            <h2 class="font-bold text-white">فرم قرارداد</h2>

            <button
                mat-icon-button
                class="text-white"
                (click)="changeContractStatus(cardboardInfo.status === 'in progress')"
                [matTooltip]="cardboardInfo.status === 'in progress' ? 'متوقف کردن قرارداد' : 'بازگشایی قرارداد'"
            >
                <mat-icon>{{ cardboardInfo.status === 'in progress' ? 'pause_circle' : 'play_arrow' }}</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="flex flex-col px-2">
        <div class="flex justify-evenly mt-80 mb-32">
            <button
                *ngFor="let button of cardboardInfo.form"
                mat-flat-button
                [color]="button.type === 'accept' ? 'primary' : button.type === 'reject' ? 'warn' : 'accent'"
                (click)="onButtonClick(button.type)"
            >
                {{ button.name }}
            </button>
        </div>
    </mat-card-content>
</mat-card>
