<mat-card class="h-full w-full p-0" *ngIf="stateType === 'PRESENT'">
    <mat-card-header class="w-full bg-blue-900 m-0 py-3.5">
        <div class="w-full flex justify-between items-center px-5 w-full">
            <h2 class="font-bold text-white">فرم قرارداد</h2>

            <button
                mat-icon-button
                color="accent"
                (click)="changeContractStatus(cardboardInfo.status === 'in progress')"
                [matTooltip]="cardboardInfo.status === 'in progress' ? 'متوقف کردن قرارداد' : 'بازگشایی قرارداد'"
            >
                <mat-icon>{{ cardboardInfo.status === 'in progress' ? 'pause_circle' : 'play_arrow' }}</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="flex h-1/2 flex-col justify-center px-2">
        <div class="flex justify-evenly">
            <button
                mat-flat-button
                *ngFor="let button of cardboardInfo.form"
                [matTooltip]="button.name"
                [color]="button.type === 'accept' ? 'primary' : button.type === 'reject' ? 'warn' : 'accent'"
                (click)="onButtonClick(button.type)"
            >
                {{ button.name }}
            </button>
        </div>
    </mat-card-content>
    <mat-card-footer class="text-center mb-2 flex flex-col">
        <div class="flex justify-center items-center">
            <mat-icon fontSet="material-icons-outlined" class="mx-2 cursor-default">help_outline</mat-icon>
            <p>
                این فرم، همان فرمی است که در هنگام ساخت
                <strong>BPMN</strong>
                این قرارداد،
                <strong>به این گام</strong>
                افزوده‌اید.
            </p>
        </div>
    </mat-card-footer>
</mat-card>
