<div class="page-layout">
    <app-header pageTitle="جریان قرارداد" class="wp-100">
        <button mat-stroked-button (click)="openFlowDialog('create')">
            <mat-icon class="mat-18">add</mat-icon>
            افزودن جریان جدید
        </button>
    </app-header>

    <div class="fuse-card m-40 p-40">
        <h1 class="wp-100 text-center mb-20">فهرست نوع قراردادها</h1>
        <div class="container fuse-card">
            <app-table
                [data]="flows"
                [columns]="tableColumn"
                [paginationSettings]="{ mode: 'backend' }"
                [paginationObject]="pagination"
                (paginationEvent)="paginationControl($event)"
            ></app-table>
        </div>
    </div>
</div>
