<div class='page-layout'>
    <app-header pageTitle='صفحه‌ی ۲ تست'>
        <div subtitle>
            در این صفحه ویژگی‌های جدید تست می‌شود.
        </div>
        <div>
            <button color='primary' mat-raised-button routerLink='/test/list'>
                بازگشت
            </button>
        </div>
    </app-header>

    <div class='page-content'>
        <div class='show-case-container' fxLayout='row wrap' fxLayoutAlign='center'>
            <div class='fuse-card select-card' fxFlex='40'>

                <!--      COMPONENT      -->

                <app-pie-chart [cardLayout]='cf.value.cardLayout'
                               [chartName]='cf.value.chartName'
                               [data]='data'
                               [height]='cf.value.height'
                               [showLabel]='cf.value.showLabel'>
                </app-pie-chart>

            </div>

            <!--      CONTROLLERS      -->
            <div class='fuse-card' fxFlex='40'>
                <h2>
                    متغیرها
                </h2>

                <div [formGroup]='cf' dir='rtl' fxLayout='row wrap' fxLayoutAlign='start start' fxLayoutGap='20px'
                     style='margin-bottom: 30px'>
                    <mat-form-field appearance='outline' fxFlex='200px'>
                        <mat-label>
                            نام چارت
                        </mat-label>
                        <input [disabled]='!cf.value.cardLayout'
                               formControlName='chartName'
                               matInput
                               placeholder='نام چارت'>
                    </mat-form-field>

                    <mat-form-field appearance='outline' fxFlex='200px'>
                        <mat-label>
                            ارتفاع
                        </mat-label>
                        <input formControlName='height'
                               matInput
                               placeholder='ارتفاع'>
                    </mat-form-field>

                    <mat-checkbox (change)='cf.controls.cardLayout.setValue(!cf.value.cardLayout)' fxFlex='200px'>
                        کارت
                    </mat-checkbox>

                </div>

                <mat-divider></mat-divider>

                <div dir='rtl' fxLayout='row wrap' fxLayoutAlign='start start' fxLayoutGap='20px'
                     style='margin-top: 30px'>
                    <button (click)='changeDate()' color='primary' mat-raised-button>
                        تغییر داده
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>