<div class="page-layout">
    <app-header pageTitle="تغییرات خلاصه‌ی دفتر">
        <div>
            <button
                mat-raised-button
                [color]="searchCollapse && !(!dataToShow || dataToShow.length == 0) ? '' : 'primary'"
                (click)="searchCollapse = !searchCollapse"
                style="padding: 3px 8px 0 8px !important; min-width: unset"
            >
                <mat-icon class="mat-18">search</mat-icon>
            </button>
        </div>
    </app-header>

    <div class="page-content">
        <div class="gl-back-container" dir="rtl">
            <!--    Search Section    -->
            <div class="fuse-card" *ngIf="searchCollapse || !dataToShow || dataToShow.length === 0" style="margin-bottom: 10px" [@expandCollapse]>
                <form [formGroup]="form">
                    <div class="contract-form-row-4">
                        <mat-form-field appearance="outline">
                            <mat-label>
                                تاریخ دفتر کل ابتدا
                                <span style="color: red">*</span>
                            </mat-label>
                            <input (click)="start3.open()" matInput formControlName="fromDate" [matDatepicker]="start3" />
                            <mat-datepicker-toggle matSuffix [for]="start3"></mat-datepicker-toggle>
                            <mat-datepicker #start3></mat-datepicker>
                            <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>
                                تاریخ دفتر کل انتها
                                <span style="color: red">*</span>
                            </mat-label>
                            <input (click)="start1.open()" matInput formControlName="toDate" [matDatepicker]="start1" />
                            <mat-datepicker-toggle matSuffix [for]="start1"></mat-datepicker-toggle>
                            <mat-datepicker #start1></mat-datepicker>
                            <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>
                                سطح ۰
                                <span style="color: red">*</span>
                            </mat-label>
                            <mat-select formControlName="categoryCode" multiple>
                                <mat-select-trigger>
                                    <span *ngIf="form.value['categoryCode']?.length > 0">
                                        (+
                                        {{ form.value['categoryCode']?.length }}
                                        مورد)
                                    </span>
                                </mat-select-trigger>

                                <mat-option style="text-align: right" *ngFor="let c of glCategories" [value]="c?.categoryLedgerCode">
                                    {{ c?.categoryLedgerCode }}
                                    <span style="color: #9ea1a9; font-size: 12px">
                                        {{ c?.categoryLedgerName }}
                                    </span>
                                </mat-option>
                            </mat-select>
                            <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label> سطح ۱ </mat-label>
                            <mat-select formControlName="groupCode" [disabled]="!form.value.categoryCode" multiple>
                                <mat-select-trigger>
                                    <span *ngIf="form.value['groupCode']?.length > 0">
                                        (+
                                        {{ form.value['groupCode']?.length }}
                                        مورد)
                                    </span>
                                </mat-select-trigger>

                                <mat-option style="text-align: right" *ngFor="let gr of glGroups" [value]="gr?.groupLedgerCode">
                                    {{ gr?.groupLedgerCode }}
                                    <span style="color: #9ea1a9; font-size: 12px">{{ gr?.groupLedgerName }}</span>
                                </mat-option>
                            </mat-select>
                            <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="tow-column">
                        <mat-form-field appearance="outline" fxFlex="21">
                            <mat-label> سطح ۲ </mat-label>

                            <mat-select formControlName="generalCode" [disabled]="!form.value.groupCode" multiple>
                                <mat-select-trigger>
                                    <span *ngIf="form.value['generalCode']?.length > 0">
                                        (+
                                        {{ form.value['generalCode']?.length }}
                                        مورد)
                                    </span>
                                </mat-select-trigger>

                                <mat-option style="text-align: right" *ngFor="let ge of glGeneral" [value]="ge?.generalLedgerCode">
                                    {{ ge?.generalLedgerCode }}
                                    <span style="color: #9ea1a9; font-size: 12px">{{ ge?.generalLedgerName }}</span>
                                </mat-option>
                            </mat-select>
                            <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="71" appearance="outline">
                            <mat-label>
                                انتخاب نوع نمایش
                                <span style="color: red">*</span>
                            </mat-label>
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let st of showTypes" [selectable]="selectable" [removable]="removable" (removed)="remove(st)">
                                    {{ st }}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input
                                    #showTypeInput
                                    [formControl]="showTypeCtl"
                                    [matAutocomplete]="auto"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="add($event)"
                                />
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let f of filteredShowTypes | async" [value]="f">
                                    {{ f }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="contract-form-row-4">
                        <mat-form-field appearance="outline">
                            <mat-label> درصد تغییر مانده کوچک‌تر از </mat-label>
                            <input type="number" matInput formControlName="fromPercent" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label> درصد تغییر مانده بزرگ‌تر از </mat-label>
                            <input type="number" matInput formControlName="toPercent" />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label> مبلغ تغییر مانده کوچک‌تر از </mat-label>
                            <input type="number" matInput formControlName="fromValue" />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label> مبلغ تغییر مانده بزرگ‌تر از </mat-label>
                            <input type="number" matInput formControlName="toValue" />
                        </mat-form-field>
                    </div>
                    <div class="m-12">
                        <button (click)="submitData()" [disabled]="form.invalid" color="accent" mat-raised-button>
                            <mat-icon>trending_up</mat-icon>
                            نمایش
                        </button>
                    </div>
                </form>
            </div>

            <div class="fuse-card" *ngIf="dataToShow && dataToShow.length !== 0">
                <!--    Table    -->
                <app-table [data]="dataToShow" [columns]="columns"> </app-table>
            </div>
        </div>
    </div>
</div>
