.form-setting-detail {
    direction: rtl;
    padding: 15px;

    .row {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .column {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-basis: 30%;

            strong {
                color: #106cc8;
                margin-left: 50px;
            }

            span {
            }
        }
    }
}
