<div class="dialog-content-wrapper" dir="rtl" [ngClass]="{ 'red-border': redBorder && this.operatorsFormControl.value.length == 0 }">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title"> تنظیمات {{data?.stateName}} </span>

            <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center center">

                <app-search-select [searchFn]="searchOperators"
                                   [formControl]="operatorsFormControl"
                                   [list]="operatorList"
                                   valuePropertyName="id"
                                   label="دسترسی"
                                   [uiPropertyName]="['firstName' , 'lastName']"
                                   [multi]="true"
                                   style="width: 312px;padding-top: 25px!important;">
                </app-search-select>

                <button mat-icon-button (click)="send()">
                    <mat-icon class="mat-18"> save</mat-icon>
                </button>

                <button mat-icon-button (click)="closeThisDialog()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>


        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <form class="container" [formGroup]="formGroup" dir="rtl">
            <div fxLayout="row" fxLayoutAlign="space-between start" cdkDropListGroup style="width: 100%; height: 100%">
                <div fxFlex="19" class="fuse-card" style="height: 100%">
                    <div class="drag-container">
                        <div class="section-heading">
                            <h3>ابزار</h3>
                        </div>
                        <mat-divider></mat-divider>
                        <div
                            cdkDropList
                            fxLayout="row wrap"
                            fxLayoutAlign="center center"
                            [id]="'Base'"
                            [cdkDropListData]="todo"
                            [cdkDropListSortingDisabled]="true"
                            class="horizontal-item-list"
                        >
                            <div class="item-box fuse-card" fxFlex="100px" *ngFor="let item of todo" style="width: 100px" cdkDrag>
                                <mat-icon style="width: 60px; height: 60px; font-size: 60px">
                                    {{ item.icon }}
                                </mat-icon>
                                {{ item.name }}
                            </div>
                        </div>
                    </div>
                </div>

                <mat-tab-group fxFlex="79" class="fuse-card" style="height: 100%" (selectedTabChange)="onTabChanged($event)">
                    <mat-tab label="فرم ساز">
                        <div *ngFor="let form of Forms; let i = index" style="margin: 10px">
                            <div fxLayout="column" class="fuse-card form-body">
                                <div class="drag-container" fxFlex="100">
                                    <div class="section-heading section-header-form">
                                        <mat-form-field appearance="fill">
                                            <mat-label>نام</mat-label>
                                            <input [name]="form.formGroup" [formControl]="formGroup.controls[i].controls['name']" matInput/>
                                        </mat-form-field>

                                        <button mat-icon-button color="primary" (click)="delete(i)">
                                            <mat-icon class="mat-18">cancel</mat-icon>
                                        </button>
                                    </div>

                                    <mat-divider></mat-divider>

                                    <div
                                        cdkDropList
                                        [id]="i"
                                        cdkDropListOrientation="horizontal"
                                        [cdkDropListData]="form.Value"
                                        class="horizontal-item-list"
                                        (cdkDropListDropped)="drop($event)"
                                        style="display: flex; flex-wrap: wrap; min-height: 200px; justify-content: start"
                                        [ngStyle]="{ gap: form.Value.length ? '35px 40px' : null }"
                                    >
                                        <div class="item-box fuse-card" *ngFor="let item of form.Value; let j = index" cdkDrag>
                                            <div class="form-options" *ngIf="item.type != 'button'">
                                                <!-- <div> {{item.type}}</div> -->

                                                <mat-icon>{{ item.icon }}</mat-icon>
                                                <mat-form-field style="flex-basis: 20%; margin-left: 10px" appearance="outline">
                                                    <input
                                                        matInput
                                                        class="form-field"
                                                        [formControl]="formGroup?.controls[i]?.controls['Value']?.controls[j].controls['placeholder']"
                                                        placeholder="تیترفورم"
                                                    />
                                                </mat-form-field>
                                                <mat-form-field style="flex-basis: 20%; margin-left: 10px" appearance="outline">
                                                    <input
                                                        matInput
                                                        class="form-field"
                                                        [formControl]="formGroup?.controls[i]?.controls['Value']?.controls[j].controls['Value']"
                                                        placeholder="مقدار پیشفرض"
                                                    />
                                                </mat-form-field>
                                            </div>

                                            <div class="form-options" *ngIf="item.type == 'button'" dir="rtl">

                                                <button mat-icon-button color="primary" class="delete-button" (click)="deleteItem(i,j)">
                                                    <mat-icon class="mat-18">cancel</mat-icon>
                                                </button>

                                                <mat-icon>{{ item.icon }}</mat-icon>

                                                <mat-form-field style="flex-basis: 20%; margin-left: 10px" appearance="outline">
                                                    <mat-label>نوشته ی داخل دکمه</mat-label>
                                                    <input
                                                        [formControl]="formGroup?.controls[i]?.controls['Value']?.controls[j].controls['Value']"
                                                        matInput
                                                    />
                                                </mat-form-field>

                                                <mat-form-field style="flex-basis: 20%; margin-left: 10px" appearance="outline">
                                                    <mat-label>نوع</mat-label>
                                                    <mat-select [formControl]="formGroup?.controls[i]?.controls['Value']?.controls[j].controls['acction']">
                                                        2
                                                        <mat-option [value]="1">آپلود</mat-option>
                                                        <mat-option [value]="2">دانلود</mat-option>
                                                        <mat-option [value]="3">تایید</mat-option>
                                                        <mat-option [value]="4">رد</mat-option>
                                                        <mat-option [value]="5">گرفتن کد</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="actionBtn">
                                <button mat-icon-button (click)="add(i + 1)">
                                    <mat-icon class="mat-18">add_box</mat-icon>
                                </button>
                            </div>
                        </div>

                        <div class="actionBtn" *ngIf="Forms.length == 0">
                            <button mat-icon-button (click)="add(0)">
                                <mat-icon class="mat-18">add_box</mat-icon>
                            </button>
                        </div>
                    </mat-tab>
                    <mat-tab label="نتیجه">
                        <div *ngFor="let form of Forms; let i = index" class="result-form fuse-card">
                            <div class="header">
                                <h2>
                                    {{ form.name }}
                                </h2>
                            </div>

                            <mat-divider></mat-divider>

                            <div class="body" dir="rtl" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-around center">
                                <div *ngFor="let item of form.Value; let j = index" fxFlex="20" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
                                    <div *ngIf="item.type == 'text'">
                                        <mat-form-field appearance="outline" style="width: 100%">
                                            <mat-label>{{ item.placeholder }}</mat-label>
                                            <input
                                                matInput
                                                [formControl]="formGroup?.controls[i]?.controls['Value']?.controls[j].controls['Value']"
                                            />
                                        </mat-form-field>
                                    </div>

                                    <div *ngIf="item.type == 'button'">
                                        <button mat-raised-button color="accent" *ngIf="item.acction == 3">
                                            {{ item.Value }}
                                        </button>
                                        <button mat-raised-button color="warn" *ngIf="item.acction == 4">
                                            {{ item.Value }}
                                        </button>
                                        <button mat-raised-button color="primary" *ngIf="item.acction == 2">
                                            {{ item.Value }}
                                        </button>
                                        <button mat-raised-button color="primary" *ngIf="item.acction == 1">
                                            {{ item.Value }}
                                        </button>
                                        <button mat-raised-button color="accent" *ngIf="item.acction == 5">
                                            {{ item.Value }}
                                        </button>
                                    </div>

                                    <div *ngIf="item.type == 'date'">
                                        <mat-form-field class="full-wid" appearance="outline">
                                            <mat-label>{{ item.placeholder }} </mat-label>
                                            <input
                                                (click)="start1.open()"
                                                matInput
                                                [formControl]="formGroup?.controls[i]?.controls['Value']?.controls[j].controls['Value']"
                                                [matDatepicker]="start1"
                                                required
                                            />
                                            <mat-datepicker-toggle matSuffix [for]="start1"></mat-datepicker-toggle>
                                            <mat-datepicker #start1></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div *ngIf="form.Value.length == 0">
                                    <p class="text-center">چیزی وجود ندارد.</p>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center"></div>
</div>
