@import 'src/@fuse/scss/fuse';
@import '~app/layout/styles/variables';

.actionBtn {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

h4 {
    display: inline-block;
}

mat-card-title {
    display: inline-block;
}

:host {
    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        // width: 400px;
    }
}

form {
    height: 100%;
}

.mat-dialog-container {
    padding: 0;

    .mat-toolbar {
        flex: 1 0 auto;
        min-height: initial;
    }

    .toolbar-bottom {
        height: auto;
    }
}

.toolbar-bottom.py-16 {
    justify-content: center;
}

.save-button {
    width: 100%;
    height: 50px;
}

:host ::ng-deep {
    .mat-dialog-container {
        padding: 0 !important;
    }

    .cdk-drag-placeholder {
        opacity: 0;
        // display:none;
    }

    .mat-dialog-content {
        height: 65vh;
    }
}

:host ::ng-deep {
    .mat-tab-body-wrapper {
        max-height: 55vh !important;
    }

    .dialog-content-wrapper {
        width: 75vw;
        max-height: 85vh;
        display: flex;
        flex-direction: column;
        border: 2px solid transparent;
        transition: 200ms ease-in-out border;

        .form {
            width: 100%;

            .mat-form-field {
                width: 100%;
            }
        }
    }

    .mat-toolbar-row {
        display: flex;
        justify-content: space-between;
    }

    .mat-toolbar {
        // height: 150px;
        display: flex;
        justify-content: space-between;
    }
}

::ng-deep .mat-input-underline {
    display: none;
}

::ng-deep .no-line .mat-form-field-underline {
    display: none;
}

.delete-icon {
    padding: 2px;
    // box-shadow: 0 0 8px 0px #f00;
}

.form-options {
    display: flex;
    flex-direction: column;
}

.container {
    direction: rtl;
}

.drag-container {
    flex-direction: column;
    display: flex;
    vertical-align: top;
}

// .item-list {
//     min-height: 60px;
//     border-radius: 4px;
//     display: block;
//     direction: ltr;
// }

.horizontal-item-list {
    /* width: 1000px; */
    padding: 10px;
    max-width: 100%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* direction: ltr; */
}

.item-box {
    padding: 8px 10px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;

    .delete-button {
        position: absolute;
        top: 4px;
        left: 4px;
    }
}

.form-body {
    min-height: 340px;
}

.result-form {
    margin: 10px 20px;

    .header {
        margin-bottom: 10px;
        padding: 0 10px;
    }

    .body {
        padding: 10px;
    }
}

.section-heading {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;

    h3 {
        margin: 0;
        padding: 0;
        display: inline-flex;
        text-align: center;
        line-height: 50px;
    }

    .section-header {
        font-size: 16px;
        text-align: center;
        height: 50px;
    }

    button {
        margin: auto 0;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: $box-shadow-1;
    animation: box-shadow-animation-rise 500ms ease;
}

@keyframes box-shadow-animation-rise {
    0% {
        box-shadow: unset;
    }
    100% {
        box-shadow: $box-shadow-1;
    }
}

@keyframes box-shadow-animation-fall {
    0% {
        box-shadow: $box-shadow-1;
    }
    100% {
        box-shadow: unset;
    }
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.horizontal-item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.red-border {
    border: 2px solid red;
}
