<form #myForm="ngForm" [formGroup]="feeAndPettyForm" class="contract-form-container">
    <div class="contract-form-header">فرم ایجاد کارمزد و تنخواه بازارگردانی</div>
    <div class="contract-form-body" dir="rtl">
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label
                    >نوع
                    <span style="color: red">*</span>
                </mat-label>
                <mat-select formControlName="type">
                    <mat-option [value]="s.key" *ngFor="let s of feeMap | keyvalue">
                        {{ s.value }}
                    </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label
                    >تاریخ قراردادی دریافت کارمزد
                    <span style="color: red">*</span>
                </mat-label>
                <input (click)="start3.open()" matInput formControlName="contractDate" [matDatepicker]="start3" />
                <mat-datepicker-toggle matSuffix [for]="start3"></mat-datepicker-toggle>
                <mat-datepicker #start3></mat-datepicker>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label
                    >مبلغ کارمزد
                    <span style="color: red">*</span>
                </mat-label>
                <input type="number" formControlName="feeAmount" matInput />
            </mat-form-field>
        </div>
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label
                    >تاریخ واقعی دریافت کارمزد
                    <span style="color: red">*</span>
                </mat-label>
                <input (click)="start2.open()" matInput formControlName="realDate" [matDatepicker]="start2" />
                <mat-datepicker-toggle matSuffix [for]="start2"></mat-datepicker-toggle>
                <mat-datepicker #start2></mat-datepicker>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label
                    >نوع
                    <span style="color: red">*</span>
                </mat-label>
                <mat-select formControlName="documentType">
                    <mat-option [value]="s.key" *ngFor="let s of documentType | keyvalue">
                        {{ s.value }}
                    </mat-option>
                </mat-select>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label
                    >شرح سند دریافتی کارمزد
                    <span style="color: red">*</span>
                </mat-label>
                <textarea formControlName="description" matInput></textarea>
            </mat-form-field>
        </div>
        <div class="single-row-btn-container">
            <button
                mat-raised-button
                *ngIf="selectedFeeAndPettyIndex == null"
                [disabled]="feeAndPettyForm.invalid"
                (click)="add()"
                class="save-button"
                [color]="'accent'"
                style="width: 150px; height: 40px"
            >
                <mat-icon> add </mat-icon>
                افزودن
            </button>
            <button
                mat-raised-button
                *ngIf="selectedFeeAndPettyIndex != null"
                [disabled]="feeAndPettyForm.invalid"
                (click)="edit()"
                class="save-button"
                [color]="'accent'"
                style="width: 150px; height: 40px"
            >
                <mat-icon> edit </mat-icon>
                اصلاح
            </button>
            <button mat-raised-button *ngIf="selectedFeeAndPettyIndex != null" (click)="clear()" style="width: 150px; height: 40px; margin-right: 10px">
                <mat-icon> close </mat-icon>
                برگشت
            </button>
        </div>
    </div>
    <div class="form-tab-table-container">
        <mat-table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نوع</mat-header-cell>
                <mat-cell *matCellDef="let feeAndPetty" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ feeMap[feeAndPetty?.type] }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="contractDate">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>تاریخ قراردادی دریافت کارمزد</mat-header-cell>
                <mat-cell *matCellDef="let feeAndPetty" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ feeAndPetty?.contractDate | convertDate }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="feeAmount">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>مبلغ کارمزد</mat-header-cell>
                <mat-cell *matCellDef="let feeAndPetty" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ feeAndPetty?.feeAmount | price }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="realDate">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>تاریخ واقعی دریافت کارمزد</mat-header-cell>
                <mat-cell *matCellDef="let feeAndPetty" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ feeAndPetty?.realDate | convertDate }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="documentType">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نوع</mat-header-cell>
                <mat-cell *matCellDef="let feeAndPetty" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ documentType[feeAndPetty?.documentType] }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>شرح سند</mat-header-cell>
                <mat-cell *matCellDef="let feeAndPetty" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ feeAndPetty?.description }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>عملیات</mat-header-cell>
                <mat-cell *matCellDef="let feeAndPetty; let i = index" fxHide fxShow.gt-sm>
                    <button
                        style="color: white; background-color: orange"
                        class="edit-button"
                        mat-raised-button
                        color="warn"
                        (click)="editFeeAndPetty(feeAndPetty, i)"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button style="margin-right: 10px" mat-raised-button color="warn" (click)="delete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" matRipple [@animate]="{ value: '*', params: { y: '100%' } }"> </mat-row>
        </mat-table>
        <ng-container *ngIf="dataSource.data.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                <img width="140px" height="140px" src="./assets/images/no-data.svg" alt="no data" />
                <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
            </div>
        </ng-container>
    </div>
</form>
