.header {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    align-items: baseline !important;
}

.center {
    padding: 15px 10px;
}

.pie-charts {
    height: 200px;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.fund {
    height: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.fund:hover {
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.selected-fund {
    transition: background-color 0.5s ease;
}

#industryPieChart,
#marketPieChart,
#toolsPieChart {
    direction: ltr;
}

@import 'src/@fuse/scss/fuse';

.search-wrapper {
    width: 100%;
    max-width: 480px;
    border-radius: 28px;
    overflow: hidden;
    @include mat-elevation(1);

    .search {
        width: 100%;
        height: 48px;
        line-height: 48px;
        padding: 0 18px;

        input {
            width: 100%;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
            padding: 0 16px;
            border: none;
            outline: none;
            display: flex;
        }
    }
}

.complianceForm {
    justify-content: space-between;
    display: flex;
    align-items: baseline;

    mat-form-field {
        margin-right: 10px;
    }
}

.container {
    // height: 100%;
    margin: 40px;
    border-radius: 20px;
    // width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content {
    overflow: hidden;
}

:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    direction: rtl;

    .header {
        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);

            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;

                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    ::ng-deep {
        .mat-header-cell {
            justify-content: center;
        }
    }

    #compliances {
        width: 100%;
    }

    .mat-table {
        // margin: 0px 40px 0px 40px;
        border-radius: 20px;
        overflow: scroll;
        height: 39vh;

        .mat-column-title {
            flex: 5;
        }

        .mat-column-code,
        .mat-column-up,
        .mat-column-down,
        .mat-column-currentAmount,
        .mat-column-violationAmount {
            flex: 1;
        }

        .mat-row {
            position: relative;
            cursor: pointer;
            padding: 8px;

            .mat-cell {
                min-width: 0;
                justify-content: center;

                &.mat-column-detail-button {
                    flex: 0 1 auto;
                    padding: 0 24px 0 0;

                    @include media-breakpoint('gt-md') {
                        display: none;
                    }
                }
            }
        }
    }
}

#add-contact-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;

    @include media-breakpoint('xs') {
        position: sticky;
        top: calc(100vh - 120px);
        bottom: auto;
    }
}

.mat-column-addFund {
    max-width: 90px;
}

.mat-column-edit {
    max-width: 90px;
}

.mat-column-code {
    max-width: 90px;
}

.red-background {
    background: #ff000026;
}
