<div class="page-layout simple left-sidebar inner-scroll" dir="rtl"
     style="max-height: calc(100vh - 64px);">

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="simple-left-sidebar-2" position="left" lockedOpen="gt-md">
        <h3 matSubheader style="margin-bottom: 0;padding-bottom: 10px;">
            تحلیل حدود صندوق ها
        </h3>
        <!-- SIDEBAR CONTENT -->
        <div class="content p-24" fusePerfectScrollbar style="padding-top: 0 !important;">
            <div class="demo-sidebar">
                <mat-list [@animate]="{value:'*',params:{y:'100%'}}">
                    <div *ngFor="let fund of fundList" [@animateStagger]="{value:'250'}">
                        <mat-list-item class="fund" [ngClass]="{'selected-fund': fund == selectedFund }"
                                       (click)="select(fund)">
                            <img [src]="fund.imageUrl" style="width: 37px;margin-left: 10px;"
                                 [@animate]="{value:'*',params:{y:'100%'}}">
                            <div style="flex-direction: column;font-size: 12px;">
                                <div>{{fund.fundName}}</div>
                                <div>
                                    {{fund.position}}
                                </div>
                                <div>
                                    {{fund.type}}
                                </div>
                            </div>

                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </div>

                </mat-list>
            </div>

        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar *ngIf="selectedFund.id">

        <!-- HEADER -->
        <div fxLayout="row"
             fxLayoutAlign="space-between center"
             class="fuse-card"
             style="overflow: hidden;margin-bottom: 10px">
            <div fxLayout="row" fxLayoutAlign="center center">
                <img [src]="selectedFund.imageUrl" style="width: 200px;margin-left: 10px;">
                <!-- <h2 class="m-0">{{selectedFund.fundName}}</h2> -->

                <div style="flex-direction: column;">
                    <h2>{{selectedFund.fundName}}</h2>
                    <h4>
                        {{selectedFund.position}}
                    </h4>
                    <h5>
                        {{selectedFund.type}}
                    </h5>
                </div>
            </div>

            <mat-form-field appearance="outline" style="margin-left: 20px;">
                <input matInput [matDatepicker]="picker6" placeholder="انتخاب تاریخ" [formControl]='date'>
                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                <mat-datepicker #picker6></mat-datepicker>
            </mat-form-field>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24 fuse-card" *ngIf="pieChart">
            <div fxLayout=row style="padding-bottom: 20px;">
                <div fxFlex="33" class="pie-charts">
                    <div>صنعت ها</div>
                    <div *ngIf="pieChartLoading; else show1" fxLayout="row" fxLayoutAlign="center center">
                        <img src="./assets/images/charts.svg" style="width: 150px;">
                    </div>
                    <ng-template #show1>
                        <div *ngIf="pieChart.industryPieChart" id="industryPieChart"
                             [@animate]="{value:'*',params:{y:'100%'}}"></div>
                        <img *ngIf="!pieChart.industryPieChart" width="140px" height="140px"
                             style="display: flex;margin: auto;" src="./assets/images/no-data.svg"
                             [@animate]="{value:'*',params:{y:'100%'}}">
                    </ng-template>

                </div>
                <div fxFlex="33" class="pie-charts">
                    <div>بازارها</div>

                    <div *ngIf="pieChartLoading; else show2" fxLayout="row" fxLayoutAlign="center center">
                        <img src="./assets/images/charts.svg" style="width: 150px;">
                    </div>
                    <ng-template #show2>
                        <div *ngIf="pieChart.marketPieChart" id="marketPieChart"
                             [@animate]="{value:'*',params:{y:'100%'}}"></div>
                        <img *ngIf="!pieChart.marketPieChart" width="140px" height="140px"
                             src="./assets/images/no-data.svg" [@animate]="{value:'*',params:{y:'100%'}}"
                             style="display: flex;margin: auto;">
                    </ng-template>


                </div>
                <div fxFlex="33" class="pie-charts">
                    <div>ابزارها</div>
                    <div *ngIf="pieChartLoading; else show3" fxLayout="row" fxLayoutAlign="center center">
                        <img src="./assets/images/charts.svg" style="width: 150px;">
                    </div>
                    <ng-template #show3>
                        <div *ngIf="pieChart.toolsPieChart" id="toolsPieChart"
                             [@animate]="{value:'*',params:{y:'100%'}}"></div>
                        <img *ngIf="!pieChart.toolsPieChart" width="140px" height="140px"
                             src="./assets/images/no-data.svg" [@animate]="{value:'*',params:{y:'100%'}}"
                             style="display: flex;margin: auto;">
                    </ng-template>

                </div>
            </div>
            <div fxLayout=row>
                <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}" id="compliances">

                    <!-- lastName Column -->
                    <ng-container matColumnDef="code">
                        <mat-header-cell *matHeaderCellDef>کد</mat-header-cell>
                        <mat-cell *matCellDef="let compliance">
                            <p class="text-truncate ">{{compliance.code}}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- firstName Column -->
                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نام</mat-header-cell>
                        <mat-cell *matCellDef="let compliance" fxHide fxShow.gt-sm>
                            <p class="email text-truncate">
                                {{compliance.title}}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="up">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>حد بالا</mat-header-cell>
                        <mat-cell *matCellDef="let compliance" fxHide fxShow.gt-sm>
                            <p class="email text-truncate">
                                {{compliance.up}}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="down">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>حد پایین</mat-header-cell>
                        <mat-cell *matCellDef="let compliance" fxHide fxShow.gt-sm>
                            <p class="email text-truncate">
                                {{compliance.down}}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="currentAmount">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>مقدار فعلی</mat-header-cell>
                        <mat-cell *matCellDef="let compliance" fxHide fxShow.gt-sm>
                            <p class="email text-truncate">
                                {{compliance.currentAmount}}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="violationAmount">
                        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>مقدار تخطی</mat-header-cell>
                        <mat-cell *matCellDef="let compliance" fxHide fxShow.gt-sm>
                            <p class="email text-truncate">
                                {{compliance.violationAmount}}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple
                             [@animate]="{value:'*',params:{y:'100%'}}" [class.red-background]="row.violationAmount">
                    </mat-row>
                </mat-table>
            </div>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>