<div class="dialog-content-wrapper" dir="rtl">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">ثبت تاریخ شروع و پایان</span>
            <button mat-icon-button (click)="matDialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <mat-table #table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }" class="fuse-card" id="collateralls">
            <!-- firstName Column -->
            <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>تاریخ شروع پذیره نویسی</mat-header-cell>
                <mat-cell *matCellDef="let guarantor" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ guarantor?.startDate | convertDate }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>تاریخ پایان پذیره نویسی</mat-header-cell>
                <mat-cell *matCellDef="let collaterall" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ collaterall.endDate | convertDate }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>عملیات</mat-header-cell>
                <mat-cell *matCellDef="let collaterall; let i = index" fxHide fxShow.gt-sm>
                    <button mat-icon-button color="primary" (click)="editDate(collaterall)">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-icon-button color="warn" (click)="deleteDate(collaterall.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" matRipple [@animate]="{ value: '*', params: { y: '100%' } }"> </mat-row>
        </mat-table>

        <form [formGroup]="DateForm" class="form" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="49">
                <mat-form-field class="full-wid" appearance="outline">
                    <mat-label>تاریخ شروع پذیره نویسی</mat-label>
                    <input (click)="start1.open()" matInput formControlName="startDate" [matDatepicker]="start1" />
                    <mat-datepicker-toggle matSuffix [for]="start1"></mat-datepicker-toggle>
                    <mat-datepicker #start1></mat-datepicker>
                    <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="49">
                <mat-form-field class="full-wid" appearance="outline">
                    <mat-label>تاریخ پایان پذیره نویسی</mat-label>
                    <input
                        (click)="start2.open()"
                        matInput
                        formControlName="endDate"
                        [min]="DateForm.get('startDate').value"
                        [matDatepicker]="start2"
                    />
                    <mat-datepicker-toggle matSuffix [for]="start2"></mat-datepicker-toggle>
                    <mat-datepicker #start2></mat-datepicker>
                    <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
                <button mat-button *ngIf="slectedDate == null" [disabled]="DateForm.invalid" (click)="add()">
                    <mat-icon class="mat-18">add_circle</mat-icon>
                    افزودن
                </button>

                <button mat-button *ngIf="slectedDate != null" [disabled]="DateForm.invalid" (click)="edit()">
                    <mat-icon class="mat-18">create</mat-icon>
                    اصلاح
                </button>

                <button mat-button *ngIf="slectedDate != null" (click)="clear()">
                    <mat-icon class="mat-18">clear</mat-icon>
                    انصراف
                </button>
            </div>
        </form>
    </div>
</div>
