<div class='page-layout'>
    <app-header pageTitle='ریز معاملات'>
        <div subtitle>تا تاریخ {{ this.persianDate }}</div>
        <div>
            <button color='primary' mat-raised-button routerLink='../../../..'>دفتر معاملات</button>
        </div>
    </app-header>

    <div class='page-content'>
        <div style='width: 100%'>
            <app-table [columns]='columns' [data]='data' [paginationSettings]="{ mode: 'local' }"></app-table>
        </div>
        <div *ngIf='hasDataFetched' fxLayout='row wrap' fxLayoutAlign='center center'>
            دریافت داده ناموفق بود
            <button (click)='getTradeBookData()' class='againBtn' mat-button>دریافت دوباره</button>
        </div>
    </div>
</div>
