<div class="page-layout">
    <app-header pageTitle="ریز معاملات">
        <div subtitle>تا تاریخ {{ this.persianDate }}</div>
        <div>
            <button mat-raised-button color="primary" routerLink="../../../..">دفتر معاملات</button>
        </div>
    </app-header>

    <div class="page-content">
        <div style="width: 100%">
            <app-table [data]="data" [columns]="columns" [paginationSettings]="{ mode: 'local' }"></app-table>
        </div>
        <div *ngIf="hasDataFetched" fxLayout="row wrap" fxLayoutAlign="center center">
            دریافت داده ناموفق بود
            <button mat-button class="againBtn" (click)="getTradeBookData()">دریافت دوباره</button>
        </div>
    </div>
</div>
