::ng-deep {
    .mat-header-cell {
        justify-content: center;
    }

    .mat-column-fund {
        flex-grow: 2;
    }

    .mat-dialog-container {
        padding: 0 !important;
    }
}

.setting-form-container {
    width: 100%;
    padding: 10px;

    .setting-form-row {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        gap: 15px;

        mat-form-field {
            width: 40%;
        }
    }
}

.setting-btn-container {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;
}
