<div class="page-layout">
    <app-header [pageTitle]="flowInstance?.title">

        <button mat-raised-button
                color="primary"
                routerLink="/flow/instance">
            بازگشت
        </button>

    </app-header>

    <div class="flow-wizard-main-container page-content">
        <div id="table-container">
            <mat-table #table
                       style="width: 100%"
                       [dataSource]="dataSource"
                       class="fuse-card">

                <ng-container matColumnDef="code">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                        کد قرارداد
                    </mat-header-cell>

                    <mat-cell *matCellDef="let flowInstance" fxHide fxShow.gt-sm>
                        <p class="email text-truncate" style="direction: ltr;" *ngIf="finalCode">
                            {{finalCode}}
                        </p>
                        <p class="email text-truncate" style="direction: ltr;" *ngIf="!finalCode">
                            {{flowInstance?.code}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                        عنوان قرارداد
                    </mat-header-cell>
                    <mat-cell *matCellDef="let flowInstance" fxHide fxShow.gt-sm>
                        <p class="email text-truncate">
                            {{flowInstance?.title}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="customerName">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                        طرف قرارداد
                    </mat-header-cell>
                    <mat-cell *matCellDef="let flowInstance" fxHide fxShow.gt-sm>
                        <p class="email text-truncate">
                            {{flowInstance?.customerName}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="flowName">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                        الگوی قرارداد
                    </mat-header-cell>
                    <mat-cell *matCellDef="let flowInstance" fxHide fxShow.gt-sm>
                        <p class="email text-truncate">
                            {{flowInstance?.flowId?.name}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                        تاریخ ثبت اولیه
                    </mat-header-cell>

                    <mat-cell *matCellDef="let flowInstance" fxHide fxShow.gt-sm>
                        <p class="email text-truncate">
                            {{flowInstance?.date | convertDate}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="documentType">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                        نوع مستند
                    </mat-header-cell>

                    <mat-cell *matCellDef="let flowInstance" fxHide fxShow.gt-sm>
                        <p class="email text-truncate" *ngIf="flowInstance.documentType=='1'">
                            قرارداد اصلی
                        </p>
                        <p class="email text-truncate" *ngIf="flowInstance.documentType=='2'">
                            الحاقی
                        </p>
                        <p class="email text-truncate" *ngIf="flowInstance.documentType=='3'">
                            متمم
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="stop">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm style="text-align: center">
                        عملیات
                    </mat-header-cell>
                    <mat-cell *matCellDef="let flowInstance" fxHide fxShow.gt-sm>
                        <p style="margin-left: 10px;text-align: center"
                           *ngIf="flowWizard?.currentState != 'متوقف'  && flowWizard?.currentStateIndex > -1">
                            <button mat-raised-button color="warn" (click)="stop()">
                                متوقف
                            </button>
                        </p>
                        <p *ngIf="flowWizard?.currentState=='متوقف'">
                            <button mat-raised-button color="accent" style="margin-left: 10px" (click)="reOpen()">
                                بازگشایی
                            </button>
                        </p>
                        <p *ngIf="flowWizard?.currentState == 'متوقف'  || flowWizard?.currentStateIndex <= -1">
                            <button mat-raised-button color="accent" (click)="openBottomSheetComponent()">
                                <mat-icon>history</mat-icon>
                                سابقه
                            </button>
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple>
                </mat-row>
            </mat-table>

            <ng-container *ngIf="flowWizard && formId">
                <div *ngIf="flowWizard?.currentStateIndex>-1">
                    <mat-horizontal-stepper [disableRipple]="true" #stepper dir="rtl"
                                            class="fuse-card"
                                            [selectedIndex]="flowWizard?.currentStateIndex"
                                            style="width: 100%;margin:10px 0">
                        <mat-step *ngFor="let f of flowWizard?.allStates;let i=index">
                            <ng-template matStepLabel>{{f}}</ng-template>
                            <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple
                                     [@animate]="{value:'*',params:{y:'100%'}}">
                            </mat-row>
                            <div fxLayout="column" fxLayoutAlign="space-evenly center"
                                 *ngIf="!(flowWizard?.currentState=='متوقف')">
                                <div class="fuse-card form-section" *ngFor="let form of buttons;let i = index">
                                    <div class="section-title">
                                        <h2>
                                            {{form.name}}
                                        </h2>
                                    </div>

                                    <mat-divider></mat-divider>

                                    <div class="contract-form-body"
                                         dir="rtl"
                                         fxLayout="row wrap"
                                         fxLayoutGap="10px"
                                         fxLayoutAlign="space-between center">

                                        <div *ngFor="let item of form.Value;let j = index"
                                             fxFlex="20" fxFlex.md="33"
                                             fxFlex.sm="50" fxFlex.xs="100">
                                            <div *ngIf="item.type=='text'">
                                                <mat-form-field appearance="outline" style="width: 100%;">
                                                    <mat-label>{{item.placeholder}}</mat-label>
                                                    <input matInput
                                                           [formControl]="formGroup?.controls[i]?.controls['Value']?.controls[j].controls['Value']">
                                                </mat-form-field>
                                            </div>

                                            <div *ngIf="item.type=='button'">
                                                <button mat-raised-button color="accent" *ngIf="item.acction==3"
                                                        (click)="confirm()">
                                                    {{item.Value}}
                                                </button>
                                                <button mat-raised-button color="warn" *ngIf="item.acction==4"
                                                        (click)="reject()">
                                                    {{item.Value}}
                                                </button>
                                                <button mat-raised-button color="primary"
                                                        *ngIf="item.acction==2&&downloadUrl">
                                                    <a [href]="downloadUrl">
                                                        {{item.Value}}
                                                    </a>
                                                </button>
                                                <button mat-raised-button color="primary" *ngIf="item.acction==1">
                                                    {{item.Value}}
                                                    <input type="file" id="file1" (change)="upload($event.target.files)"
                                                           accept=".pdf">
                                                </button>
                                                <button mat-raised-button color="accent" *ngIf="item.acction==5"
                                                        (click)="generateCode()">
                                                    {{item.Value}}
                                                </button>
                                            </div>
                                            <div *ngIf="item.type=='date'">
                                                <mat-form-field class="full-wid" appearance="outline">
                                                    <mat-label>{{item.placeholder}} </mat-label>
                                                    <input (click)="start1.open()" matInput
                                                           [formControl]="formGroup?.controls[i]?.controls['Value']?.controls[j].controls['Value']"
                                                           [matDatepicker]="start1" required>
                                                    <mat-datepicker-toggle matSuffix [for]="start1"></mat-datepicker-toggle>
                                                    <mat-datepicker #start1></mat-datepicker>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </ng-container>

            <app-flow-wizard-history
                *ngIf="flowWizard?.currentState != 'متوقف'  && formId && flowWizard?.currentStateIndex > -1"
                [flowInstanceId]="flowInstance&&flowInstance._id">
            </app-flow-wizard-history>

            <!--        //[disabled]="flow_Wizard?.currentStateIndex>-1"-->
            <div class="global-form-container" *ngIf="flowWizard?.currentStateIndex == -1 && formId">
                <ng-container [ngSwitch]="flowInstance?.flowId?.category?.keyword">

                    <app-valuation *ngSwitchCase="'valuation'"
                                   [formId]="formId"
                                   [flowId]="flowId"
                                   [flowInstanceId]="flowInstance._id">
                    </app-valuation>

                    <app-market-making *ngSwitchCase="'marketMaking'"
                                       [formId]="formId"
                                       [flowId]="flowId"
                                       [flowInstanceId]="flowInstance._id">
                    </app-market-making>

                    <app-under-writing *ngSwitchCase="'underwriting'"
                                       [formId]="formId"
                                       [flowId]="flowId"
                                       [flowInstanceId]="flowInstance._id">
                    </app-under-writing>

                    <app-under-writing-and-market-making *ngSwitchCase="'underwritingAndMarketmaking'"
                                                         [formId]="formId"
                                                         [flowId]="flowId"
                                                         [flowInstanceId]="flowInstance._id">
                    </app-under-writing-and-market-making>


                    <app-purchase-holding-and-sell *ngSwitchCase="'purchaseHoldingandSell'"
                                                   [formId]="formId"
                                                   [flowId]="flowId"
                                                   [flowInstanceId]="flowInstance._id">
                    </app-purchase-holding-and-sell>


                    <app-financing-advisory *ngSwitchCase="'financialTherapy'"
                                            [formId]="formId"
                                            [flowId]="flowId"
                                            [flowInstanceId]="flowInstance._id">
                    </app-financing-advisory>

                    <app-exlcusively-asset-management *ngSwitchCase="'exlcusivelyAssetManagement'"
                                                      [formId]="formId"
                                                      [flowId]="flowId"
                                                      [flowInstanceId]="flowInstance._id">
                    </app-exlcusively-asset-management>

                    <app-business-plan *ngSwitchCase="'businessPlan'"
                                       [formId]="formId"
                                       [flowId]="flowId"
                                       [flowInstanceId]="flowInstance._id">
                    </app-business-plan>

                    <app-market-making-assinment *ngSwitchCase="'marketmakingAssinment'"
                                                 [formId]="formId"
                                                 [flowId]="flowId"
                                                 [flowInstanceId]="flowInstance._id">
                    </app-market-making-assinment>


                    <app-ipo-advisory *ngSwitchCase="'ipoAdvisory'"
                                      [formId]="formId"
                                      [flowId]="flowId"
                                      [flowInstanceId]="flowInstance._id">
                    </app-ipo-advisory>

                    <app-listing-advisory *ngSwitchCase="'listingAdvisory'"
                                          [formId]="formId"
                                          [flowId]="flowId"
                                          [flowInstanceId]="flowInstance._id">
                    </app-listing-advisory>


                </ng-container>

            </div>
        </div>
    </div>
</div>