::ng-deep .mat-step-header .mat-step-icon-selected {
    // todo make this use primary color
    background-color: #02ad96 !important;
}

.contract-form-body {
    padding: 10px;
}

.vbox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

mat-horizontal-stepper {
    margin: 5px;
}

#table-container {
    width: 100%;
    direction: rtl;
}

.mat-table {
    padding-right: 30px;
    padding-left: 30px;
    margin: 10px 0;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

.controlBtns {
    width: 100%;
    padding: 20px 10px;
    text-align: right;
}

.hbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: right;

    .section1 {
        width: 50%;
        margin: 5px;
        padding: 10px;

        .container {
            max-height: 500px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;

            .section {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                direction: rtl;

                .bolet {
                    position: relative;

                    .circle {
                        width: 15px;
                        height: 15px;
                        border-radius: 100%;
                        position: absolute;
                        top: 25px;
                        right: 6px;
                    }

                    .line {
                        width: 3px;
                        height: 100%;
                        margin: 0 12px;
                    }
                }
            }
        }
    }

    .section2 {
        width: 50%;
        margin: 5px;
        padding: 10px;

        .container {
            max-height: 500px;
            overflow-y: scroll;

            .yaddasht {
                margin: 5px;
                padding: 5px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                direction: rtl;
                align-items: center;

                img {
                    margin: 10px;
                }

                .detail {
                    width: 100%;
                }
            }
        }
    }
}

:host::ng-deep {
    .mat-horizontal-content-container {
        padding: 24px 24px 24px 24px;
    }
}

:host ::ng-deep .mat-horizontal-stepper-header-container {
    width: 100%;
    flex-wrap: wrap;
}

.card {
    padding: 10px 30px;
    margin: 20px 10px;
}

.flow-wizard-main-container {
    padding: 10px 40px;
    width: 100%;
    height: 100%;
}

.global-form-container {
    width: 90%;
    margin: 20px auto 0;
}

.mat-cell,
.mat-header-cell,
.mat-footer-cell {
    justify-content: center !important;
}

.form-section {
    width: 100%;

    .section-title {
        padding: 0 20px;
    }
}
