<div class="dialog-content-wrapper" dir="rtl">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">ثبت وثیقه</span>
            <button mat-icon-button (click)="matDialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <mat-table #table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }" class="fuse-card" id="collateralls">
            <!-- lastName Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>نام</mat-header-cell>
                <mat-cell *matCellDef="let collaterall">
                    <p class="text-truncate">{{ collaterall.name }}</p>
                </mat-cell>
            </ng-container>

            <!-- firstName Column -->
            <ng-container matColumnDef="collateralTypeId">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نوع وثیقه</mat-header-cell>
                <mat-cell *matCellDef="let collaterall" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ collateralMap[collaterall.collateralTypeId] }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>ارزش</mat-header-cell>
                <mat-cell *matCellDef="let collaterall" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ collaterall.amount }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>عملیات</mat-header-cell>
                <mat-cell *matCellDef="let collaterall; let i = index" fxHide fxShow.gt-sm>
                    <button mat-icon-button color="primary" (click)="editCollaterall(collaterall, i)" class="edit-button">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteCollat(i)" class="">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" matRipple [@animate]="{ value: '*', params: { y: '100%' } }"> </mat-row>
        </mat-table>

        <form [formGroup]="collaterallForm" class="form" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="49">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>نام</mat-label>
                    <input formControlName="name" matInput required />
                </mat-form-field>
            </div>

            <div fxFlex="49">
                <mat-form-field appearance="outline">
                    <mat-select placeholder="نوع وثیقه" formControlName="collateralTypeId">
                        <mat-option style="text-align: right" *ngFor="let c of collaterallTypes" [value]="c?.id">
                            {{ c?.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="49">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>ارزش</mat-label>
                    <input type="number" formControlName="amount" matInput required />
                </mat-form-field>
            </div>

            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="center center">
                <button mat-button *ngIf="slectedCollaterallIndex == null" [disabled]="collaterallForm.invalid" (click)="addCollat()" color="primary">
                    <mat-icon class="mat-18">add_circle</mat-icon>
                    افزودن
                </button>

                <button mat-button *ngIf="slectedCollaterallIndex != null" [disabled]="collaterallForm.invalid" (click)="edit()" color="primary">
                    <mat-icon class="mat-18">create</mat-icon>
                    اصلاح
                </button>

                <button mat-button *ngIf="slectedCollaterallIndex != null" (click)="clear()" color="warn">
                    <mat-icon class="mat-18">clear</mat-icon>
                    انصراف
                </button>
            </div>
        </form>
    </div>
</div>
