<div class="dialog-content-wrapper" dir="rtl">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ title }}</span>
            <button mat-icon-button (click)="this.dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row *ngIf="isEditMode" class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <div class="contact-name mt-8">{{ isEditMode ? data.name : '' }}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0">
        <form [formGroup]="form" (submit)="submitForm()" class="form">
            <div class="tw-flex tw-justify-center">
                <mat-form-field appearance="outline">
                    <mat-label>نام</mat-label>
                    <mat-icon matSuffix class="secondary-text">business</mat-icon>
                    <input name="name" formControlName="name" matInput required />
                    <mat-error *ngIf="form.get('name').hasError('required')"> وارد کردن این فیلد الزامی است. </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>فرم قرارداد</mat-label>
                    <mat-select formControlName="form" multiple required>
                        <mat-option class="tw-text=right" *ngFor="let contractTypeForm of contractTypeForms" [value]="contractTypeForm">
                            {{ contractTypeForm.name ?? 'موردی برای نمایش وجود ندارد' }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <app-search-select
                    label="افزودن کاربر"
                    placeholder="جستجو در کاربران"
                    appearance="outline"
                    [searchFn]="searchUser"
                    valuePropertyName="id"
                    [uiPropertyName]="'fullname'"
                    formControlName="users"
                    [multi]="true"
                >
                </app-search-select>

                <app-tree-select [data]="allRolesList" formControlName="roles" selectedValueFieldName="name"></app-tree-select>

                <app-tree-select [data]="units" formControlName="allUnitsList" selectedValueFieldName="name"></app-tree-select>

                <mat-form-field appearance="outline">
                    <mat-label>نقش</mat-label>
                    <mat-select formControlName="units" multiple required>
                        <mat-option class="tw-text=right" *ngFor="let role of rolesOnSpecificUnit" [value]="role.id">
                            {{ role.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div mat-dialog-actions class="m-0 p-16 tw-flex tw-justify-around tw-items-center">
                <button mat-flat-button color="primary" type="submit">
                    <mat-icon class="icon-header">{{ this.isEditMode ? 'edit' : 'add' }}</mat-icon>
                    {{ this.isEditMode ? 'ویرایش نوع قرارداد' : 'افزودن نوع قرارداد' }}
                </button>
                <button mat-flat-button color="warn" type="button" (click)="dialogRef.close(false)">
                    <mat-icon class="icon-header">close</mat-icon>
                    انصراف
                </button>
            </div>
        </form>
    </div>
</div>
