<div class="dialog-content-wrapper" dir="rtl">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">افزودن ضامن</span>
            <button mat-icon-button (click)="matDialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <app-table [data]="data" [columns]="column" [paginationSettings]="{ mode: 'local' }"></app-table>
        <ng-container *ngIf="data?.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                <img width="140px" height="140px" src="../../../../../assets/images/no-data.svg" alt="no data" />
                <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
            </div>
        </ng-container>

        <form [formGroup]="guarantorForm" class="form" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="49">
                <mat-form-field style="min-width: 200px; padding: 15px" appearance="outline">
                    <mat-select formControlName="guarantorId" placeholder="اوراق" [multiple]="false">
                        <ngx-mat-select-search
                            style="text-align: right"
                            [noEntriesFoundLabel]="'یافت نشد'"
                            [placeholderLabel]="'جستجو'"
                            [formControl]="searchKey"
                        ></ngx-mat-select-search>
                        <mat-option style="text-align: right" *ngFor="let bond of guarantors" [value]="{ guarantor: bond.guarantor, id: bond.id }">
                            {{ bond?.guarantor }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxFlex="49">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>ارزش</mat-label>
                    <input type="number" formControlName="percent" matInput required />
                </mat-form-field>
            </div>

            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
                <button mat-button *ngIf="selectedGuarantor == null" [disabled]="guarantorForm.invalid" (click)="addCollate()">
                    <mat-icon class="mat-18">add_circle</mat-icon>
                    افزودن
                </button>

                <button mat-button *ngIf="selectedGuarantor != null" [disabled]="guarantorForm.invalid" (click)="edit()" color="primary">
                    <mat-icon class="mat-18">create</mat-icon>
                    اصلاح
                </button>

                <button mat-button *ngIf="selectedGuarantor != null" (click)="clear()" color="warn">
                    <mat-icon class="mat-18">clear</mat-icon>
                    برگشت
                </button>
            </div>
        </form>
    </div>
</div>
