<div class="page-layout">

    <!-- HEADER -->
    <app-header pageTitle="لیست ابزارها">

        <button mat-raised-button
                (click)="add()"
                color="primary">
            <mat-icon>add</mat-icon>
            ایجاد
        </button>

    </app-header>

    <div class="page-content">
        <div class="setting-container-back" dir="rtl">
            <div class="setting-panel fuse-card">
                <div [formGroup]="searchFormGroup" style="width: 100%;">
                    <mat-table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                                <mat-form-field appearance="fill" style="width: 80%">
                                    <mat-label>نام</mat-label>
                                    <input matInput formControlName="name">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <p class="email text-truncate">
                                    {{element?.name}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="nameEn">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                                <mat-form-field appearance="fill" style="width: 80%">
                                    <mat-label>شماره ثبت</mat-label>
                                    <input matInput formControlName="nameEn">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <p class="email text-truncate">
                                    {{element?.nameEn}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="symbol">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                                <mat-form-field appearance="fill" style="width: 80%">
                                    <mat-label>نماد</mat-label>
                                    <input matInput formControlName="symbol">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <p class="email text-truncate">
                                    {{element?.symbol}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="symbolEn">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                                <mat-form-field appearance="fill" style="width: 80%">
                                    <mat-label> نماد انگلیسی</mat-label>
                                    <input matInput formControlName="symbolEn">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <p class="email text-truncate">
                                    {{element?.symbolEn}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="isActive">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                                <mat-form-field appearance="fill" style="width: 80%">
                                    <mat-label> وضعیت</mat-label>
                                    <mat-select formControlName="isActive">
                                        <mat-option value="true">
                                            فعال
                                        </mat-option>
                                        <mat-option value="false">
                                            غیر فعال
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <p class="email text-truncate">
                                    <span *ngIf="element?.isActive === 'true'">
                                        فعال
                                    </span>
                                    <span *ngIf="element?.isActive === 'false'">
                                        غیرفعال
                                    </span>
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                                <mat-form-field appearance="fill" style="width: 80%">
                                    <mat-label>کد نوع</mat-label>
                                    <input matInput formControlName="type">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <p class="email text-truncate">
                                    {{element?.type}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="isInBourse">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                                <mat-form-field appearance="fill" style="width: 80%">
                                    <mat-label> محل معامله</mat-label>
                                    <mat-select formControlName="isInBourse">
                                        <mat-option value="true">
                                            بورس
                                        </mat-option>
                                        <mat-option value="false">
                                            خارج از بورس
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <p class="email text-truncate">
                                    <span *ngIf="element?.isInBourse === 'true'">
                                        بورس
                                    </span>
                                    <span *ngIf="element?.isInBourse === 'false'">
                                        خارج از بورس
                                    </span>
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="boardName">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                                <mat-form-field appearance="fill" style="width: 80%">
                                    <mat-label>تابلو</mat-label>
                                    <input matInput formControlName="boardName">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <p class="email text-truncate">
                                    {{element?.boardName}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="marketName">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>
                                <mat-form-field appearance="fill" style="width: 80%">
                                    <mat-label>بازار</mat-label>
                                    <input matInput formControlName="marketName">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <p class="email text-truncate">
                                    {{element?.marketName}}
                                </p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="operation">
                            <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>عملیات</mat-header-cell>
                            <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm>
                                <button (click)="edit(element)" style="margin-left: 10px" mat-button color="accent">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button (click)="delete(element)" mat-button color="warn">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row style="top: -12px!important;"
                                        *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple
                                 [@animate]="{value:'*',params:{y:'100%'}}">
                        </mat-row>
                    </mat-table>
                    <app-paginator [data]="newInstrumentService.pageEvent" (page)="pageHandler($event)"
                                   [pageSizeOptions]="[5, 10, 13]"></app-paginator>
                    <ng-container *ngIf="dataSource.data.length===0">
                        <div
                            style="display: flex;align-items: center;justify-content: center;padding: 30px;flex-direction: column">
                            <img width="140px" height="140px" src="./assets/images/no-data.svg">
                            <div style="font-size: 13px;color: #449FDB;margin-top: 7px">
                                موردی وجود ندارد
                            </div>
                        </div>
                    </ng-container>
                    <!--            <div class="add-btn">-->
                    <!--                <button (click)="add()" mat-button color="primary">-->
                    <!--                    <mat-icon>add</mat-icon>-->
                    <!--                    ایجاد-->
                    <!--                </button>-->
                    <!--            </div>-->
                </div>
            </div>
        </div>
    </div>
</div>