<div class="dialog-content-wrapper" dir="rtl">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ title }}</span>
            <button mat-icon-button (click)="this.dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <div class="contact-name mt-8">{{ isEditMode ? data.name : '' }}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0">
        <form [formGroup]="form" (submit)="submitForm()" class="form">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>نام نهاد</mat-label>
                    <mat-icon matSuffix class="secondary-text">business</mat-icon>
                    <input name="name" formControlName="name" matInput required />
                    <mat-error *ngIf="form.get('name').hasError('required')"> وارد کردن این فیلد الزامی است. </mat-error>
                </mat-form-field>
            </div>

            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center center">
                <button mat-flat-button color="primary" type="submit">
                    <mat-icon class="icon-header">{{ this.isEditMode ? 'edit' : 'add' }}</mat-icon>
                    {{ this.isEditMode ? 'ویرایش نهاد' : 'افزودن نهاد' }}
                </button>
                <button mat-flat-button color="warn" type="button" (click)="dialogRef.close(false)">
                    <mat-icon class="icon-header">close</mat-icon>
                    انصراف
                </button>
            </div>
        </form>
    </div>
</div>
