<div class="dialog-content-wrapper" dir="rtl">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">ثبت تاریخ شروع و پایان</span>
            <button mat-icon-button (click)="matDialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <div style="width: 100%">
            <app-table
                [data]="data"
                [columns]="column"
                [paginationSettings]="{ mode: 'backend' }"
                [paginationObject]='pagination'
                (searchEvent)='search($event)'
            ></app-table>
            <ng-container *ngIf="data?.length === 0">
                <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                    <img width="140px" height="140px" src='../../../../../assets/images/no-data.svg' />
                    <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
                </div>
            </ng-container>
        </div>

        <form [formGroup]="dateForm" class="form" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="49">
                <mat-form-field class="full-wid" appearance="outline">
                    <mat-label>تاریخ شروع پذیره نویسی</mat-label>
                    <input (click)="start1.open()" matInput formControlName="startDate" [matDatepicker]="start1" />
                    <mat-datepicker-toggle matSuffix [for]="start1"></mat-datepicker-toggle>
                    <mat-datepicker #start1></mat-datepicker>
                    <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="49">
                <mat-form-field class="full-wid" appearance="outline">
                    <mat-label>تاریخ پایان پذیره نویسی</mat-label>
                    <input
                        (click)="start2.open()"
                        matInput
                        formControlName="endDate"
                        [min]="dateForm.get('startDate').value"
                        [matDatepicker]="start2"
                    />
                    <mat-datepicker-toggle matSuffix [for]="start2"></mat-datepicker-toggle>
                    <mat-datepicker #start2></mat-datepicker>
                    <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
                <button mat-button *ngIf="selectedDate == null" [disabled]="dateForm.invalid" (click)="add()">
                    <mat-icon class="mat-18">add_circle</mat-icon>
                    افزودن
                </button>

                <button mat-button *ngIf="selectedDate != null" [disabled]="dateForm.invalid" (click)="edit()">
                    <mat-icon class="mat-18">create</mat-icon>
                    اصلاح
                </button>

                <button mat-button *ngIf="selectedDate != null" (click)="clear()">
                    <mat-icon class="mat-18">clear</mat-icon>
                     برگشت
                </button>
            </div>
        </form>
    </div>
</div>
