<div class='page-layout'>
    <app-header class='wp-100' pageTitle='نمایش فرم نهایی'>
        <button (click)='navigateToCardboardPage()' color='accent' mat-stroked-button>
            <mat-icon class='mat-18'>keyboard_return</mat-icon>
            بازگشت به کارتابل قراردادها
        </button>
    </app-header>

    <div *ngIf='!isLoading' class='fuse-card'>
        <lib-ag-form-viewer (emittedFormViewerInfo)='handleFormViewerInfo($event)' [dateLocale]="'fa-IR'" [formInfo]='formData'
                            dir='ltr'></lib-ag-form-viewer>
    </div>
</div>
