<mat-card class="h-full w-full p-0">
    <mat-card-header class="w-full bg-blue-600 m-0 py-3.5">
        <div class="w-full flex justify-between items-center px-5 w-full">
            <h2 class="font-bold text-white">پیشینه‌ی قرارداد</h2>
        </div>
    </mat-card-header>

    <mat-card-content class="h-5/6 overflow-y-scroll pt-10">
        <div class="flex mx-5 items-center border-bottom" *ngFor="let contractHistory of contractHistory">
            <mat-icon class="mat-18 mx-10 cursor-default" [matTooltip]="contractHistory.status" [color]="getProperIcon(contractHistory, 'iconColor')">{{
                getProperIcon(contractHistory, 'icon')
            }}</mat-icon>
            <div class="flex flex-col justify-center">
                <header class="flex">
                    <h3>{{ getHistoryStepInfo(contractHistory, 'title') }}</h3>
                    <span *ngIf="contractHistory.status === 'رد' || contractHistory.status === 'تایید'">
                        {{ getHistoryStepInfo(contractHistory, 'subtitle') }}
                    </span>
                </header>
                <section class="text-gray-600">{{ contractHistory.updatedAt | convertDate }} - {{ contractHistory.user.name }}</section>
            </div>
        </div>
    </mat-card-content>
</mat-card>
