<form #myForm="ngForm" [formGroup]="customerForm" class="contract-form-container">
    <div class="contract-form-header">اطلاعات مشتریان معرفی شده</div>

    <div class="contract-form-body" dir="rtl">
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>نام مشتری</mat-label>
                <input formControlName="name" matInput required />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>مبلغ خرید مشتری</mat-label>
                <input type="number" formControlName="purchaseAmount" matInput required />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>تاریخ خرید مشتری</mat-label>
                <input (click)="start3.open()" matInput formControlName="purchaseDate" [matDatepicker]="start3" />
                <mat-datepicker-toggle matSuffix [for]="start3"></mat-datepicker-toggle>
                <mat-datepicker #start3></mat-datepicker>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
        </div>

        <div class="contract-form-row-2">
            <mat-form-field class="full-wid" appearance="outline" style="width: 100%">
                <mat-label>تاریخ دریافت کارمزد بازاریابی و فروش</mat-label>
                <input (click)="start4.open()" matInput formControlName="receivingDate" [matDatepicker]="start4" />
                <mat-datepicker-toggle matSuffix [for]="start4"></mat-datepicker-toggle>
                <mat-datepicker #start4></mat-datepicker>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
            <div>
                <button
                    mat-raised-button
                    *ngIf="selectedCustomerIndex == null"
                    [disabled]="customerForm.invalid"
                    (click)="add()"
                    class="save-button"
                    style="width: 200px; height: 40px"
                    [color]="'accent'"
                >
                    <mat-icon> add </mat-icon>
                    افزودن
                </button>
                <button
                    mat-raised-button
                    *ngIf="selectedCustomerIndex != null"
                    [disabled]="customerForm.invalid"
                    (click)="edit()"
                    class="save-button"
                    style="width: 200px; height: 40px"
                    [color]="'accent'"
                >
                    <mat-icon> edit </mat-icon>
                    اصلاح
                </button>
                <button
                    mat-raised-button
                    *ngIf="selectedCustomerIndex != null"
                    (click)="clear()"
                    class="save-button"
                    style="width: 200px; height: 40px"
                >
                    <mat-icon> close </mat-icon>
                    انصراف
                </button>
            </div>
        </div>
    </div>

    <div class="form-tab-table-container">
        <mat-table #table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
            <!-- firstName Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>نام مشتری</mat-header-cell>
                <mat-cell *matCellDef="let customer" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ customer?.name }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="purchaseAmount">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>تاریخ خرید مشتری</mat-header-cell>
                <mat-cell *matCellDef="let customer" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ customer.purchaseAmount }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="purchaseDate">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>تاریخ خرید مشتری</mat-header-cell>
                <mat-cell *matCellDef="let customer" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ customer.purchaseDate | convertDate }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="receivingDate">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>تاریخ دریافت کارمزد بازاریابی</mat-header-cell>
                <mat-cell *matCellDef="let customer" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ customer.receivingDate | convertDate }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>عملیات</mat-header-cell>
                <mat-cell *matCellDef="let customer; let i = index" fxHide fxShow.gt-sm>
                    <button
                        class="edit-button"
                        mat-raised-button
                        color="warn"
                        (click)="editCustomer(customer, i)"
                        style="color: white; background-color: orange"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button style="margin-right: 10px" mat-raised-button color="warn" (click)="delete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" matRipple [@animate]="{ value: '*', params: { y: '100%' } }"> </mat-row>
        </mat-table>

        <ng-container *ngIf="dataSource.data.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                <img width="140px" height="140px" src="./assets/images/no-data.svg" />
                <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
            </div>
        </ng-container>
    </div>
</form>
