<ng-container [ngSwitch]="state">
    <ng-container *ngSwitchCase="stateType.SELECT">
        <div class="table-container" [@fadeInOut]="{duration:'400ms'}">
            <div class="header1 accent">
                <span>
                    لیست تغییرات اعمال شده
                </span>
                <div class="table-btn-container" dir="rtl">

                    <!--            <mat-form-field appearance="outline">-->
                    <!--                <mat-label>-->
                    <!--                    <mat-icon class="mat-18">filter_list</mat-icon>-->
                    <!--                </mat-label>-->


                    <!--                <mat-select multiple="true" [formControl]="filterCtl">-->
                    <!--                    <mat-select-trigger>-->
                    <!--                        {{ (filterCtl.value) ? filterCtl.value.length : '-' }}-->
                    <!--                    </mat-select-trigger>-->
                    <!--                    <mat-option *ngFor="let c of transitionTypeColumnsTypes" [value]="c.id">-->
                    <!--                        {{c.name}}-->
                    <!--                    </mat-option>-->
                    <!--                </mat-select>-->
                    <!--            </mat-form-field>-->

                    <button mat-raised-button
                            style="margin:0 10px"
                            color="primary"
                            (click)="openAddChangeDialog()">
                        <mat-icon class="mat-18">add</mat-icon>
                        تغییر جدید
                    </button>

                </div>

            </div>

            <app-table *ngIf="data.length > 0"
                       [columns]="columns"
                       [data]="data">
            </app-table>

            <div class="no-data" *ngIf="data.length <= 0">
                <h3>
                    تغییری برای نمایش وجود ندارد.
                </h3>
            </div>
        </div>


        <div class="btn-container primary" [@fadeInOut]="{duration:'400ms'}">
            <div class="edit-inputs">
                <input autocomplete="off"
                       [(ngModel)]="navPlannedRate"
                       [disabled]="this.data.length === 0"
                       style=" border: 1px solid rgba(0,0,0,0.2);
                       border-radius: 4px;
                       height: 30px;"
                       type="number" placeholder="نرخ NAV برنامه ای(پیش فرض ۲۲ درصد)">
            </div>

            <button (click)="processNAV()"
                    color="warn"
                    [disabled]="this.data.length === 0"
                    style="margin-right: 10px"
                    mat-raised-button>
                <mat-icon>developer_board</mat-icon>
                پردازش
                NAV
            </button>
        </div>

    </ng-container>

    <!--  LOADING  -->
    <ng-container *ngSwitchCase="stateType.LOADING">
        <div class="full-card-container" [@fadeInOut]="{duration:'400ms'}">
            <mat-spinner diameter="80"></mat-spinner>
            <h3>
                در حال محاسبه
            </h3>
        </div>
    </ng-container>

    <!--  Show RESULT  -->
    <ng-container *ngSwitchCase="stateType.RESULT">
        <div class="table-container" [@fadeInOut]="{duration:'400ms'}">
            <div class="header1 accent">
                <span>
                    نتیجه‌ی محاسبه
                </span>
            </div>

            <div class="result-container" fxLayout="row wrap">
                <div fxFlex="20" class="result-box-container">
                    <div class="fuse-card result-box">
                        <div class="result-item" *ngIf="result && result.hasOwnProperty('currentFundUnits')">
                            <span class="title">
                                تعداد واحد‌های صندوق
                            </span>
                            <span class="value">
                                {{result.currentFundUnits|number}}
                            </span>
                            <mat-divider></mat-divider>
                        </div>


                        <div class="result-item" *ngIf="result && result.hasOwnProperty('fundRealTimeNav')">
                            <span class="title">
                                خالص ارزش دارایی‌های لحظه‌ای
                            </span>
                            <span class="value">
                                {{result.fundRealTimeNav|price}}
                            </span>
                        </div>


                        <div class="result-item" *ngIf="result && result.hasOwnProperty('fundRealTimeNavPerunit')">
                            <span class="title">
                                ارزش خالص دارایی‌های لحظه‌ای/تعداد
                            </span>
                            <span class="value">
                                {{result.fundRealTimeNavPerunit|price}}
                            </span>
                        </div>


                        <div class="result-item" *ngIf="result && result.hasOwnProperty('fundRealTimeTotalUnits')">
                            <span class="title">
                                تعداد واحد‌های کلی صندوق بر اساس ورودی‌های کاربر
                            </span>
                            <span class="value">
                                {{result.fundRealTimeTotalUnits|number}}
                            </span>
                        </div>


                        <div class="result-item" *ngIf="result && result.hasOwnProperty('fundRealTimeTotalUnits')">
                            <span class="title">
                                انحراف ارزش خالص دارایی‌ها/تعداد
                            </span>
                            <span class="value">
                                {{result.fundVarianceNavPerunit|number}}
                            </span>
                        </div>


                        <div class="result-item" *ngIf="result && result.hasOwnProperty('netTodayFundTransactions')">
                            <span class="title">
                                خالص معاملات خرید و فروش واحد‌های صندوق
                            </span>
                            <span class="value">
                                {{result.netTodayFundTransactions|number}}
                            </span>
                        </div>


                        <div class="result-item" *ngIf="result && result.hasOwnProperty('plannedNav')">
                            <span class="title">
                                نرخ برنامه‌ای
                            </span>
                            <span class="value">
                                {{result.plannedNav|price}}
                            </span>
                        </div>

                        <div class="result-item" *ngIf="result && result.hasOwnProperty('variance')">
                            <span class="title">
                                انحراف
                            </span>
                            <span class="value">
                                {{result.variance|number}}
                            </span>
                        </div>


                    </div>
                </div>
                <div fxFlex="80" *ngIf="result &&
                                        result.hasOwnProperty('fundRealTimeNavPerunit') &&
                                        result.hasOwnProperty('plannedNav')">
                    <app-gauge-chart style="width: calc(100% - 40px);"
                                     [labels]="[
                                        {text:  'اختلاف' + '\n' + (result.plannedNav - result.fundRealTimeNavPerunit) },
                                        {text:  ' خالص ارزش دارایی‌های محاسبه شده' + '\n' + result.fundRealTimeNavPerunit  },
                                        {text:  'خالص ارزش دارایی‌های برنامه ریزی شده' + '\n' + result.plannedNav }
                                     ]"
                                     [maxRange]="30000"
                                     [minRange]="-30000"
                                     [handValue]="result.plannedNav - result.fundRealTimeNavPerunit">
                    </app-gauge-chart>
                    <h3 style="text-align: center;margin: 0">
                        نمودار اختلاف ارزش خالص دارایی‌های برنامه‌ریزی شده و محاسبه‌شده
                    </h3>
                </div>
            </div>
        </div>


        <div class="btn-container primary" [@fadeInOut]="{duration:'400ms'}">

            <button (click)="state = stateType.SELECT"
                    color="warn"
                    style="margin-right: auto"
                    mat-raised-button>
                بازگشت
                <mat-icon>keyboard_backspace</mat-icon>

            </button>
        </div>


    </ng-container>
</ng-container>