.container {
    max-width: unset;
    margin: 20px;
}

.spinner {
    height: 300px;
}

.no-data {
    min-height: 300px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content {
    position: relative;
    max-height: 98vh;
}

.loader {
    width: 100%;
    margin-bottom: 15px;
}