@use '~@angular/material' as mat;
@import 'src/@fuse/scss/fuse';
@import '../../layout/styles/variables';

login {
    #login {
        width: 100%;
        overflow: hidden;
        //background: $main-bg;
        background-size: cover;
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: stretch flex-start;
        align-items: stretch;

        #login-intro {
            padding: 128px 15vw;
            direction: rtl;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

            div {
                //filter: drop-shadow(0 5px 10px black) drop-shadow(0 -5px 35px rgba(255, 255, 255, 0.609)) drop-shadow(5px 0 35px rgba(245, 224, 224, 0));
                padding: 19px;
                font-weight: 800 !important;
            }

            @include media-breakpoint('sm') {
                padding: 128px 64px;
            }

            .logo {
                width: 250px;
                height: 250px;
                //background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $border-radius-1;
                margin: 32px auto;
                padding: 5px;
                //@include mat.elevation(2);

                img {
                    padding: 30px;
                    width: 250px;
                    height: 250px;
                    border-radius: $border-radius-1 + 5px;
                }
            }

            .copy-right {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 5px;
                background-color: #edededd9;
                color: #525151;
                margin: 0;
                border-radius: 0 $border-radius-1 0 0;

                a {
                    color: #181818;
                }

                h5 {
                    margin: 0;
                }
            }

            .title {
                font-size: 42px;
                font-weight: 300;
                line-height: 1;
                //color: #4b4b4b;
            }

            .description {
                padding-top: 16px;
                font-size: 14px;
                max-width: 600px;
                border-radius: $border-radius-1;
                @include mat.elevation(2);
            }
        }

        #login-form-wrapper {
            width: 400px;
            min-width: 400px;
            max-width: 400px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: #ffffffb0;
            box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

            @include mat.elevation(5);

            @include media-breakpoint('sm') {
                width: 360px;
                min-width: 360px;
                max-width: 360px;
            }

            @include media-breakpoint('xs') {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
            }

            #login-form {
                padding: 48px;

                @include media-breakpoint('xs') {
                    text-align: center;
                    padding: 24px;
                }

                .title {
                    font-size: 21px;
                    padding: 26px;
                    font-weight: bold;
                    border-bottom: 1px solid;
                }

                .description {
                    padding-top: 8px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
                }

                form {
                    width: 100%;
                    padding-top: 32px;

                    mat-form-field {
                        width: 100%;

                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }

                    mat-checkbox {
                        margin: 0;
                    }

                    .remember-forgot-password {
                        font-size: 13px;
                        margin-top: 8px;

                        .remember-me {
                            margin-bottom: 16px;
                        }

                        .forgot-password {
                            font-size: 13px;
                            font-weight: 600;
                            margin-bottom: 16px;
                        }
                    }

                    .submit-button {
                        width: 100%;
                        margin: 16px auto;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }
                }

                .separator {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 24px auto;
                    position: relative;
                    overflow: hidden;
                    width: 100px;
                    text-align: center;

                    .text {
                        display: inline-flex;
                        position: relative;
                        padding: 0 8px;
                        z-index: 9999;

                        &:before,
                        &:after {
                            content: '';
                            display: block;
                            width: 30px;
                            position: absolute;
                            top: 10px;
                            border-top: 1px solid;
                        }

                        &:before {
                            right: 100%;
                        }

                        &:after {
                            left: 100%;
                        }
                    }
                }

                button {
                    &.google,
                    &.facebook {
                        width: 70%;
                        text-transform: none;
                        color: #ffffff;
                        font-size: 13px;

                        @include media-breakpoint('xs') {
                            width: 60%;
                        }

                        mat-icon {
                            color: #ffffff;
                            margin: 0 8px 0 0;
                        }
                    }

                    &.google {
                        background-color: #d73d32;
                        margin-bottom: 8px;
                    }

                    &.facebook {
                        background-color: rgb(63, 92, 154);
                    }
                }

                .register {
                    margin: 32px auto 24px auto;
                    width: 250px;
                    font-weight: 600;

                    .text {
                        margin-right: 8px;
                    }
                }
            }

            .version {
                span {
                    position: absolute;
                    bottom: 1px;
                    right: 1px;
                    background-color: gray;
                    color: white;
                    border-top-left-radius: $border-radius-1;
                    padding: 0px 22px;
                    font-size: 10px;
                }
            }
        }
    }
}
