.container {
    width: 100%;
    direction: rtl;
    overflow: hidden;
    position: relative;

    .header {
        h3 {
            display: inline-flex;
            padding-right: 10px;
        }
    }

    .table-container {
        height: calc(100% - 70px);
        overflow-y: auto;
    }

    app-paginator {
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
    }

    .full {
        width: 100%;

        & > mat-spinner {
            margin: 150px auto !important;
        }
        & > p {
            margin: 200px auto;
        }
    }
}
