<div class='page-layout'>
    <app-header pageTitle='جستجوی معاملات'>
        <button
            (click)='searchCollapse = !searchCollapse'
            [color]="searchCollapse || !dataToShow || dataToShow.length == 0 ? 'accent' : 'primary'"
            class='search-btn'
            mat-raised-button
        >
            <mat-icon class='mat-18'>search</mat-icon>
        </button>
    </app-header>

    <div class='page-content'>
        <div *ngIf='searchCollapse || !dataToShow || dataToShow.length == 0'
             [@expandCollapse] class='search fuse-card mat-background-accent'>
            <form (submit)='submitForm()' [formGroup]='form' dir='rtl' fxLayout='column' fxLayoutAlign='start start'>
                <div fxLayout='row wrap' fxLayoutAlign='start start' fxLayoutGap='20px'>
                    <div fxLayout='column wrap' fxLayoutAlign='start start'>
                        <h3>تاریخ معامله</h3>
                        <mat-form-field appearance='outline'>
                            <mat-label>از تاریخ</mat-label>
                            <input [matDatepicker]='fromDate' [max]='today' formControlName='transactionDateStart'
                                   matInput />
                            <mat-datepicker-toggle [for]='fromDate' matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance='outline'>
                            <mat-label>تا تاریخ</mat-label>
                            <input
                                [matDatepicker]='toDate'
                                [max]='today'
                                [min]="form.get('transactionDateStart').value"
                                formControlName='transactionDateEnd'
                                matInput
                            />
                            <mat-datepicker-toggle [for]='toDate' matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class='box' fxLayout='column wrap' fxLayoutAlign='start start'>
                        <h3>حجم معامله</h3>
                        <mat-form-field appearance='outline'>
                            <mat-label>از</mat-label>
                            <input formControlName='volumeStart' matInput type='number' />
                        </mat-form-field>

                        <mat-form-field appearance='outline'>
                            <mat-label>تا</mat-label>
                            <input [min]="form.get('volumeStart').value" formControlName='volumeEnd' matInput
                                   type='number' />
                        </mat-form-field>
                    </div>

                    <div class='box' fxLayout='column wrap' fxLayoutAlign='start start'>
                        <h3>ارزش معامله (ریال)</h3>
                        <mat-form-field appearance='outline'>
                            <mat-label>از</mat-label>
                            <input formControlName='valueStart' matInput type='number' />
                        </mat-form-field>

                        <mat-form-field appearance='outline'>
                            <mat-label>تا</mat-label>
                            <input [min]="form.get('valueStart').value" formControlName='valueEnd' matInput
                                   type='number' />
                        </mat-form-field>
                    </div>

                    <div class='box' fxLayout='column wrap' fxLayoutAlign='start start'>
                        <h3>سود و زیان کل (ریال)</h3>
                        <mat-form-field appearance='outline'>
                            <mat-label>از</mat-label>
                            <input formControlName='pltStart' matInput type='number' />
                        </mat-form-field>

                        <mat-form-field appearance='outline'>
                            <mat-label>تا</mat-label>
                            <input [min]="form.get('pltStart').value" formControlName='pltEnd' matInput type='number' />
                        </mat-form-field>
                    </div>

                    <div class='box' fxLayout='column wrap' fxLayoutAlign='start start'>
                        <h3>نوع</h3>
                        <mat-form-field appearance='outline'>
                            <mat-label>مکان معامله</mat-label>
                            <mat-select formControlName='tradeLocation'>
                                <mat-option *ngFor='let location of tradeLocations' [value]='location.value'>
                                    {{ location.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance='outline'>
                            <mat-label>نوع معامله</mat-label>
                            <mat-select formControlName='tradeType'>
                                <mat-option *ngFor='let type of tradeTypes' [value]='type.value'>
                                    {{ type.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class='box' fxLayout='column wrap' fxLayoutAlign='start start'>
                        <h3>آپشن‌ها</h3>
                        <mat-form-field appearance='outline'>
                            <mat-label>دفتر/میز</mat-label>
                            <mat-select formControlName='organization' multiple>
                                <mat-checkbox
                                    #organizationAllOption
                                    (change)="selectAllHandler(organizationAllOption, 'organization', organizations, 'organizationType')"
                                    (click)='$event.stopPropagation()'
                                    [checked]="OptionAllState('organization', organizations, 'organizationType') === 'all'"
                                    [indeterminate]="OptionAllState('organization', organizations, 'organizationType') === 'indeterminate'"
                                    class='mat-all-option mat-option'
                                >همه
                                </mat-checkbox
                                >
                                <mat-option *ngFor='let org of organizations' [value]='org.organizationType'>
                                    {{ org.organizationName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance='outline' class='full-wid' fxFlex='25'>
                            <mat-label> اضافه کردن نماد</mat-label>

                            <mat-select [formControl]='addTicker' multiple='false' style='text-align: right'>
                                <ngx-mat-select-search
                                    [formControl]='tickersCtrl'
                                    [noEntriesFoundLabel]="'یافت نشد'"
                                    [placeholderLabel]="'جستجو'"
                                    style='text-align: right'
                                >
                                </ngx-mat-select-search>
                                <mat-option
                                    (click)='selectTicker(ticker)'
                                    (onSelectionChange)='selectTicker(ticker)'
                                    *ngFor='let ticker of tickers'
                                    [value]='ticker.ticker'
                                    style='text-align: right'
                                >
                                    {{ ticker?.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div *ngIf='selectedTickersList.length !== 0' fxFlex='100'>
                        <h3>نماد‌های انتخاب شده</h3>
                        <mat-chip-list>
                            <mat-chip
                                (removed)='removeTicker(ticker)'
                                *ngFor='let ticker of selectedTickersList'
                                [matTooltip]="ticker.name + '( ' + ticker.ticker + ' )'"
                                color='accent'
                                removable
                                selected='true'
                            >
                                {{ ticker.nameFa ? ticker.nameFa : ticker.name.length > 6 ? (ticker.name | slice: 0:6) + '..' : ticker.name }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <div class='w-100-p' fxFlex='100' fxLayout='row' fxLayoutAlign='center center'>
                    <button [disabled]='form.invalid' class='ml-20' color='accent' mat-flat-button type='submit'>
                        <mat-icon>search</mat-icon>
                        <span>جست‌و‌جو</span>
                    </button>

                    <button (click)='clearFilters()' class='mr-20' color='warn' mat-stroked-button type='button'>
                        <mat-icon color='warn'>delete</mat-icon>
                        <span>پاک کردن فیلترها</span>
                    </button>
                </div>
            </form>
        </div>

        <div *ngIf='dataToShow && dataToShow.length != 0' class='fuse-card data-show'>
            <app-table
                (paginationEvent)='paginationControl($event)'
                [columns]='columns'
                [data]='dataToShow'
                [paginationObject]='pagination'
                [paginationSettings]="{ mode: 'backend' }"
            >
            </app-table>
        </div>
    </div>
</div>
