<div class="page-layout">
    <app-header pageTitle="جستجوی معاملات">
        <button
            class="search-btn"
            mat-raised-button
            (click)="searchCollapse = !searchCollapse"
            [color]="searchCollapse || !dataToShow || dataToShow.length == 0 ? 'accent' : 'primary'"
        >
            <mat-icon class="mat-18">search</mat-icon>
        </button>
    </app-header>

    <div class="page-content">
        <div class="search fuse-card mat-background-accent" *ngIf="searchCollapse || !dataToShow || dataToShow.length == 0" [@expandCollapse]>
            <form dir="rtl" [formGroup]="form" (submit)="submitForm()" fxLayout="column" fxLayoutAlign="start start">
                <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">
                    <div fxLayout="column wrap" fxLayoutAlign="start start">
                        <h3>تاریخ معامله</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>از تاریخ</mat-label>
                            <input matInput formControlName="transactionDateStart" [max]="today" [matDatepicker]="fromDate" />
                            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                            <mat-datepicker #fromDate></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>تا تاریخ</mat-label>
                            <input
                                matInput
                                formControlName="transactionDateEnd"
                                [min]="form.get('transactionDateStart').value"
                                [max]="today"
                                [matDatepicker]="toDate"
                            />
                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column wrap" fxLayoutAlign="start start" class="box">
                        <h3>حجم معامله</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>از</mat-label>
                            <input matInput type="number" formControlName="volumeStart" />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>تا</mat-label>
                            <input matInput type="number" [min]="form.get('volumeStart').value" formControlName="volumeEnd" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column wrap" fxLayoutAlign="start start" class="box">
                        <h3>ارزش معامله (ریال)</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>از</mat-label>
                            <input matInput type="number" formControlName="valueStart" />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>تا</mat-label>
                            <input matInput type="number" [min]="form.get('valueStart').value" formControlName="valueEnd" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column wrap" fxLayoutAlign="start start" class="box">
                        <h3>سود و زیان کل (ریال)</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>از</mat-label>
                            <input matInput type="number" formControlName="pltStart" />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>تا</mat-label>
                            <input matInput type="number" [min]="form.get('pltStart').value" formControlName="pltEnd" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column wrap" fxLayoutAlign="start start" class="box">
                        <h3>نوع</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>مکان معامله</mat-label>
                            <mat-select formControlName="tradeLocation">
                                <mat-option *ngFor="let location of tradeLocations" [value]="location.value">
                                    {{ location.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>نوع معامله</mat-label>
                            <mat-select formControlName="tradeType">
                                <mat-option *ngFor="let type of tradeTypes" [value]="type.value">
                                    {{ type.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column wrap" fxLayoutAlign="start start" class="box">
                        <h3>آپشن‌ها</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>دفتر/میز</mat-label>
                            <mat-select formControlName="organization" multiple>
                                <mat-checkbox
                                    #organizationAllOption
                                    class="mat-all-option mat-option"
                                    (click)="$event.stopPropagation()"
                                    (change)="selectAllHandler(organizationAllOption, 'organization', organizations, 'organizationType')"
                                    [checked]="OptionAllState('organization', organizations, 'organizationType') === 'all'"
                                    [indeterminate]="OptionAllState('organization', organizations, 'organizationType') === 'indeterminate'"
                                >همه</mat-checkbox
                                >
                                <mat-option *ngFor="let org of organizations" [value]="org.organizationType">
                                    {{ org.organizationName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="full-wid" appearance="outline" fxFlex="25">
                            <mat-label> اضافه کردن نماد</mat-label>

                            <mat-select [formControl]="addTicker" multiple="false" style="text-align: right">
                                <ngx-mat-select-search
                                    style="text-align: right"
                                    [noEntriesFoundLabel]="'یافت نشد'"
                                    [placeholderLabel]="'جستجو'"
                                    [formControl]="tickersCtrl"
                                >
                                </ngx-mat-select-search>
                                <mat-option
                                    style="text-align: right"
                                    *ngFor="let ticker of tickers"
                                    (click)="selectTicker(ticker)"
                                    (onSelectionChange)="selectTicker(ticker)"
                                    [value]="ticker.ticker"
                                >
                                    {{ ticker?.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" *ngIf="selectedTickersList.length !== 0">
                        <h3>نماد‌های انتخاب شده</h3>

                        <mat-chip-list>
                            <mat-chip
                                *ngFor="let ticker of selectedTickersList"
                                [matTooltip]="ticker.name + '( ' + ticker.ticker + ' )'"
                                color="accent"
                                selected="true"
                                (removed)="removeTicker(ticker)"
                                removable
                            >
                                {{ ticker.nameFa ? ticker.nameFa : ticker.name.length > 6 ? (ticker.name | slice: 0:6) + '..' : ticker.name }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
                <div class="w-100-p" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
                    <button mat-flat-button color="accent" type="submit" class="ml-20">
                        <mat-icon>search</mat-icon>
                        <span>جست‌و‌جو</span>
                    </button>

                    <button mat-stroked-button color="warn" type="button" class="mr-20" (click)="clearFilters()">
                        <mat-icon color="warn">delete</mat-icon>
                        <span>پاک کردن فیلترها</span>
                    </button>
                </div>
            </form>
        </div>

        <div class="fuse-card data-show" *ngIf="dataToShow && dataToShow.length != 0">
            <app-table
                [data]="dataToShow"
                [columns]="columns"
                [paginationSettings]="{ mode: 'backend' }"
                [paginationObj]="pagination"
                (paginationChange)="paginationControl($event)"
            >
            </app-table>
        </div>
    </div>
</div>
