.container {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    overflow: hidden;
}

.loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    height: 100%;
    width: 100%;
}
