<div class="container fuse-card">
    <div class="table" *ngIf="stateType === 'PRESENT'">
        <app-table [data]="data" [columns]="columns"> </app-table>
    </div>

    <div *ngIf="stateType === 'FAIL'" fxLayout="row wrap" fxLayoutAlign="center center">دریافت داده ناموفق بود</div>
    <p *ngIf="data && data.length == 0 && stateType === 'PRESENT'" class="text-center">داده‌ای برای نمایش وجود ندارد</p>
    <div *ngIf="stateType === 'LOADING'" class="loader">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
</div>
