<div class='content' fxLayout='column wrap'>
    <div class='pie-chart-container' fxLayout='row' fxLayoutAlign='space-between center'>
        <app-pie-chart [cardLayout]='true' [data]='aumEtf.institutionPieChart' categoryLabel='name' chartName='نهاد‌ها'
                       height='300px'>
        </app-pie-chart>
        <app-pie-chart [cardLayout]='true' [data]='aumEtf.industryPieChart' categoryLabel='name' chartName='صنعت‌ها'
                       height='300px'></app-pie-chart>
        <app-pie-chart [cardLayout]='true' [data]='aumEtf.toolsPieChart' categoryLabel='name' chartName='ابزار‌ها'
                       height='300px'></app-pie-chart>
    </div>

    <div fxLayout='row wrap' fxLayoutAlign='space-between center' style='height: 450px; margin-bottom: 20px'>
        <div class='totalAssetsValueContainer' fxFlex='30'>
            <div class='fuse-card' fxLayout='column wrap' fxLayoutAlign='center center'>
                <h2>ارزش کل دارایی‌ها</h2>
                <span class='totalAssetsValue'>
                    {{ aumEtf.totalAssetsValue | price }}
                </span>
            </div>
        </div>

        <div class='fuse-card' fxFlex='70' fxLayout='column'>
            <h2 style='text-align: center'>نمودار ارزش کل دارایی‌ها</h2>
            <app-trend-chart [convertJalali]='true' [data]='aumEtf.chart' height='380px'></app-trend-chart>
        </div>
    </div>
</div>

<div *ngIf='isTableShowing' class='fuse-card'>
    <app-table [columns]='tableColumn' [data]='aumEtf.table' [paginationSettings]="{ mode: 'local' }"></app-table>
</div>
