<div class="form-mat-tab-group-container">
    <mat-tab-group>
        <mat-tab label="اطلاعات قرارداد">
            <app-contract-base-info-form (newData)="onSubFormSubmit($event)"
                                         [data]="baseObj?.contractBaseInfo"></app-contract-base-info-form>
            <form [formGroup]="form">
                <div class="contract-form-container">
                    <div class="contract-form-header">
                        اطلاعات عمومی
                    </div>
                    <div class="contract-form-body" dir="rtl">
                        <div class="contract-form-row">

                            <mat-form-field appearance="outline">
                                <mat-label>نوع اوراق
                                    <span style="color: red">*</span>
                                </mat-label>
                                <mat-select formControlName="securityType">
                                    <mat-option style="text-align: right" *ngFor="let c of securityMap| keyvalue"
                                                [value]="c?.key">
                                        {{c?.value}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>قیمت اسمی اوراق</mat-label>
                                <input type="number" matInput formControlName="securityParValue">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تاریخ سررسید</mat-label>
                                <input (click)="start3.open()" matInput formControlName="prepaymentReceivingDate"
                                       [matDatepicker]="start3">
                                <mat-datepicker-toggle matSuffix [for]="start3"></mat-datepicker-toggle>
                                <mat-datepicker #start3></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>


                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>قیمت اسمی اوراق</mat-label>
                                <input type="number" matInput formControlName="securityParValue">
                            </mat-form-field>
                            <mat-form-field class="full-wid" appearance="outline">
                                <mat-label>تاریخ دریافت پیش پرداخت</mat-label>
                                <input (click)="start123.open()" matInput formControlName="prepaymentReceivingDate"
                                       [matDatepicker]="start123">
                                <mat-datepicker-toggle matSuffix [for]="start123"></mat-datepicker-toggle>
                                <mat-datepicker #start123></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-wid" appearance="outline">
                                <mat-label>تاریخ تحویل مستندات مربوطه</mat-label>
                                <input (click)="start154.open()" matInput
                                       formControlName="relatedDocumentsDeliveredDate"
                                       [matDatepicker]="start154">
                                <mat-datepicker-toggle matSuffix [for]="start154"></mat-datepicker-toggle>
                                <mat-datepicker #start154></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ کارمزد قرارداد</mat-label>
                                <input type="number" matInput formControlName="contractFeeRate">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>مبلغ کارمزد قرارداد</mat-label>
                                <input type="number" matInput formControlName="contractFeeAmount">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>تعداد پرداخت ها</mat-label>
                                <input type="number" matInput formControlName="paymentCounts">
                            </mat-form-field>


                        </div>

                        <div class="contract-form-row">

                            <mat-form-field appearance="outline">
                                <mat-label>حق توفیق</mat-label>
                                <input type="number" matInput formControlName="successAmount">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>تاریخ دریافت حق توفیق</mat-label>
                                <input (click)="start13466.open()" matInput formControlName="successAmountReceivingDate"
                                       [matDatepicker]="start13466">
                                <mat-datepicker-toggle matSuffix [for]="start13466"></mat-datepicker-toggle>
                                <mat-datepicker #start13466></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>


                            <mat-form-field appearance="outline">
                                <mat-label>دلیل خاتمه اتمام قرارداد
                                    <span style="color: red">*</span>
                                </mat-label>
                                <mat-select formControlName="contractEndingReason">
                                    <mat-option style="text-align: right"
                                                *ngFor="let c of contractEndingReasons| keyvalue"
                                                [value]="c?.key">
                                        {{c?.value}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>

                        </div>
                        <div class="contract-form-row">

                            <mat-form-field appearance="outline">
                                <mat-label>شرح دلیل خاتمه قرارداد
                                    <span style="color: red">*</span>
                                </mat-label>
                                <textarea formControlName="contractEndingReasonExplanation" matInput></textarea>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>تواتر محاسبه وجه التزام جریمه دیرکرد کارمزد</mat-label>
                                <mat-select formControlName="marketMakingFeesFreq">
                                    <mat-option style="text-align: right" *ngFor="let s of formsModelService.freqTypes"
                                                [value]="s?.id">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>نرخ سالانه وجه التزام جریمه دیرکرد کارمزد</mat-label>
                                <input type="number" matInput formControlName="feeCashDelinquencyConsiderationRate">
                            </mat-form-field>


                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد انتشار</mat-label>
                                <input type="number" matInput formControlName="securityIsssuedCounts">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>دوره تنفس در صورت دیرکرد کارمزد (روز)</mat-label>
                                <input type="number" matInput formControlName="feeCashDelinquencyGracePeriod">
                            </mat-form-field>

                        </div>

                    </div>
                </div>

            </form>
        </mat-tab>

        <mat-tab label=" صورتحساب">
            <app-invoice-info (newData)="onSubFormSubmit($event)" [data]="baseObj?.invoiceInfo"></app-invoice-info>
        </mat-tab>

        <mat-tab label="اطلاعات پرداختی های قرارداد">
            <app-contract-payments-info (newData)="onSubFormSubmit($event)"
                                        [data]="baseObj?.contractPaymentsInfo"></app-contract-payments-info>
        </mat-tab>

    </mat-tab-group>
    <button (click)="createFormApi()" [color]="'primary'" mat-raised-button
            class="save-form-button">
        <mat-icon>save</mat-icon>
        ذخیره
        فرم
    </button>
</div>