<div class="page-layout">
    <app-header pageTitle="لیست صفحات تست کامپوننت‌های جدید"></app-header>

    <div class="page-content" fxLayout="row wrap" fxLayoutAlign="center start">
        <div class="fuse-card" routerLink="/test/page1">
            <div class="card-header">
                <mat-icon class="mat-18">table_view</mat-icon>
            </div>
            <div class="card-body">
                <h2>جدول</h2>
                <p>جدول جنرال ساخته شده</p>
            </div>
        </div>

        <div class="fuse-card" routerLink="/test/page2">
            <div class="card-header">
                <mat-icon class="mat-18">pie_chart</mat-icon>
            </div>
            <div class="card-body">
                <h2>پای چارت</h2>
                <p>پای چارت با قابلیت وارد شدن</p>
            </div>
        </div>

        <div class="fuse-card" routerLink="/test/page3">
            <div class="card-header">
                <mat-icon class="mat-18">check_box</mat-icon>
            </div>
            <div class="card-body">
                <h2>فرم انتخاب درختی</h2>
                <p>فرم انتخابی با قابلیت نمایش درخت و انتخاب چند مورد</p>
            </div>
        </div>

        <div class="fuse-card" routerLink="/test/page4">
            <div class="card-header">
                <mat-icon class="mat-18">pageview</mat-icon>
            </div>
            <div class="card-body">
                <h2>فرم سرچ سلکت</h2>
                <p>فرم با قابلیت سرچ و انتخاب</p>
            </div>
        </div>

        <div class="fuse-card" routerLink="/test/page5">
            <div class="card-header">
                <mat-icon class="mat-18">pageview</mat-icon>
            </div>
            <div class="card-body">
                <h2>گیج چارت</h2>
                <p>گیج چارت با قابلیت‌های خیلی زیاد</p>
            </div>
        </div>

        <div class="fuse-card disabled">
            <div class="card-header">
                <mat-icon class="mat-18">model_training</mat-icon>
            </div>
            <div class="card-body">
                <h2>و ...</h2>
                <p>کامپوننت‌های دیگر بزودی ...</p>
            </div>
        </div>
    </div>
</div>
