<div class="page-layout">

    <app-header pageTitle="کارتابل قرارداد‌ها">
        <button mat-raised-button color="primary" class="submit-button" (click)="addFlowInstance()">ثبت قرارداد</button>
    </app-header>

    <div class="page" dir="rtl" style="flex: 1">
        <div id="table-container" class="fuse-card">
            <div style="width: 100%">
                <app-table
                    [data]="dataSource"
                    [columns]="column"
                    [paginationSettings]="{ mode: 'local' }"
                    (searchEvent)='search($event)'
                ></app-table>
            </div>
        </div>
    </div>
</div>
