<form #myForm="ngForm" [formGroup]="contractPaymentForm" class="contract-form-container">
    <div class="contract-form-header">اطلاعات پرداختی قرارداد</div>
    <div class="contract-form-body" dir="rtl">
        <div class="contract-form-row">
            <mat-form-field appearance="outline">
                <mat-label>درصد پرداخت</mat-label>
                <input type="number" formControlName="percent" matInput required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>مبلغ پرداخت</mat-label>
                <input type="number" formControlName="amount" matInput required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>توضیح پرداخت</mat-label>
                <input formControlName="description" matInput required />
            </mat-form-field>
        </div>
        <div class="contract-form-row-2">
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>تاریخ پرداخت</mat-label>
                <input (click)="start3.open()" matInput formControlName="date" [matDatepicker]="start3" />
                <mat-datepicker-toggle matSuffix [for]="start3"></mat-datepicker-toggle>
                <mat-datepicker #start3></mat-datepicker>
                <mat-error> وارد کردن این فیلد الزامی است. </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>تعداد روز تاخیر در پرداخت</mat-label>
                <input type="number" formControlName="delayingDate" matInput required />
            </mat-form-field>
            <div>
                <button
                    mat-raised-button
                    *ngIf="selectedContractPaymentIndex == null"
                    [disabled]="contractPaymentForm.invalid"
                    (click)="add()"
                    class="save-button"
                    style="width: 200px; height: 40px"
                    [color]="'accent'"
                >
                    <mat-icon> add </mat-icon>
                    افزودن
                </button>
                <button
                    mat-raised-button
                    *ngIf="selectedContractPaymentIndex != null"
                    [disabled]="contractPaymentForm.invalid"
                    (click)="edit()"
                    class="save-button"
                    style="width: 200px; height: 40px"
                    [color]="'accent'"
                >
                    <mat-icon> edit </mat-icon>
                    اصلاح
                </button>
                <button mat-raised-button *ngIf="selectedContractPaymentIndex != null" (click)="clear()" class="save-button" style="width: 200px; height: 40px">
                    <mat-icon> close </mat-icon>
                    برگشت
                </button>
            </div>
        </div>
    </div>
    <div class="form-tab-table-container">
        <mat-table [dataSource]="dataSource" [@animateStagger]="{ value: '50' }">
            <!-- firstName Column -->
            <ng-container matColumnDef="percent">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>درصد پرداخت</mat-header-cell>
                <mat-cell *matCellDef="let contractpayment" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ contractpayment?.percent }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>مبلغ پرداخت</mat-header-cell>
                <mat-cell *matCellDef="let contractpayment" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ contractpayment.amount | price }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>توضیح پرداخت</mat-header-cell>
                <mat-cell *matCellDef="let contractpayment" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ contractpayment.description }}
                    </p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>تاریخ پرداخت</mat-header-cell>
                <mat-cell *matCellDef="let contractpayment" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ contractpayment.date | convertDate }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="delayingDate">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>تعداد روز تاخیر در پرداخت</mat-header-cell>
                <mat-cell *matCellDef="let contractpayment" fxHide fxShow.gt-sm>
                    <p class="email text-truncate">
                        {{ contractpayment.delayingDate }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>عملیات</mat-header-cell>
                <mat-cell *matCellDef="let contractpayment; let i = index" fxHide fxShow.gt-sm>
                    <button
                        class="edit-button"
                        mat-raised-button
                        color="warn"
                        style="color: white; background-color: orange"
                        (click)="editContractPayment(contractpayment, i)"
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button style="margin-right: 10px" mat-raised-button color="warn" (click)="delete(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns" matRipple [@animate]="{ value: '*', params: { y: '100%' } }"> </mat-row>
        </mat-table>
        <ng-container *ngIf="dataSource.data.length === 0">
            <div style="display: flex; align-items: center; justify-content: center; padding: 30px; flex-direction: column">
                <img width="140px" height="140px" src="./assets/images/no-data.svg" alt="no data" />
                <div style="font-size: 13px; color: #449fdb; margin-top: 7px">موردی وجود ندارد</div>
            </div>
        </ng-container>
    </div>
</form>
