<div class="inner-scroll" fxLayout="row" fxLayoutAlign="start" id="login">
    <div fxFlex fxHide fxShow.gt-xs id="login-intro">
        <div [@animate]="{ value: '*', params: { scale: '0.2' } }" class="logo">
            <img alt="logo" src="../../../assets/images/logo.png" style="padding: 10px" />
        </div>

        <div [@animate]="{ value: '*', params: { delay: '100ms', y: '25px' } }" class="description">
            شرکت مدیریت ریسک هوشمند ایرانیان از اسفند ماه 1397 فعالیت خود را در حوزه مدیریت ریسک آغاز کرد. مدیریت ریسک در حوزه­های مختلفی همچون سرمایه­ گذاری،
            حسابداری تطبیق، حاکمیت شرکتی مدیریت عملکرد، مدیریت و ارزیابی پروژه، هوشمندی کسب و کار و سایر حوزه­­ های مالی و غیر مالی و برای کلیه اشخاص حقوقی و
            غیرحقوقی اعم از داخلی و خارجی کاربرد دارد و عامل تولید و فروش سیستم ­های نرم ­افزاری مربوط به این حوزه ­ها است.
        </div>

        <div class="copy-right">
            <h5>
                © 1399 تمامی حقوق متعلق به
                <a href="https://www.hooshmandrisk.ir" target="__blank__">شرکت مدیریت ریسک هوشمند ایرانیان</a>
                می باشد.
            </h5>
        </div>
    </div>

    <div [@animate]="{ value: '*', params: { delay: '300ms', x: '100%' } }" dir="rtl" fusePerfectScrollbar id="login-form-wrapper" class="h-screen">
        <div id="login-form">
            <div class="title" [innerText]="isSmsSent ? 'لطفا کد اعتبار سنجی و رمز جدید را وارد نمایید:' : 'لطفا کدملی خود را وارد نمایید:'"></div>
            <form [formGroup]="!isSmsSent ? forgetPasswordForm : verifyOtpSmsForm">
                <div *ngIf="!isSmsSent; else passworod">
                    <mat-form-field appearance="outline" class="mb-2">
                        <mat-label>کد ملی</mat-label>
                        <input formControlName="nationalCode" matInput required />
                        <mat-icon class="secondary-text" matSuffix>person</mat-icon>
                        <mat-error> کد ملی الزامی می‌باشد.</mat-error>
                    </mat-form-field>
                </div>

                <ng-template #passworod>
                    <mat-form-field appearance="outline" class="mb-2">
                        <mat-label>رمز جدید</mat-label>
                        <input formControlName="newPassword" matInput type="password" />
                        <mat-icon class="secondary-text" matSuffix>password</mat-icon>
                        <mat-error>رمز جدید الزامی می‌باشد.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="mb-2">
                        <mat-label>تکرار رمز جدید</mat-label>
                        <input formControlName="confirmNewPassword" matInput type="password" />
                        <mat-icon class="secondary-text" matSuffix>password</mat-icon>
                        <mat-error>تکرار رمز جدید الزامی می‌باشد.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="mb-2">
                        <mat-label>کد</mat-label>
                        <input formControlName="otp" matInput />
                        <mat-icon class="secondary-text" matSuffix>pin</mat-icon>
                        <mat-error>کد الزامی می‌باشد.</mat-error>
                    </mat-form-field>
                </ng-template>

                <button
                    [disabled]="!isSmsSent ? forgetPasswordForm.invalid : verifyOtpSmsForm.invalid"
                    class="submit-button flex justify-center items-center py-3 text-white"
                    color="primary"
                    mat-raised-button
                    type="button"
                    (click)="!isSmsSent ? forgetPasswordFormSubmit() : verifyOtpSmsFormSubmit()"
                >
                    <div *ngIf="!isSmsSent; else sms">
                        <span class="flex items-center justify-center">
                            ارسال پیامک
                            <mat-icon matSuffix class="flip-img px-3 mr-7">email</mat-icon>
                        </span>
                    </div>
                    <ng-template #sms>
                        <span class="flex items-center justify-center"> تایید </span>
                    </ng-template>
                </button>
            </form>
        </div>
    </div>
</div>
