<div class="dialog-content-wrapper p-0" dir="rtl">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ dialogTitle }}</span>
            <button mat-icon-button (click)="matDialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0">
        <form class="form">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>دلیل</mat-label>
                    <textarea name="reason" [formControl]="reason" matInput required></textarea>
                </mat-form-field>
            </div>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-24" fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="this.action === 'reject'" color="primary" mat-raised-button class="save-button" (click)="reject()" [disabled]="reason.invalid || loading">
            ثبت علت و رد کردن
        </button>

        <button *ngIf="this.action === 'puase'" color="primary" mat-raised-button class="save-button" (click)="stop()" [disabled]="reason.invalid || loading">
            ثبت علت و متوقف کردن
        </button>
    </div>
</div>
