<div class='fuse-card container'>
    <ng-container *ngIf='state === stateType.PRESENT'>
        <div *ngFor='let chart of treeCharts' class='chartItem'>
            <div [routerLink]="['/' + opRiskPrefix + '/tree-chart/' + chart.titleEN]" class='fuse-card'
                 routerLinkActive='active'>
                <mat-icon> {{ chart.icon }} </mat-icon>
            </div>
            <span> {{ chart.titleFA }} </span>
        </div>
    </ng-container>

    <div *ngIf='state === stateType.LOADING' class='loader' fxLayout='row wrap' fxLayoutAlign='center center'>
        <mat-spinner [diameter]='50'></mat-spinner>
    </div>
</div>
