<mat-expansion-panel>
    <mat-expansion-panel-header>
        <h5>
            <mat-icon>font_download</mat-icon>
            دکمه
            #{{data.id}}
        </h5>
        <button mat-icon-button color="warn" style="margin: auto auto auto 0" (click)="deleteThis()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-expansion-panel-header>
    <mat-panel-description>
        <form [formGroup]="valueForm">

            <mat-form-field appearance="standard">
                <mat-label>نام این فیلد</mat-label>
                <input matInput formControlName="name" required>
                <mat-error>
                    پرکردن نام الزامیست.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
                <mat-label>نوع</mat-label>
                <select matNativeControl required  formControlName="builderType">
                    <option value="upload"> آپلود</option>
                    <option value="download">دانلود</option>
                    <option value="confirm">دکمه‌ی تایید</option>
                    <option value="reject">دکمه ی رد</option>
                    <option value="generateCode">تولید کد</option>
                </select>
            </mat-form-field>


            <!-- <mat-form-field appearance="standard">
                <mat-label>شکل</mat-label>
                <select matNativeControl required  formControlName="valueType">
                    <option value="default">دکمه‌ی عادی</option>
                    <option value="danger">دکمه‌ی اخطار</option>
                    <option value="tip">دکمه‌ی اطلاعات</option>
                    <option value="primary">دکمه‌ی اصلی</option>
                    <option value="success">دکمه‌ی موفقیت</option>
                    <option value="warning">دکمه‌ی هشدار</option>
                </select>
            </mat-form-field> -->

            <!-- <mat-checkbox formControlName="required" dir="rtl">
                آیا این فیلد اجباریست؟
            </mat-checkbox> -->

            <!-- <mat-form-field appearance="standard" *ngIf="valueForm.get('required').value">
                <mat-label>پیام خطا</mat-label>
                <input matInput formControlName="requiredErrorMsg" required>
                <mat-error>
                    پرکردن این فیلد الزامیست.
                </mat-error>
            </mat-form-field> -->


        </form>
    </mat-panel-description>
</mat-expansion-panel>