<div class="form-mat-tab-group-container">
    <mat-tab-group>
        <mat-tab label="اطلاعات قرارداد">
            <app-contract-base-info-form (newData)="onSubFormSubmit($event)"
                                         [data]="baseObj?.contractBaseInfo">
            </app-contract-base-info-form>
            <form [formGroup]="form">
                <div class="contract-form-container">
                    <div class="contract-form-header">
                        اطلاعات عمومی
                    </div>
                    <div class="contract-form-body" dir="rtl">
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>شماره قرارداد بازارگردانی اصلی</mat-label>
                                <input matInput formControlName="originalMarketmakingOriginalContractNumber">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>درصد واگذاری به بازارگردان ثانویه</mat-label>
                                <input matInput formControlName="percentageSecondaryMarketMakingTransfer">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد واگذاری به بازارگردان ثانویه</mat-label>
                                <input matInput formControlName="numberSecondaryMarketMakingTransfer">
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>درصد حداقل معاملات روزانه بازارگردان ثانویه</mat-label>
                                <input type="number" matInput formControlName="minimumDailySecondaryMarketMakingPer">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد حداقل معاملات روزانه بازارگردان ثانویه</mat-label>
                                <input type="number" matInput formControlName="minimumDailySecondaryMarketMakingNum">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>کل مبلغ کارمزد پرداختی واگذاری بازارگردانی</mat-label>
                                <input type="number" matInput formControlName="totalAmountPaidSecondaryMarketMaking">
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تاریخ پرداخت اولین کارمزد بازارگردان ثانویه</mat-label>
                                <input (click)="start1549.open()" matInput formControlName="firstDateMarketMakingFees"
                                       [matDatepicker]="start1549">
                                <mat-datepicker-toggle matSuffix [for]="start1549"></mat-datepicker-toggle>
                                <mat-datepicker #start1549></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر دوره های پرداخت کارمزد بازارگردان ثانویه (ماهانه)</mat-label>
                                <mat-select formControlName="marketMakingFeesFreq">
                                    <mat-option style="text-align: right" [value]="s?.id"
                                                *ngFor="let s of formsModelService.freqTypes">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد کل دوره های پرداخت کارمزد بازارگردان ثانویه</mat-label>
                                <input type="number" matInput formControlName="marketMakingFeesCounts">
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر دوره های پرداخت کارمزد بازارگردان ثانویه (ماهانه)</mat-label>
                                <mat-select formControlName="feeCashDelinquencyConsiderationFreq">
                                    <mat-option style="text-align: right" [value]="s?.id"
                                                *ngFor="let s of formsModelService.freqTypes">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ وجه التزام جریمه دیرکرد کارمزد (سالانه)</mat-label>
                                <input type="number" matInput formControlName="feeCashDelinquencyConsiderationRate">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>دوره تنفس در صورت دیرکرد کارمزد (روز)</mat-label>
                                <input type="number" matInput formControlName="feeCashDelinquencyGracePeriod">
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ تنخواه بازارگردان ثانویه</mat-label>
                                <input type="number" formControlName="pettyCashAmount" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>مبلغ تنخواه بازارگردان ثانویه</mat-label>
                                <input type="number" formControlName="pettyCashPercent" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تاریخ پرداخت اولین تنخواه به بازارگردان ثانویه</mat-label>
                                <input (click)="start154.open()" matInput formControlName="receiptFirstMarketMakingDate"
                                       [matDatepicker]="start154">
                                <mat-datepicker-toggle matSuffix [for]="start154"></mat-datepicker-toggle>
                                <mat-datepicker #start154></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">

                            <mat-form-field appearance="outline">
                                <mat-label>تواتر دریافت تنخواه (ماهانه)</mat-label>
                                <mat-select formControlName="pettyCashFreq">
                                    <mat-option style="text-align: right" [value]="s?.id"
                                                *ngFor="let s of formsModelService.freqTypes">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد تنخواه ها</mat-label>
                                <input type="number" formControlName="pettyCashCounts" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر محاسبه وجه التزام جریمه دیرکرد کارمزد</mat-label>
                                <mat-select formControlName="feeCashDelinquencyConsiderationFreq">
                                    <mat-option style="text-align: right" [value]="s?.id"
                                                *ngFor="let s of formsModelService.freqTypes">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ سالانه وجه التزام جریمه دیرکرد پرداخت تنخواه</mat-label>
                                <input formControlName="pettyCashDelinquencyConsiderationRate" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>دوره تنفس در صورت دیرکرد پرداخت تنخواه (روز)</mat-label>
                                <input formControlName="pettyCashDelinquencyGracePeriod" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تاریخ دریافت عودت تنخواه بازارگردانی</mat-label>
                                <input (click)="start1554.open()" matInput formControlName="pettyCashPayingBackDate"
                                       [matDatepicker]="start1554">
                                <mat-datepicker-toggle matSuffix [for]="start1554"></mat-datepicker-toggle>
                                <mat-datepicker #start1554></mat-datepicker>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر دوره های عودت تنخواه (ماهانه)</mat-label>
                                <mat-select formControlName="pettyCashPayingBackFreq">
                                    <mat-option style="text-align: right" [value]="s?.id"
                                                *ngFor="let s of formsModelService.freqTypes">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تعداد کل دوره های عودت تنخواه</mat-label>
                                <input matInput formControlName="pettyCashPayingBackCounts">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>تواتر محاسبه وجه التزام جریمه دیرکرد عودت تنخواه</mat-label>
                                <mat-select formControlName="pettyCashPayingBackDelinquencyConsiderationFreq">
                                    <mat-option style="text-align: right" [value]="s?.id"
                                                *ngFor="let s of formsModelService.freqTypes">
                                        {{s?.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    وارد کردن این فیلد الزامی است.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="contract-form-row">
                            <mat-form-field appearance="outline">
                                <mat-label>نرخ سالانه وجه التزام جریمه دیرکرد عودت تنخواه</mat-label>
                                <input matInput formControlName="pettyCashPayingBackDelinquencyConsiderationRate">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>دوره تنفس در صورت دیرکرد عودت تنخواه (روز)</mat-label>
                                <input matInput formControlName="pettyCashPayingBackDelinquencyGracePeriod">
                            </mat-form-field>

                        </div>
                    </div>
                </div>
            </form>
        </mat-tab>
        <mat-tab label=" وثایق">
            <app-collateral-info (newData)="onSubFormSubmit($event)"
                                 [data]="baseObj?.collateralInfo"></app-collateral-info>
        </mat-tab>
        <mat-tab label=" صورتحساب">
            <app-invoice-info (newData)="onSubFormSubmit($event)" [data]="baseObj?.invoiceInfo"></app-invoice-info>
        </mat-tab>
        <mat-tab label="نرخ کارمزد بازارگردانی">
            <app-market-making-fees-receiving-info (newData)="onSubFormSubmit($event)"
                                                   [data]="baseObj?.marketMakingFeesReceivingInfo"></app-market-making-fees-receiving-info>
        </mat-tab>
        <!--<mat-tab label="test1">-->
        <!--<app-securities-holding-fees-info></app-securities-holding-fees-info>-->
        <!--</mat-tab>-->
        <!--<mat-tab label="test2">-->
        <!--<app-investor-inventories-in-beginngs-of-contract></app-investor-inventories-in-beginngs-of-contract>-->
        <!--</mat-tab>-->
    </mat-tab-group>
    <button (click)="createFormApi()" [color]="'primary'" mat-raised-button
            class="save-form-button">
        <mat-icon>save</mat-icon>
        ذخیره
        فرم
    </button>
</div>